.jz-checkbox {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.jz-checkbox label {
  position: relative;
  cursor: pointer;
  width: 18px;
  height: 18px;
  margin: 0 5px 0 0;
  background: transparent;
  border: 1px solid;
  &:after {
    content: '';
    width: 13px;
    height: 6px;
    position: absolute;
    top: 9px;
    left: 1px;
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    background: transparent;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: left top;
    transform-origin: left top;
  }
}

.jz-checkbox input[type=checkbox] {
  opacity: 0;
  &:checked + label {
    opacity: 1;
    background: $color-pink-primary;
    border: 1px solid #ed0295;
  }
  &:focus + label {
    border: 1px solid #ed0295;
    &:after {
      opacity: 1;
      -webkit-animation: check 0.28s;
      animation: check 0.28s;
    }
  }
}

.jz-checkbox .label {
  display: inline-block;
  line-height: 18px;
  vertical-align: top;
  font-size: 12px;
  padding-left: 16px;
  margin-top: 1px;
}
