<div class="page-hdr-wrp" >
        <jazz-header type="landing" (loginClick) = "onLoginClicked($event)" noLink = 'noLink' [closed]="closed"></jazz-header>
    </div>
    <div class="page-body">
        <div class="error-wrp">
            <div class="error-txt-wrp">
                <div class="error-hdr">{{errorHdr}}</div>
                <div class="error-txt">{{errorTxt}}</div>
                <btn-jazz-primary newclass="buttonPadding" text="GO BACK HOME" (click)="backtohome()"></btn-jazz-primary>
                <div class="suggest-text">If the problem persists, please try again one more time, or
                    <a (click)='goToAbout("about")'> contact us</a>
                </div>
            </div>
        </div>
    </div>
    <sidebar (loginClick) = "onLoginClicked($event)" [show]="goToLogin" (onClose)="closeSidebar($event)">
        <login></login>
    </sidebar>
