@import './../../../main-styles';
:host {
  display: block;
  min-height: 100vh;
  background-color: #f3f3f3;
}

.page-hdr-wrp {
  margin-bottom: 56px;
}

.page-body {
  margin: 0 1.5rem;
  height: 100%;
  height: calc(100vh - 168px);
  min-height: 20rem;
  position: relative;
  text-align: center;
  @media (min-width: $screen-sm) {}
  @media (min-width: $screen-md) {}
  @media (min-width: $screen-lg) {}
}

.content-wrp {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  overflow-x: hidden;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
  background-color: #ffffff;
  margin: 0 auto;
  box-shadow: 0 2px 4px 0 rgba(180, 180, 211, 0.4);
  @media (min-width: $screen-sm) {
    width: 90%;
  }
  @media (min-width: $screen-md) {
    width: 80%;
  }
  @media (min-width: $screen-lg) {
    width: 60%;
    max-width: 50rem;
  }
}

.content-section {
  min-height: 30rem;
  padding: 4rem 2rem 2rem;
  @media (min-width: $screen-md) {
    padding: 4rem 5rem;
  }
}

.status-row {
  font-size: 24px;
  font-weight: bold;
  img {
    height: 64px;
    margin-bottom: 1rem;
  }
  p {
    margin-bottom: 1.5rem;
    margin-top: 1rem;
  }
  .icon-icon-good,
  .icon-icon-bad {
    font-size: 3rem;
  }
}

.success-text {
  color: #81c92e;
}

.error-text {
  color: #d0021b;
}

.details-row {
  font-size: 16px;
}

.action-row {
  color: #ed008c;
  font-size: 16px;
  font-weight: bold;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 3rem 0 5rem;
}

.loading-screen {
  display: none;
}

.loading-circle {
  height: 3rem;
  width: 100%;
  top: calc(50% - 1.5rem);
  left: 0;
  position: absolute;
}

footer {
  // padding: 0 125px;
  /deep/ .ft-logo {
    left: 50px;
  }
}

.page-body {
  height: calc(100vh - 221px);
}

.retry {
  margin-bottom: 25px;
}

.gotoService,
.retru-btn {
  /deep/ .btnT-radial-in {
    padding: 10px 25px !important;
    width: 16rem;
  }
}

.retryService {
  /deep/ .btnT-radial-in {
    padding: 10px 20px !important;
  }
}

.column.retry {
  /deep/ button.btn-primary {
    padding: 10px;
    width: 10rem;
  }
}

.status-row {
  padding-top: 4rem;
}

.icon-icon-success {
  color: #81C92E;
  font-size: 5rem;
  padding-bottom: 1rem;
}

.gotoService {
  /deep/ .btnT-radial-in {
    width: 16rem !important;
  }
}

.rebuild_message {
  color: #81c92e;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}
