@import './../../../../main-styles.scss';
@import './../../../pages/service-metrics/service-metrics.component.scss';
.no-border-no-padding {
  border: none !important;
  padding-bottom: 0 !important;
}

.newone {
  width: 20px;
  top: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  background: none;
  background-color: #fff;
}

.irs-single {
  background: #ed008c !important;
}

.slider-wrap {
  /deep/.irs-single {
    background: #ed008c !important;
  }
  /deep/.irs-line-mid {
    border-radius: 10px !important;
  }
  /deep/.irs-bar-edge {
    background: none !important;
    background-color: #ed008c !important;
    border-bottom-left-radius: 10px !important;
    border-top-left-radius: 10px !important;
    width: 10px !important;
  }
  /deep/.irs-single {
    background: none !important;
    background-color: #ed008c !important;
  }
  /deep/.irs-bar {
    background: none !important;
    left: 10px !important;
    background-color: #ed008c !important;
  }
  /deep/.irs-slider {
    /deep/.single {
      width: 20px !important;
      top: 20px !important;
      height: 20px !important;
      border-radius: 50% !important;
      cursor: pointer !important;
      background: none !important;
      background-color: #fff !important;
    }
  }
  /deep/.single {
    width: 20px !important;
    top: 20px !important;
    height: 20px !important;
    border-radius: 50% !important;
    cursor: pointer !important;
    background: none !important;
    background-color: #fff !important;
  }
  /deep/.irs-max {
    background: none !important;
  }
  /deep/.irs-min {
    background: none !important;
  }
}

// .
.filter-icon {
  margin: 0 0 0 0rem; // margin-left: 25px;
  .icon-icon-filter-unselected {
    box-shadow: none;
    border-radius: 3px;
  }
}
