@import './../../../main-styles';
.page-body {
  background-color: #f3f3f3;
  text-align: center;
  width: 100%;
  height: calc(100vh - 56px);
}

.error-txt-wrp {
  padding: 0 30px;
  position: absolute;
  width: 40%;
  top: 25%;
}

.error-wrp {
  background-image: url("../../../assets/images/error-404.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f3f3f3;
  color: #555555;
  text-align: center;
  margin: 0 auto;
  height: inherit;
  .suggest-text {
    color: #000;
    font-size: 1.2rem;
    padding: 40px;
    a {
      cursor: pointer;
    }
  }
}

.error-hdr {
  font-size: 2.5rem;
  font-weight: bold;
  padding: 40px 0 25px 0;
}

.error-txt {
  padding-bottom: 40px;
  font-size: 1.5rem;
  a {
    cursor: pointer;
  }
}

.loading-circle {
  position: relative; // height: 3rem;
  &:before,
  &:after {
    content: "";
    position: absolute;
    left: calc(50% - 1.5rem);
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: 3px solid rgba(237, 0, 133, 0.1);
  }
  &:after {
    content: "";
    position: absolute;
    border-left-color: #ed0085;
    animation-name: rotate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

.timer-bg {
  background-image: url("../../../assets/images/nda.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.retryTxt {
  top: calc(50% - 56px);
  position: relative;
  text-align: center; // width:50%;
  // padding: 0 30px;
}

.loading-row {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
  left: 0;
  .loader-wrap {
    top: 50%;
    position: relative;
    text-align: center;
  }
  .error-text {
    position: relative;
    text-align: center;
    top: 45%;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 300;
  }
}
