<div class="page-hdr-wrp" >
	<jazz-header type="landing" (loginClick) = "onLoginClicked($event)" noLink = 'noLink' [closed]="closed"></jazz-header>
</div>
<div class="page-body">
        <div class="loading-row" [class.timer-bg]='settime' [style.display]="loadingpage ? 'block':'none'">
            <div class=""[ngClass]='settime ? "retryTxt":"loader-wrap"'>
                <div *ngIf='!settime' class="loading-circle"></div>
                <!-- <div class="error-hdr">{{errorHeader}}</div> -->
                <div *ngIf='settime' class="error-txt">Looks like there is no service available right now!!</div>
                <div *ngIf='settime'>We will retry in <span>{{timeset}}</span></div>
                <a *ngIf='settime' (click)="retryAgain()">Retry</a>
            </div>
    </div>
    <div class="error-wrp" [style.display]="loadingpage ? 'none':'block'">
        <div class="error-txt-wrp">
            <div class="error-hdr">Oops!</div>
            <div class="error-txt">Your service is not yet available.</div>
            <btn-jazz-primary newclass="buttonPadding" text="GO BACK HOME" (click)="backtohome()"></btn-jazz-primary>
            <div class="suggest-text">If the problem persists, please <a (click)="retryAgain()">try again</a> one more time, or
                <a (click)='goToAbout("about")'> contact us</a>
            </div>
        </div>
    </div>
</div>
<sidebar (loginClick) = "onLoginClicked($event)" [show]="goToLogin" (onClose)="closeSidebar($event)">
    <login></login>
</sidebar>