@import './../../../main-styles';
@import './../service-overview/service-overview.component';
@import './../services-list/services-list.component.scss';
// @import './../../secondary-components/table-template/table-template.component.scss';
.toast-title {
  font-weight: 0 !important;
  display: inline;
  padding-right: 2px !important;
}

.widget-cover-outer {
  background-color: #ffffff;
  border-radius: 3px;
  padding: 0;
  color: #555;
  font-size: 1.2rem;
}

.widget-header {
  color: #666666;
  padding: 1.5rem;
  cursor: pointer;
}

.widget-header div {
  margin-left: 10px;
  display: inline-block;
}

.car-cvr {
  width: 100%;
  overflow-x: hidden;
  padding: 0 1rem;
}

.car-body {
  width: 137%; // transform: translateX(-100px);
}

.move-right {
  transition: all 0.5s;
  transform: translateX(-27%);
}

.move-left {
  transition: all 0.5s;
  transform: translateX(0%);
}

.widget-cover {
  display: flex;
  padding: 1rem 0;
  margin-bottom: 1rem;
  list-style: none;
  width: 100%;
}

.right-arrow {
  height: 60%;
  width: 100px;
  cursor: pointer;
  background-image: linear-gradient(to right, rgba(238, 238, 238, 0), #ffffff);
  position: absolute;
  right: 0;
  bottom: 4rem;
  display: flex;
  /deep/ .icon-icon-rigtArrow:before {
    color: #ed008c !important;
  }
  /deep/ .icon-icon-rigtArrow {
    font-size: 3rem;
    align-self: center;
    position: absolute;
    right: 1rem;
  }
}

.left-arrow {
  height: 60%;
  display: flex;
  width: 100px;
  background-image: linear-gradient(to right, rgba(238, 238, 238, 0), #ffffff);
  position: absolute;
  left: 0;
  cursor: pointer;
  bottom: 4rem;
  transform: rotate(180deg);
  /deep/ .icon-icon-rigtArrow:before {
    color: #ed008c !important;
  }
  /deep/ .icon-icon-rigtArrow {
    font-size: 3rem;
    align-self: center;
    position: absolute;
    right: 1rem;
  }
}

.rot {
  transform: rotate(-90deg);
  transition: all 0.5s;
}

.rot-rev {
  transform: rotate(0deg);
  transition: all 0.5s;
}

.hides {
  max-height: 200px;
  opacity: 1;
  transition: all 1s;
}

.widget-box {
  width: 22%;
  border-right: 2px solid #f1f1f1;
  padding: 0 2rem;
  &:last-child {
    border-right: none;
  }
}

.widget-stage {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  flex-direction: column;
  text-align: center;
}

.stage-label {
  font-weight: bold;
  text-transform: capitalize;
}

.prog-cover {
  margin: 1rem 0;
  background-color: #d8d8d8
}

.progress-widget {
  position: relative;
  width: 0%;
  height: 1.2rem;
  background-color: #1fa6ce;
}

.widget-status {
  text-align: center;
  font-size: 20px;
}

.widget-buttons {
  justify-content: center;
  /deep/ .btnT-radial-in {
    padding: 0rem 1em;
    font-size: 1.1rem;
    height: 30px;
    box-sizing: border-box;
  }
}

.separator-row {
  height: 2px;
  margin: 1rem 0;
}

.table-cover-outer {
  background-color: #ffffff;
  border-radius: 3px;
  padding: 1rem 0rem;
  font-size: 1.2rem;
}

.widget-header-tb {
  color: #666666;
  padding: 0.5rem 0;
  cursor: pointer;
  margin-left: 1.5rem
}

.widget-header-tb div {
  margin-left: 10px;
  display: inline-block;
}

.overlay {
  width: 100vw;
  height: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(50, 50, 50, 0.4);
  z-index: 10;
}

.overlay-box {
  width: 65vw;
  height: 28vw;
  margin: auto;
  margin-top: 10vw;
  background-color: white;
  position: relative;
  border-radius: 3px;
  padding: 1.5rem;
}

.table-container {
  margin-top: 1rem;
}

.last-widget {
  border: none;
}

.prog-green {
  background-color: #5CAE01;
}

.close-overlay {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  cursor: pointer;
}

.overlay-header {
  font-size: 1.5rem;
  font-weight: bold;
}

/deep/.rebuild {
  float: right;
  margin-right: 20px;
  button {
    padding: 7px 16px !important;
    color: #ed008c !important;
    border: 1px solid #ed008c !important;
    background: transparent !important;
  }
}

/deep/ .retry-btn {
  background: transparent !important;
  color: #ed008c !important;
  border: 1px solid #ed008c !important;
  padding: 3px 1rem 0 !important;
  font-weight: bold !important;
}

.env-deployment-log {
  word-break: break-word;
  padding: 20px 0;
  @media (min-width: $screen-md) {
    padding: 20px 20px;
  }
  /deep/.table-header {
    /deep/.table-row {
      cursor: default !important;
    }
    /deep/ .table-row:hover {
      background: #f3f3f3 !important;
    }
    font-size: 11px !important;
    font-weight: bold;
  }
  /deep/.column {
    &:nth-child(1) {
      width: 5rem;
      text-align: center; // padding-left: 20px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      @media (min-width: $screen-md) {
        padding-left: 15px;
      }
      @media(max-width: $screen-lg) {
        // width: calc(100% - 780px) !important;
        width: calc(100% - 550px);
      }
    }
    &:nth-child(2) {
      a {
        cursor: pointer;
      }
      width: 22rem;
      display: none;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      @media (min-width: $screen-lg) {
        display: block;
      }
    }
    &:nth-child(3) {
      width: 10rem;
      display: none;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      @media (min-width: $screen-md) {
        display: block;
      }
    }
    &:nth-child(4) {
      width: 2rem;
      display: none;
      @media (min-width: $screen-lg) {
        display: block;
      }
    }
  }
}

.table-container {
  /deep/ .table-row {
    cursor: default;
    font-size: 14px; //  !important;
    height: 50px; //  !important;
    &:nth-child(odd) {
      background-color: #efefef;
      &:hover {
        background-color: #efefef;
      }
    }
    &:nth-child(even) {
      background-color: #fff;
      &:hover {
        background-color: #fff;
      }
    }
    &:hover {
      background-color: inherit;
    }
  }
}

.Failed {
  color: #d0021b !important;
}

.Deployed {
  color: #60b602 !important;
}

.widget-ft {
  border-top: 1px solid #dddddd;
  padding: 1rem 2rem;
  text-align: right; // font-style: italic;
}

.loading-row {
  display: none;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: #fff;
  top: 0;
  left: 0;
  padding: 3rem;
  .loading-circle {
    margin: 1rem 0;
    top: calc(50% - 2.5rem);
  }
}

.show {
  display: block;
}

.table-wrp {
  min-height: 0;
  position: relative;
}

.slid-table {
  min-height: 168px;
}

.loading-row {
  padding: 15rem 2rem; // box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
}

.slid-table {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
}

.right-arrow {
  height: 60%;
  width: 100px;
  cursor: pointer;
  background-image: linear-gradient(to right, rgba(238, 238, 238, 0), #ffffff);
  position: absolute;
  right: 0;
  bottom: 4rem;
  display: flex;
  /deep/ .icon-icon-rightArrow:before {
    color: #ed008c !important;
  }
  /deep/ .icon-icon-rightArrow {
    font-size: 3rem;
    align-self: center;
    position: absolute;
    right: 1rem;
  }
}

.primary-txt-color {
  color: #ed008c !important;
}

.icon-icon-down:before {
  content: "\EA16";
  color: #ed008c !important;
}

.red {
  color: #d0021b !important;
}

.green {
  color: #60b602 !important;
}

.status-col {
  text-transform: capitalize;
}


.left-arrow {
  height: 60%; // justify-content: left; 
  display: flex;
  width: 100px; // background:rgba(255,255,255,0.5);
  background-image: linear-gradient(to right, rgba(238, 238, 238, 0), #ffffff);
  position: absolute;
  left: 0;
  cursor: pointer;
  bottom: 4rem;
  transform: rotate(180deg);
  /deep/ .icon-icon-rightArrow:before {
    color: #ed008c !important;
  }
  /deep/ .icon-icon-rightArrow {
    font-size: 3rem;
    align-self: center;
    position: absolute;
    right: 1rem;
  }
}

.table-row {
  cursor: default !important;
}

table-template {
  /deep/.table-row:nth-child(odd) {
    &:hover {
      background: #efefef !important;
    }
  }
  /deep/.table-row:nth-child(even) {
    &:hover {
      background: #fff !important;
    }
  }
}

.feedback-overlay {
  position: fixed;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  z-index: 1000;
  text-align: center;
  .separator-row {
    border-bottom: 1px solid #ccc;
    margin-top: 2rem;
  }
  .feedback-wrap {
    min-width: 500px;
    width: 45%;
    max-width: 600px;
    top: 20%;
    margin: 0 auto;
    align-self: center;
    background-color: #fff;
    padding: 2rem;
    font-size: 16px;
    .feedback-hdr {
      font-size: 2rem;
      font-weight: bold;
    }
  }
  .feedback-text-wrap {
    p {
      padding: 1.5rem 0;
    }
    textarea {
      padding: 10px 10px;
      width: 100% !important;
      height: 100px !important;
    }
  }
  .feedback-text-wrap.feedbackRes {
    position: absolute;
    padding: 0 3rem;
    top: 46%;
    left: 0;
    .show {
      &.feedbackResSuccess {
        // margin:4rem 0;
        div {
          // padding-top: 2rem;
        }
      }
      &.feedbackResErr {
        // padding: 4rem 0;
      }
    }
  }
  .feedback-btn-wrap {
    font-size: 13px;
    text-align: right; // position: absolute;
    // right: 0;
    // padding: 2rem;
    // bottom: 0;
    a {
      margin: 5px;
      cursor: pointer;
    }
    .feedback-submit {
      /deep/ button.btn-primary {
        line-height: 3rem;
      }
    }
  }
  /deep/ button.btn-primary:focus,
  button.btn-primary:active {
    background-color: #ed008c !important;
    color: #fff !important;
    border: 1px solid #ed008c !important;
  }
}

.includeError {
  display: inline-block;
  float: left;
}

.custom-cb {
  label {
    border: 1px solid #999;
  }
}

.invisible {
  visibility: hidden;
}
