<div class="filter-wrp" [class.hide]='assets'>
    <div class="filter-section-right">
        <div class="filter-icon relative">
            <span class="icon-icon-filter-unselected" title="Filter" [class.selected]="filterSelected" (click)="filterClick()"></span>
            <div [class.show]='filterSelected' class="filter-wrap">
                <span class="icon-icon-filter-unselected" title="Filter" [class.selected]="filterSelected" (click)="filterClick()"></span>
                <div class='filter-inner'>
                    <div class="filter-inner-wrap environment" *ngIf='showEnvironment'>
                        <div class='view-label'>Filter by:</div>
                        <div class="eachFilter" *ngIf='advanced_filter_input.path.show'>
                            <div><div class='hori-line'></div>PATH</div>
                            <dropdown class="dropdown-2 path" title="Select path"  [dropdwnContent]="pathList" [selected]="pathSelected" (onSelected)="onPathListicSelected($event)"></dropdown>
                        </div>
                        <div class="eachFilter" *ngIf='advanced_filter_input.environment.show'>
                            <div><div class='hori-line'></div>ENVIRONMENT</div>
                            <dropdown class="dropdown-1"  [dropdwnContent]="envList" title="Select environment" [selected]="envSelected" (onSelected)="onEnvSelect($event)"></dropdown>
                        </div>
                        <div class="eachFilter no-border-no-padding" *ngIf='advanced_filter_input.method.show'>
                            <div><div class='hori-line'></div>METHOD</div>
                            <dropdown class="dropdown-3 method" title="Select method" [dropdwnContent]="methodList" [selected]="methodSelected" (onSelected)="onMethodListSelected($event)"></dropdown>
                        </div>
                        <div class="eachFilter hide" *ngIf='advanced_filter_input.account.show'>
                            <div><div class='hori-line'></div>ACCOUNT</div>
                            <dropdown class="dropdown-3 method" title="Select method" [dropdwnContent]="accList" [selected]="accSelected" (onSelected)="onaccSelected($event)"></dropdown>
                        </div>
                        <div class="eachFilter hide" *ngIf='advanced_filter_input.region.show'>
                            <div><div class='hori-line'></div>REGION</div>
                            <dropdown class="dropdown-3 method" title="Select method" [dropdwnContent]="regList" [selected]="regSelected" (onSelected)="onregSelected($event)"></dropdown>
                        </div>

                        <div class="eachFilter" *ngIf='advanced_filter_input.asset.show'>
                        <div><div class='hori-line'></div>ASSET TYPE</div>
                            <radio-group  #assetTypes [idName]="'asset'" [radioContent]="assetList" title="Select asset" [selected]="assetSelected" (onRadioSelected)="getAssetType($event)"></radio-group>
                        </div>

                        <div class="eachFilter" *ngIf='advanced_filter_input.sls_resource.show && !isAllSelected'>
                            <div><div class='hori-line'></div>ASSET NAME</div>
                            <dropdown #assetName [dropdwnContent]="lambdaResourceNameArr"
                             [selected]="resourceSelected"
                             (onSelected)="getResourceType($event)">
                            </dropdown>
                        </div>
                        <div class="eachFilter assetName" *ngIf='advanced_filter_input.sls_resource.show && isAllSelected'>
                            <div><div class='hori-line' ></div>ASSET NAME</div>
                            <dropdown #assetName [dropdwnContent]="allAssetsNameArray"
                             [selected]="resourceSelected"
                             (onSelected)="getResourceType($event)">
                            </dropdown>
                        </div>
                    </div>
                    <div class="filter-inner-wrap">
                        <div class='view-label'>View by:</div>
                        <div class="eachFilter slider-wrap" *ngIf='advanced_filter_input.time_range.show'>
                            <div><div class='hori-line'></div>TIME RANGE</div>
                            <dropdown class="dropdown-3" title="Select range" [dropdwnContent]="rangeList" [selected]="selectedTimeRange" (onSelected)="onRangeListSelected($event)"></dropdown>
                        </div>

                        <div class="eachFilter" *ngIf='advanced_filter_input.statistics.show'>
                            <div><div class='hori-line'></div>STATISTICS</div>
                            <dropdown class="dropdown-2" title="Select statistics" [dropdwnContent]="statisticList" [selected]="statisticSelected" (onSelected)="onStatisticSelected($event)"></dropdown>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <search-box (onChange)="onServiceSearch($event)"></search-box> -->

</div>
