<div tabindex="-1" class="navigation-bar-wrp row hide-for-mobile">
    <div  class="navigation-item" (click)="goToLink('/services'); false;">
        <span class="icon-icon-back hide"></span>
        <a tabindex="-1" href="/services" tabindex="-1">Services</a>
    </div>
    <div class="navigation-item" *ngFor="let item of links">
        <div class="navigation-separator">/</div>
        <div class="navigation-separator">
            <a tabindex="-1" [href]="item.link" (click)="goToLink(item.link); false;">{{item.name}}</a>
        </div>
    </div>
</div>
