<!-- service list 404/no data error message changed -->
<div class='feedback-overlay' *ngIf="openModal">
	<div class='feedback-wrap relative'>
		<div class='feedback-hdr relative'>Report an issue</div>
		<div class="separator-row"></div>
		<div class="loading-row" [class.show]="isLoading">
			<div class="loading-circle"></div>
		</div>
		<div class='feedback-text-wrap' [class.invisible]="isLoading || feedbackRes">
			<p>Found a problem with the site? Please use the form below to describe the issue and we will fix it soon.</p>
			<textarea rows="5" cols="50" type="text" name='userFeedback' id="userFeedback" placeholder="Report your issue here" [(ngModel)]="model.userFeedback"  #userFeedback='ngModel'></textarea>
		</div>
		<div class="feedback-text-wrap feedbackRes" [class.show]="feedbackRes">
			<div class="hide feedbackResSuccess" [class.show]="feedbackResSuccess">
				<div>{{feedbackMsg}}</div>
			</div>
			<div class="hide feedbackResErr" [class.show]="feedbackResErr"> Oops! {{feedbackMsg}}
				<span> or <a (click)="mailTo()"> contact us</a> via email.</span>
			</div>
		</div>
		<div class='feedback-btn-wrap'>
			<!-- <div class="includeError">
				<input type="checkbox">
				<span></span>
				</div> -->
			<div class="slack-checkbox custom-cb includeError" [class.invisible]="isLoading || feedbackRes">
				<input type="checkbox" (click)="errorIncluded()"  id="checkbox-slack" [checked]="errorInclude">
				<label for="checkbox-slack"></label>
				<div class="cb-status-dets">Include error details</div>
			</div>
			<a (click)='openModal = !openModal;isLoading=false'  [class.invisible]="isLoading || feedbackRes">CANCEL</a>
			<btn-jazz-primary text="{{buttonText}}" class="feedback-submit" [class.invisible]="isLoading" [disablePrimaryBtn]="!model.userFeedback && buttonText=='SUBMIT'" (click)='submitFeedback(buttonText)'></btn-jazz-primary>
		</div>
	</div>
</div>
<!-- Table Header --> 
<div class="table-header">
  <div *ngFor="let column of header" class="column" [class.sortable]="column.sort" (click)="onSortColumn(column)">
    <span>{{column.label}}</span>
    <div class="arrow-wrap" [ngClass]="{'sort-down': column._reverse == true, 'sort-up': column._reverse == false}" *ngIf="!isSort">
      <div class="upper-arrow" (click)="onSortColumn(column , true)"></div>
      <div class="lower-arrow" (click)="onSortColumn(column , false)"></div>
    </div>
  </div>
</div>
<!-- Filter Row -->
<div class="table-filters-row" [class.open]="showFilters">
	<div *ngFor="let column of header" class="column">
		<div [ngSwitch]="getFilterType(column)">
			<div class="input-wrapper" *ngSwitchCase="'input'">
				<input id='inputfilter' class="textForm" type="string" placeholder="{{column.label}}" [(ngModel)]="column.filter.value" (keydown)="onFilterApplied($event, column)">
			</div>
			<div class="dropdown-wrapper" *ngSwitchCase="'dropdown'">
				<dropdown #dropthedown [dropdwnContent]="column.filter.data" [selected]="column.filter.value" (onSelected)="onFilterApplied($event, column)"></dropdown>
			</div>
			<div class="daterange-wrapper hide" *ngSwitchCase="'dateRange'">
				<daterange-picker [range]="column.filter.range" (onChange)="onFilterApplied($event, column)"></daterange-picker>
				<span class="icon-icon-calendar2"></span>
			</div>
			<div *ngSwitchDefault></div>
		</div>
	</div>
</div>
<div class="table-wrp" [ngClass]="type">
<!-- Table Body -->
<div class="table-body" *ngIf=" type=='accordian' && state =='default' ">
	<ng-content select=".table-row-wrp"></ng-content>
</div>
<div class="table-body" *ngIf="type!='accordian' && state =='default' ">
	<ng-content select=".table-row"></ng-content>
</div>
<!-- Table Notification -->
<div class="table-notification" *ngIf="state != 'default'">
	<div class="loading-row" [class.show]="state=='loading'">
		<div class="loading-circle"></div>
		<!-- <div class="loading-text hide">Loading Data...</div> -->
	</div>
	<!-- <div class="error-row" [class.show]="state=='error'">
		<div>Error Loading Data!!</div>
		</div> -->
	<div class="empty-row nodata" [class.show]="state=='empty'">
		<!-- <div>No Data Available</div> -->
		<div class="icon-icon-nodata"></div>
		<div *ngIf='isfromservice'>
			<div  *ngIf="!err_disp" class="errMessage">
				<div class='ops'>Oops, looks like there are no services here yet...</div>
				
			</div>
			
			<div class='crt-1'>Why don't you go ahead and create one <a (click)='showService()'>here?</a></div>
			
		</div>
		
		<div *ngIf="!isfromservice">
			<div><b>Oops, No Data Found</b><br>Doesn't look like there is any data available here.</div>

		</div>
	</div>
	<div class="empty-row with-refresh" [class.show]="state=='error'">
		<div *ngIf='errcode == 404'>
            <div class="icon-icon-nodata"></div>
            <!-- <div *ngIf="err_disp" class="errMessage"> {{ message }} <br> <a (click)="onRefresh($event)">REFRESH</a> to give it another try.</div> -->
            <div *ngIf='isfromservice'>
				<div  *ngIf="!err_disp" class="errMessage">
					<div class='ops'>Oops, looks like there are no services here yet...</div>
					
				</div>
				
				<div class='crt-1'>Why don't you go ahead and create one <a (click)='showService()'>here?</a></div>
				
			</div>
			
			<div *ngIf="!isfromservice">
				<div><b>Oops, No Data Found</b><br>Doesn't look like there is any data available here.</div>

			</div>
        </div>

        <div *ngIf='errcode!=404'>
            <div class="icon-icon-server-error">
                <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span>
            </div>
            <!-- <div *ngIf="err_disp" class="errMessage"> {{ message }} <br> <a (click)="onRefresh($event)">REFRESH</a> to give it another try.</div> -->
            <div  *ngIf="!err_disp" class="errMessage">
                <div class='oops'>Oops!</div>
                {{ message }}<br> <a (click)="onRefresh($event)">REFRESH</a> to give it another try.
            </div>
            <br>
            <div class='ctc-us'>If the problem persists, <a (click)='reportIssue()'> contact us</a>.</div>
        </div>
	</div>
</div>
<div class="table-pagination" [class.show]="showPaginationtable && state !='loading' && state != 'empty' && state != 'error' && totalPageNum > 0">
	<nav class="pagination-nav" aria-label="Page navigation table">
		<ul class="pagination justify-content-center">
			<li class="page-item" (click)="paginatePageInTable('prev')" [class.disable]="currentlyActive == 1">
			<a class="page-link icon" aria-label="Previous">
			<span title="Previous" class="icon-icon-back"></span>
			<span class="sr-only">Previous</span>
			</a>
			</li>
			<li class="page-item" (click)="paginatePageInTable('1')" [class.active]="currentlyActive == 1"><a class="page-link">1</a></li>
			<li class="page-item extended-pages dots" [class.show]="currentlyActive > 3"><a class="page-link">...</a></li>
			<li class="page-item extended-pages" [class.show]="currentlyActive - 1 > 1 && currentlyActive - 1 < totalPageNum" (click)="paginatePageInTable(currentlyActive-1)"><a class="page-link">{{currentlyActive - 1}} </a></li>
			<li class="page-item extended-pages" [class.show]="currentlyActive > 1 && currentlyActive < totalPageNum" (click)="paginatePageInTable(currentlyActive)" [class.active]="currentlyActive > 1"><a class="page-link">{{currentlyActive}}</a></li>
			<li class="page-item extended-pages" [class.show]="currentlyActive + 1 > 1 && currentlyActive + 1 < totalPageNum" (click)="paginatePageInTable(currentlyActive+1)"><a class="page-link">{{currentlyActive + 1}}</a></li>
			<li class="page-item extended-pages dots" [class.show]="(currentlyActive + 2) < totalPageNum"><a class="page-link">...</a></li>
			<li class="page-item" (click)="paginatePageInTable(totalPageNum)" [class.hide]="totalPageNum == 1" [class.active]="currentlyActive == totalPageNum"><a class="page-link">{{totalPageNum}}</a></li>
			<li class="page-item" (click)="paginatePageInTable('next')" [class.disable]="currentlyActive == totalPageNum">
			<a class="page-link icon right" aria-label="Next">
			<span title="Next"class="icon-icon-back"></span>
			<span class="sr-only">Next</span>
			</a>
			</li>
		</ul>
	</nav>
</div>
</div>