# Add any directories, files, or patterns you don't want to be tracked by version control
.serverless
node_modules
.DS_Store
.vscode/
*/.classpath
*/.project
*/.settings
*/RemoteSystemsTempFiles/
.metadata/
.recommenders/
*/target/
.nyc_output/
npm-debug.log
*/package-lock.json