$color-pink-primary: #ed008c;


$color-gray-primary: #fff;
$color-gray-secondary: #ddd;
$color-gray-tertiary: #666;


$color-gray-o1: #aaa;

$color-overlay-dark: rgba(0, 0, 0, .2);


$border-radius-default: 5px;
$box-shadow-default: 0 2px 4px 0 rgba(0, 0, 0, 0.15);

$gutter-default: 1rem;