.jz-btn {
  display: inline;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  outline: none;
  padding: 7px 16px;
  letter-spacing: .3px;
  font-weight: 700;
  font-size: 13px;
  &:active {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2px);
  }
}

//JAZZ BUTTON THEMES
.jz-btn-pink {
  background-color: $color-pink-primary;
  color: white;
  border: 1px solid $color-pink-primary;
  &:hover {
    border: 1px solid white;
    background-color: white;
    color: $color-pink-primary;
  }
  &.disabled {
    color: white !important;
    background-color: $color-pink-primary !important;
    border: 1px solid $color-pink-primary !important;
    cursor: not-allowed;
    opacity: .5;
  }
}

.jz-btn-outline {
  color: $color-pink-primary;
  background-color: transparent;
  border: 1px solid $color-pink-primary;
  &:hover {
    background-color: $color-pink-primary;
    color: white;
  }
  &.disabled {
    color: $color-gray-tertiary !important;
    border: $color-gray-tertiary !important;
    cursor: not-allowed;
  }
}


//JAZZ BUTTON SIZE CATEGORIES
.jz-btn-welcome {
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: .5px;
  width: 20rem;
  line-height: 2rem;
  padding: 12px 16px;
}

.jz-btn-lg {
  font-size:16px;
  letter-spacing: .7px;
  min-width: 10rem;
}


.jz-btn-sm {
  padding: 0 1.5rem;
  font-size: 1rem;
  line-height: 2
}


//JAZZ CUSTOM BUTTONS
.jz-btn-thin {
  padding: 0 23px;
  font-weight: 500;
}

.jz-btn-icon {
  height: 30px;
  width: 30px;
}