$gutter: .5rem;

.jz-chart {
  position: relative;
  border-radius: 3px;
  padding: $gutter;
  height: calc(100% - (120rem / 12));
  margin: 0.5em;
}
.jz-chart-header {
  display: flex;
  position: absolute;
  top: $gutter;
  left: $gutter;
  right: $gutter;
  justify-content: space-between;
}

.jz-chart-content {
  position: absolute;
  left: $gutter;
  right: $gutter;
  top: .5rem;
  bottom: 1.5rem;
}

.jz-chart-footer {
  position: absolute;
  bottom: $gutter;
  left: $gutter;
  right: $gutter;

}