$gutter: .5rem;

.jz-chart {
  position: relative;
  border-radius: 3px;
  background-color: #f9f9f9;
  border: solid 1px #9b9b9b;
  padding: 2.5rem $gutter;
  height: calc(100% - (120rem / 12));
}
.jz-chart-header {
  display: flex;
  position: absolute;
  top: $gutter;
  left: $gutter;
  right: $gutter;
  justify-content: space-between;
}

.jz-chart-content {
  position: absolute;
  left: $gutter;
  right: $gutter;
  top: 2.5rem;
  bottom: 2.5rem;
}

.jz-chart-footer {
  position: absolute;
  bottom: $gutter;
  left: $gutter;
  right: $gutter;

}