.jz-cs-form {
  padding: 0 3.5rem;
}
.jz-cs-row {
  border-top: 1px solid #cccccc;
  padding: 20px 0;
}

.jz-cs-column-left {
  width: calc(99%/3);
  display: inline-block;
  border: 1px solid red;
}

.jz-cs-column-right {
  padding: 0 15px;
  vertical-align: top;
  width: calc(95% * (2/3) - 35px);
  display: inline-block;
  border: 1px solid red;
}

.jz-cs-label {
  color: #222222;
  font-size: 12px;
}

.jz-cs-required {
  color: #d0021b;
}

.jz-cs-sublabel {
  color: #555555;
  font-size: 11px;
}

.jz-cs-textbox {
  width: calc(100% - 20px);
  display: inline-block;
  height: 40px;
  padding: 4px 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #555;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  vertical-align: middle;
  outline: none;
  border: 1px solid #cccccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  &.error {
    color: $color-red;
    border: 1px solid $color-red;
  }
}

.jz-radio-extension {
  padding: 1.25rem 15px;
  background-color: lightgray;
  margin-left: 15px;
}
.jz-radio-extension-link {
  margin-bottom: 0;
  font-size: 1rem;
  a {
    color: #ed0295;
    text-decoration: none;
    cursor: pointer;
  }
}

.jz-radio-extension-label {
  font-size: 1rem;
}