.jz-textbox {
  display: inline-block;
  height: 40px;
  padding: 4px 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #555;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  vertical-align: middle;
  outline: none;
  width: calc(100% - 20px);
}