.jz-anchor {
  font-weight: 400;
  color: $color-pink-primary;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    text-decoration: none;
    color: $color-pink-primary;
  }
}

.jz-text-subtle {
  font-size: 1rem;
  color: $color-gray-tertiary;
}

.jz-submitted-header {
  font-weight: 900;
  font-size: 2rem;
}

.jz-submitted-message {
  font-size: 1.5rem;
  color: #000;
}

.jz-bold-title {
  font-size: 27px;
  font-weight: 900;
  color: #555555;
}

.jz-error {
  color: $color-red !important
}

.jz-success {
  color: $color-green !important;
}