<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>
    Welcome to my Angular app
  </h1>
  <div class="logo">
    <img height="130" width="180" alt="Jazz Logo" src="assets/logo.svg">
    <h3>Powered by Jazz</h3>
  </div>
</div>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

<router-outlet></router-outlet>
