<div [ngStyle]="{background: 'url(./assets/images/header.jpg)'}" class="header">

    <nav id="siteNav" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Logo and responsive toggle -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                  <span class="glyphicon glyphicon-fire"></span>
                  LOGO
                </a>
            </div>
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">Menu Item</a>
                    </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services <span class="caret"></span></a>
            <ul class="dropdown-menu" aria-labelledby="about-us">
              <li><a href="#">Menu Item</a></li>
              <li><a href="#">Menu Item</a></li>
              <li><a href="#">Menu Item</a></li>
            </ul>
          </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
    
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>

        <div class="header-content">
            <div class="header-content-inner">
                <h1 style="color: #fff">Hello World</h1>
                <p>Jazz Serverless Angular Website Template</p>
                <a href="#" class="btn btn-primary btn-lg">Get Started !!</a>
            </div>
        </div>
   
 


 
