<tmobile-mob-header [icon]="'notification'" [headText]="'Service One'" [status]="'green'"></tmobile-mob-header>
<section class="page-container service-detail-page
">
    <navigation-bar [links]="breadcrumbs"></navigation-bar>
    <div class="content">
        <div class="page-title-wrap hide-for-mobile">
            <h1 class="page-hdr bold-title">{{service.name}}</h1>
            <span class="page-sub-title">{{service.serviceType}} - {{service.runtime}}</span>
            <btn-tmobile-secondary text="DELETE SERVICE" (click)="deleteService(true)"></btn-tmobile-secondary>
        </div>
        <div class="page-status-row hide-for-mobile">
            <div class="page-status" [ngClass]="service.status"><span>Status</span></div>
        </div>
        <tabs [tabData]="tabData" [selectedTab]="selectedTab" [tabChanged]="tabChanged" (onSelected)="onSelectedDr($event)"></tabs>
        <section class="page-content" *ngIf="selectedTab == 0">
            <service-overview [service]="service"></service-overview>
        </section>
        <section class="page-content" *ngIf="selectedTab == 1">
            <service-access-control></service-access-control>
        </section>
        <section class="page-content" *ngIf="selectedTab == 2">
            <service-cost></service-cost>
        </section>
        <section class="page-content" *ngIf="selectedTab == 3">
            <service-metrics></service-metrics>
        </section>
        <section class="page-content" *ngIf="selectedTab == 4">
            <service-logs></service-logs>
        </section>
    </div>
</section>
<sidebar [show]="showPopUp" (onClose)="hideDeletePopup(false)" class="delete-ser">
    <div class="delete-service-pop">
        <div class="step-1" *ngIf="!success">
            <h1>CONFIRMATION</h1>
            <p>Are you sure you want to permanently delete <span>{{service.name}}</span>? Please type in the service name to confirm</p>
            <div class="input-wrapper">
                <input name="serviceName" type="text" class="textForm" placeholder="Service Name" id="service-name-search" [(ngModel)]="ServiceName" (ngModelChange)="onServiceNameChange()">
            </div>
            <div class="footer-btns">
                <btn-tmobile-primary text="DELETE" (click)="goToServices()" newclass="delete-btn" [disablePrimaryBtn]="disblebtn"></btn-tmobile-primary>
                <a (click)="hideDeletePopup()">CANCEL</a>
            </div>
        </div>
    </div>
</sidebar>
