<tmobile-mob-header [icon]="'notification'" [headText]="service.name" [status]="'green'"></tmobile-mob-header>
<section class="page-container service-detail-page">
    <navigation-bar [links]="breadcrumbs"></navigation-bar>
    <div class="content">
        <div class="page-title-wrap hide-for-mobile">
            <h1 class="page-hdr bold-title">{{service.name}}</h1>
            <span class="page-sub-title"><span class="service-type">{{service.serviceType}}</span><span *ngIf="service.runtime"> - {{service.runtime}}</span></span>
            <btn-tmobile-secondary class="delete-service-btn" text="DELETE SERVICE" [class.disabled]="!service.status || service.status == 'deletion_completed' || service.status == 'deletion_started'" (click)="deleteService(true)"></btn-tmobile-secondary>
        </div>
        <!-- <div class="page-status-row hide-for-mobile">
            <div class="page-status" [ngClass]="service.status"><span>Status</span></div>
        </div> -->
        <tabs [tabData]="tabData" [selectedTab]="selectedTab" [tabChanged]="tabChanged" (onSelected)="onSelectedDr($event)"></tabs>
        <section class="page-content" *ngIf="selectedTab == 0">
            <service-overview [service]="service" [isLoadingService]="isLoadingService"></service-overview>
        </section>
        <section class="page-content" *ngIf="selectedTab == 1">
            <service-access-control></service-access-control>
        </section>
        <section class="page-content" *ngIf="selectedTab == 2">
            <service-cost [service]="service"></service-cost>
        </section>
        <section class="page-content" *ngIf="selectedTab == 3">
            <service-metrics [service]="service"></service-metrics>
        </section>
        <section class="page-content" *ngIf="selectedTab == 4">
            <service-logs [service]="service"></service-logs>
        </section>
    </div>
</section>
<sidebar [show]="showPopUp" (onClose)="hideDeletePopup(false)" class="delete-ser">
    <div class="delete-service-pop">
        <div class="step-1" *ngIf="!success">
            <h1>CONFIRMATION</h1>
            <div class="delete-service-popup-content">
                <p [class.invisible]="isLoading"> Are you sure you want to permanently delete <span>{{service.name}}</span>? Please confirm</p>
                <div class="loading-row" [class.show]="isLoading">
                    <div class="loading-circle"></div>
                </div>
                <div class="input-wrapper" [class.invisible]="isLoading">
                    <input name="serviceName" type="text" class="textForm" placeholder="Service Name" id="service-name-search" [(ngModel)]="ServiceName" (ngModelChange)="onServiceNameChange()">
                </div>
                <div class="footer-btns" [class.invisible]="isLoading">
                    <btn-tmobile-primary text="DELETE" (click)="deleteServiveInit()" newclass="delete-btn" [disablePrimaryBtn]="disblebtn"></btn-tmobile-primary>
                    <a (click)="hideDeletePopup()">CANCEL</a>
                </div>
            </div>
        </div>
    </div>
</sidebar>

<footer></footer>
