section {
  border-top: 1px solid #e3e3e3;
  position: relative;
  background: #f3f3f3;
  width: calc(100% + 73px);
  margin-left: -36px;
  margin-top: 37px;
}

.ft-links {
  margin: 15px 0;
  overflow: auto;
  font-size: 1rem;
}

.ft-links ul {
  list-style: none;
  text-align: center; // margin:0 30%;
  margin: 1rem auto;
  padding: 0;
  > * + * {
    border-left:2px solid #acacac;
  }
}

.ft-links li {
  padding: 0 15px;
  text-align: center; // float:left;
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
}

.ft-links .mid {
  border-right: 2px solid #acacac;
  border-left: 2px solid #acacac;
}

a {
  color: #ed008c;
  font-weight: bold;
}

.ft-text {
  display: none; // overflow: auto;
  // margin-top:25px;
  // padding-bottom: 25px;
}

.ft-text ul {
  list-style: none; // margin:0 33%;
  display: block;
  width: fit-content;
  padding: 0;
  margin: 1rem auto;
}

.ft-text li {
  // float:left;
  // color:rgb(150,150,150);
  // font-size: 0.9rem;
  display: inline-flex;
  color: #969696;
  font-size: 0.9rem;
  vertical-align: middle;
}

.circle {
  display: inline-block;
  width: 5px;
  height: 5px;
  background: rgb(150, 150, 150);
  border-radius: 50%;
  margin: 7px;
}

.ft-logo {
  line-height: 17px;
  font-size: 8rem;
  position: absolute;
  left: 37px;
  width: 8rem;
  margin: 1rem auto;
  @media screen and (max-width: 854px) {
    position: relative;
    display: block;
    left: 0;
  }
}

a:focus {
  outline: none !important;
}
