<div class="login-wrp" [ngClass]="{'freezScroll':loading}">
    <div class="login-support-wrap"></div>
    <div class="login-main-wrap">
        <div class="logo-wrp">
            <!-- <div class="sign-in">Login <br>to Jazz</div> -->
            <img src="assets/images/icons/Login.svg">
            <!-- <div class="icon-icon-login">
                <span class="path1"></span><span class="path2"></span>
            </div> -->
        </div>
        <div class="sign-in-form" (keyup.enter)="register ? registerUser($event) : login()">

            <!-- <form> -->
                <div class="form-row">

                    <div class="form-label"><span>Username</span>
                        <popover-content #myPopover placement="right" [closeOnClickOutside]="true">
                            <!-- <b>{{popoverTitle}}</b><br> -->
                            {{popoverSubTitle}}<br>{{popoverContent}}
                        </popover-content>
                        <span  class="icon-icon-info icon-info-wrap" popoverPlacement="right" [popover]="myPopover" [popoverOnHover]="true"></span>
                    </div>

                    <input class='ip-usr'
                           [class.err-border]='err_username_brd'
                           type="text" name='username'
                           [(ngModel)]="model.username"
                           (ngModelChange)="onChange($event)">
                    <div  class='hide-er' [class.error-msg]="error_username_disp">
                        <div>
                            <span class="icon-icon-alert"></span>
                            {{error.username}}
                        </div>
                 </div>
                </div>

                <div class="form-row">
                        <div class="form-label">Password </div>
                        <input [class.err-border]='err_password_brd'
                               type="password" name='password'
                               [(ngModel)]="model.password"
                               (ngModelChange)="onChange($event)">
                        <div  class='hide-er' [class.error-msg]="error_password_disp">
                                <div>
                                    <span class="icon-icon-alert"></span>
                                    {{error.password}}
                                </div>
                         </div>
                        <!-- <form-input [label]="'Password'" (keyup.enter)="login()" [type]="'password'" [name]="'Password'" [(value)]="model.password" [(error)]="error.password"></form-input> -->
                </div>
             <!-- </form> -->
            <!-- <div class="loader-wrp" [class.show]="loading">
                <div class="loader">
                    <div class="inner one"></div>
                    <div class="inner two"></div>
                    <div class="inner three"></div>
                </div>
            </div> -->
        </div>
        <div class="btn-wrp">
            <btn-jazz-primary [text]="buttonText" (click)="login()" newclass="loginbutton"></btn-jazz-primary>
        </div>
        <div class="forgot-password">
                
            <a target="_blank" href="{{forgotPassword}}">Forgot Password?</a>
        </div>
        <div class="separator-row"></div>
        <div class="newUser">
            <div>Don’t have a Corp Account?</div>
           
            <a target="_blank" href="{{signUp}}">Sign Up</a>
        </div>
    </div>
</div>
<div class="loader-wrp" [class.show]="loading">
    <div class="loader">
        <div class="inner one"></div>
        <div class="inner two"></div>
        <div class="inner three"></div>
    </div>
</div>
