<div class='feedback-overlay' *ngIf="openModal">
  <div class='feedback-wrap relative'>
    <div class='feedback-hdr relative'>Report an issue</div>
    <div class="separator-row"></div>
    <div class="loading-row" [class.show]="isLoading">
      <div class="loading-circle"></div>
    </div>
    <div class='feedback-text-wrap' [class.invisible]="isLoading || feedbackRes">
      <p>Found a problem with the site? Please use the form below to describe the issue and we will fix it soon.</p>
      <textarea rows="5" cols="50" type="text" name='userFeedback' id="userFeedback" placeholder="Report your issue here"
        [(ngModel)]="model.userFeedback" #userFeedback='ngModel'></textarea>
    </div>
    <div class="feedback-text-wrap feedbackRes" [class.show]="feedbackRes">
      <div class="hide feedbackResSuccess" [class.show]="feedbackResSuccess">
        <div>{{feedbackMsg}}</div>
      </div>
      <div class="hide feedbackResErr" [class.show]="feedbackResErr"> Oops! {{feedbackMsg}}
        <span> or <a (click)="mailTo()"> contact us</a> via email.</span>
      </div>
    </div>
    <div class='feedback-btn-wrap'>
      <!-- <div class="includeError">
             <input type="checkbox">
             <span></span>
             </div> -->
      <div class="slack-checkbox custom-cb includeError" [class.invisible]="isLoading || feedbackRes">
        <input type="checkbox" (click)="errorIncluded()" id="checkbox-slack" [checked]="errorInclude">
        <label for="checkbox-slack"></label>
        <div class="cb-status-dets">Include error details</div>
      </div>
      <a (click)='openModal = !openModal;isLoading=false' [class.invisible]="isLoading || feedbackRes">CANCEL</a>
      <btn-jazz-primary text="{{buttonText}}" class="feedback-submit" [class.invisible]="isLoading" [disablePrimaryBtn]="!model.userFeedback && buttonText=='SUBMIT'"
        (click)='submitFeedback(buttonText)'></btn-jazz-primary>
    </div>
  </div>
</div>

<div class='current-status-wrap' *ngIf="creating && service_error ">
  <div class="current-meter-status saving"><b>Current Status:</b> {{statusInfo}}<span> .</span><span> .</span><span> .</span></div>
  <div class="current-meter-bar">
    <span id='current-status-val' [ngClass]="statusCompleted || serviceStatusCompleted ? 'completed-bar':'under-progress-bar'"
      [class.deletion-bar]='statusFailed'></span>
    <div class='status-result' [ngClass]="serviceStatusStarted ? 'under-progress-bar':'under-progress'"
      [class.completed-bar]='statusCompleted' [class.deletion-status]='statusFailed'>
      <div class='status-icon icon-icon-confirmcheck' *ngIf=' serviceStatusStarted '></div>
      <div class='status-icon icon-icon-close' *ngIf=' serviceStatusStartedD '></div>
      <div class='status-lable'>Started</div>
    </div>
    <div class='status-result' [ngClass]="serviceStatusValidate ? 'under-progress-bar':'under-progress'"
      [class.completed-bar]='statusCompleted' [class.deletion-status]='statusFailed'>
      <div class='status-icon icon-icon-confirmcheck' *ngIf='serviceStatusValidate'></div>
      <div class='status-icon icon-icon-close' *ngIf=' serviceStatusValidateD '></div>
      <div class='status-lable'>Validation</div>
    </div>
    <div class='status-result' [ngClass]="serviceStatusRepo ? 'under-progress-bar':'under-progress'"
      [class.completed-bar]='statusCompleted' [class.deletion-status]='statusFailed'>
      <div class='status-icon icon-icon-confirmcheck' *ngIf='serviceStatusRepo'></div>
      <div class='status-icon icon-icon-close' *ngIf=' serviceStatusRepoD '></div>
      <div class='status-lable repoCreation'>Repository Creation</div>
    </div>
    <div class='status-result' [ngClass]="serviceStatusPermission ? 'under-progress-bar':'under-progress'"
      [class.completed-bar]='statusCompleted' [class.deletion-status]='statusFailed'>
      <div class='status-icon icon-icon-confirmcheck' *ngIf='serviceStatusPermission'></div>
      <div class='status-icon icon-icon-close' *ngIf=' serviceStatusPermissionD '></div>
      <div class='status-lable'>Permissions</div>
    </div>
    <div class='status-result' [ngClass]="serviceStatusCompleted ? 'under-progress-bar':'under-progress'"
      [class.completed-bar]='statusCompleted' [class.deletion-status]='statusFailed'>
      <div class='status-icon icon-icon-confirmcheck' *ngIf='serviceStatusCompleted'></div>
      <div class='status-icon icon-icon-close' *ngIf=' serviceStatusCompletedD '></div>
      <div class='status-lable'>Completed</div>
    </div>
  </div>
</div>
<div class='current-status-wrap' *ngIf="deleting && service_error ">
  <div class="current-meter-status saving"><b>Current Status:</b> {{DelstatusInfo}}<span> .</span><span> .</span><span>
      .</span></div>
  <div class="current-meter-bar">
    <span id='current-status-val' [ngClass]="statusCompleted || serviceStatusCompleted ? 'completed-bar':'under-progress-bar'"
      [class.deletion-bar]='statusFailed'></span>
    <div class='status-result-delete' [ngClass]="serviceStatusStarted ? 'under-progress-bar':'under-progress'"
      [class.completed-bar]='statusCompleted' [class.deletion-status]='statusFailed'>
      <div class='status-icon icon-icon-confirmcheck' *ngIf=' serviceStatusStarted '></div>
      <div class='status-icon icon-icon-close' *ngIf=' serviceStatusStartedD '></div>
      <div class='status-lable'>Deletion Started</div>
    </div>
    <div class='status-result-delete' [ngClass]="serviceStatusValidate ? 'under-progress-bar':'under-progress'"
      [class.completed-bar]='statusCompleted' [class.deletion-status]='statusFailed'>
      <div class='status-icon icon-icon-confirmcheck' *ngIf='serviceStatusValidate'></div>
      <div class='status-icon icon-icon-close' *ngIf=' serviceStatusValidateD '></div>
      <div class='status-lable'>Deleted Assets</div>
    </div>
    <div class='status-result-delete' [ngClass]="serviceStatusRepo ? 'under-progress-bar':'under-progress'"
      [class.completed-bar]='statusCompleted' [class.deletion-status]='statusFailed'>
      <div class='status-icon icon-icon-confirmcheck' *ngIf='serviceStatusRepo'></div>
      <div class='status-icon icon-icon-close' *ngIf=' serviceStatusRepoD '></div>
      <div class='status-lable repoCreation'>Backed Up Project</div>
    </div>
    <div class='status-result-delete' [ngClass]="serviceStatusCompleted ? 'under-progress-bar':'under-progress'"
      [class.completed-bar]='statusCompleted' [class.deletion-status]='statusFailed'>
      <div class='status-icon icon-icon-confirmcheck' *ngIf='serviceStatusCompleted'></div>
      <div class='status-icon icon-icon-close' *ngIf=' serviceStatusCompletedD '></div>
      <div class='status-lable'>Deletion Completed</div>
    </div>
  </div>
</div>

<section class= "service-metadata-wrap relative" [class.extra-bottom-padding]='!disp_show2' hide>
  <div>
    <div class='metadata-body metadata-body-border'>
      <div [class]="service.serviceType != 'function' ? 'metadata-column fullWidth' : 'metadata-column'">
        <div class="metadata-heading-wrap">
         <div class="metadata-heading" [ngClass]="showGeneralField ? 'update-color' : ''">
            General
            <div class="edit-div" *ngIf="!showGeneralField && isAdminAccess" (click)="onEditGeneral()">
              <img class="pre-image" src="/assets/erser/icon-edit.svg" />
            </div>
            <div *ngIf="showGeneralField" class="down-btn-wrap">
              <div class="custom-save-btn-wrap">
                <btn-jazz-primary class="save-btn-wrap" [disablePrimaryBtn]="generalAdvanceDisable"
                  text="SUBMIT" (click)="onSaveClick()"></btn-jazz-primary>
                <a (click)="onCancelClick()">CANCEL</a>
              </div>
            </div>
          </div>
          </div>
        <ul>
          <li>
            <div class="det-label">Namespace</div>
            <div class="det-value">{{service.domain || 'Link a domain'}}</div>
          </li>
          <li>
            <div class="det-label">Service</div>
            <div class="det-value service-type">{{service.name}}</div>
          </li>
           <li *ngIf="service.serviceType != 'website' ">
            <div class="det-label">Runtime</div>
            <div class="det-value" [class.PlaceHolder]="runtime_empty">{{service.runtime}}</div>
          </li>
          <li>
              <div class="det-label">Provider</div>
              <div class="det-value service-platform">{{ provider }}
                  <div class="image-container">
                      <img
                        src="../../../assets/images/icons/Azure.svg"
                        *ngIf="provider ==='azure'"
                        alt="azureimage"
                        class="azure-image">
                      <img
                        id="aws-logo-single-block"
                        class="tiny"
                        *ngIf="provider === 'aws'"
                        src="../../../assets/images/aws-logo-small.jpg">
                  </div>
              </div>
          </li>
          <li>
            <div class="det-label">Service Type</div>
            <div *ngIf="service.serviceType !== 'sls-app'" class="det-value">
              {{ service.serviceType || 'Pick your service type' }}
            </div>
            <div *ngIf="service.serviceType === 'sls-app'" class="det-value">
              {{ (service.serviceType && 'custom') || 'Pick your service type' }}
            </div>
          </li>
          <li>
            <div class="det-label">Description</div>
            <div *ngIf='!showGeneralField' class="det-value wrap" [ngClass]="{PlaceHolder:description_empty}">{{service.description || 'Provide a description of your service.'}}</div>
            <textarea *ngIf='showGeneralField' [(ngModel)]="desc_temp" (ngModelChange)='descriptionChange(desc_temp)' class="det-value-input-txtarea"
              placeholder="Provide a description of your service."></textarea>
          </li>
            <li>
            <div class='det-label'>Creator</div>
            <div class='det-value'>{{service.created_by}}</div>
          </li>
           <li>
            <div class="det-label">Status</div>
            <div class="det-value">{{service.status}}</div>
          </li>
          <li>
            <div class="det-label">Account</div>
            <div *ngIf="provider ==='aws'" class="det-value">{{service.accountID}} ({{accountName}})</div>
            <div *ngIf="provider ==='azure'" class="det-value">{{service.accountID}} </div>
          </li>
          <li>
            <div class="det-label">Region</div>
            <div class="det-value">{{service.region}}</div>
          </li>
          <li>
            <div class='det-label'>Slack</div>
            <div *ngIf='!showGeneralField' class='det-value' [class.PlaceHolder]="slackChannel_empty">{{service.slackChannel || 'Feeling collaborative? Add it to Slack.'}}</div>
            <div *ngIf='showGeneralField' class='det-value slack-relative'>
                <input [(ngModel)]="slackChannel_temp" type='text' (blur)="checkSlackNameAvailability()" (ngModelChange)='changeSlack()'
                class="det-value-input" placeholder="Feeling collaborative? Add it to Slack.">
              <img *ngIf="show_loader" class="input-loader" src="../assets/images/icons/loading.png">

            </div>
          </li>
          <p class='email-err-msg' [class.hide]='hide_slack_error'>Slack channel is not available. Please provide a valid slack channel.</p>
          <li class="padding-wrapper">
            <div class="det-label">Repository</div>
            <div class="det-value repository-link" [ngClass]="{'link':islink, 'PlaceHolder':repository_empty}" (click)="openLink(repositorylink)">{{bitbucketRepo || 'Stay organized with a repository'}}</div>
          </li>
        </ul>
      </div>
      <div class='metadata-column'  *ngIf="service.serviceType == 'function' ">

      <div class="metadata-heading-wrap">
         <div class="metadata-heading" [ngClass]="!disp_show2 ? 'update-color' : ''">
            Events
            <div class="edit-div" *ngIf="!editEvents &&
            service.eventScheduleEnablePresent && isAdminAccess" (click)="onEditEvents()">
              <img class="pre-image" src="/assets/erser/icon-edit.svg" />
            </div>
            <div *ngIf="!disp_show2" class="down-btn-wrap">
              <div class="custom-save-btn-wrap">
                <btn-jazz-primary class="save-btn-wrap"
                [disablePrimaryBtn]="eventDisable"
                  text="SUBMIT" (click)="onAdvancedSaveClick()"></btn-jazz-primary>
                <a (click)="onCancelClick()">CANCEL</a>
              </div>
            </div>
          </div>
          </div>
          <div class='flex-center top-shift'>
          <div *ngIf="!disp_show2" class="warn-msg">
            <div>!</div>
            <div>Changes are not effective immediately. Your next deployment will use these changes</div>
          </div>
        </div>
        <ul>
         <li *ngIf="service.serviceType == 'function'">
            <div class='det-label'>Event Source Type</div>
            <div class="det-value label-value-margin">{{service.event_source || "NA"}}</div>

          </li>
          <li *ngIf="service.serviceType == 'function'">
            <div class='det-label'>Event Source</div>
            <div class="det-value label-value-margin">{{service.event_source_arn || "NA"}}</div>

          </li>
           <li *ngIf="service.serviceType == 'function'">
                <div class="det-label">Event Schedule</div>
                <div *ngIf='disp_show2' class="det-value label-value-margin">{{service.eventScheduleRate || "NA"}}</div>
                <div *ngIf='!disp_show2' class="det-value">
                    <div class="input-field-container event-schedule-radio row zero-margin">
                        <section class="pad-left0">
                            <div class="radio-container">
                                <input type="radio" name="EventSchedule" id="none" [value]="none" [checked]="rateExpression.type == 'none'" (click)="onEventScheduleChange('none')">
                                <label for="none"><span><span class="background"></span></span>None</label>
                            </div>
                        </section>
                        <section class="fixed-rate pad-left0">
                            <div class="radio-container">
                                <input type="radio" name="EventSchedule" id="fixedRate" [value]="rate" [checked]="rateExpression.type == 'rate'" (click)="onEventScheduleChange('rate')">
                                <label for="fixedRate"><span><span class="background"></span></span>Fixed Rate of</label>
                            </div>
                        </section>
                        <section class="pad-left0">
                            <div class="radio-container">
                                <input type="radio" name="EventSchedule" id="cron" [value]="cron" [checked]="rateExpression.type == 'cron'" (click)="onEventScheduleChange('cron')">
                                <label for="cron"><span><span class="background"></span></span>Cron Expression</label>
                            </div>
                        </section>
                    </div>
                    <div class="col-lg-7 col-md-7 event-schedule-fields cron-field" [ngClass]="{'zero-padding': rateExpression.type == 'none'}">
                        <div class='clearfix'>
                            <div class="cron-fields row zero-margin arrow_box" *ngIf="rateExpression.type == 'cron'">
                                <div>
                                  <div class="col-lg-2 fullWidth">
                                      <p class="sm-input-label">Minutes</p>
                                      <div class="input-wrapper">
                                          <input name="rateMinute" type="text" class="textForm" required [(ngModel)]="cronObj.minutes" #rateMinute='ngModel' (ngModelChange)="generateExpression(rateExpression)">
                                      </div>
                                  </div>
                                  <div class="col-lg-2 fullWidth">
                                      <p class="sm-input-label">Hours</p>
                                      <div class="input-wrapper">
                                          <input name="rateHour" type="text" class="textForm" [(ngModel)]="cronObj.hours" #rateHour='ngModel' (ngModelChange)="generateExpression(rateExpression)" required>
                                      </div>
                                  </div>
                                  <div class="col-lg-2 fullWidth">
                                      <p class="sm-input-label">Day-of-month</p>
                                      <div class="input-wrapper">
                                          <input name="rateDayofMonth" type="text" class="textForm" [(ngModel)]="cronObj.dayOfMonth" #rateDayofMonth='ngModel' (ngModelChange)="generateExpression(rateExpression)" required>
                                      </div>
                                  </div>
                                </div>
                                <div>
                                  <div class="col-lg-2 fullWidth">
                                      <p class="sm-input-label">Month</p>
                                      <div class="input-wrapper">
                                          <input name="rateMonth" type="text" class="textForm" [(ngModel)]="cronObj.month" #rateMonth='ngModel' (ngModelChange)="generateExpression(rateExpression)" required>
                                      </div>
                                  </div>
                                  <div class="col-lg-2 fullWidth">
                                      <p class="sm-input-label">Day-of-week</p>
                                      <div class="input-wrapper">
                                          <input name="rateDayOfWeek" type="text" class="textForm" [(ngModel)]="cronObj.dayOfWeek" #rateDayOfWeek='ngModel' (ngModelChange)="generateExpression(rateExpression)" required>
                                      </div>
                                  </div>
                                  <div class="col-lg-2 fullWidth">
                                      <p class="sm-input-label">Year</p>
                                      <div class="input-wrapper">
                                          <input name="rateYear" type="text" class="textForm" required [(ngModel)]="cronObj.year" #rateYear='ngModel' (ngModelChange)="generateExpression(rateExpression)">
                                      </div>
                                  </div>
                                </div>
                            </div>
                            <div class="rate-field row  zero-margin arrow_box" *ngIf="rateExpression.type == 'rate'">
                              <div class="fixed-rate-wrapper">
                                  <div class="col-lg-7 padding-right-0">
                                      <div class="input-wrapper" [ngClass]="{'available': rateField.valid && (rateField.dirty || rateField.touched), 'unavailable': !rateField.valid && (rateField.dirty || rateField.touched)}">
                                          <input name="rateField" type="number" class="textForm" required [(ngModel)]="rateExpression.duration" (ngModelChange)="generateExpression(rateExpression)" #rateField='ngModel' OnlyNumber="true">
                                          <img class="input-loader ng-hide">
                                      </div>
                                  </div>
                                  <div class="col-lg-5">
                                      <div class="input-wrapper">
                                          <dropdown [dropdwnContent]="rateData" title="Select interval" [selected]="rateExpression.interval" [statusFilter]="statusFilter" (onSelected)="onSelectedDr($event)"></dropdown>
                                      </div>
                                  </div>
                              </div>
                            </div>
                        </div>
                        <div class="form-error" *ngIf="rateExpression.error != undefined">
                            {{rateExpression.error}}
                        </div>
                        <p *ngIf="rateExpression.type != 'none'" class="learn-more"><a href="https://docs.aws.amazon.com/AmazonCloudWatch/latest/events/ScheduledEvents.html">Learn more</a> about CloudWatch Event schedules</p>
                    </div>
                </div>
            </li>
        </ul>
      </div>
    </div>

  </div>

  <div class='confirm-overlay' (click)='onAdvanceClick()' *ngIf='saveClicked || advancedSaveClicked'>
    <div class='confirm-overlay-inner-wrap' (click)="$event.stopPropagation()">
      <a class="icon-icon-close" (click)="outSidePopup()"></a>
        <div class='overlay-header'>Submitting Changes</div>
        <div class='overlay-body'>
          <div *ngIf="!isPUTLoading" class="overlay-text">Are you sure you want to make this edit?</div>
          <div *ngIf="isPUTLoading" class="loading-row-confirm show" [class.show]="isPUTLoading">
              <div class="loading-circle"></div>
          </div>
        </div>
        <div class='overlay-btns' *ngIf="!isPUTLoading">
          <btn-jazz-primary text="CONFIRM" [disablePrimaryBtn]="!isPayloadAvailable" (click)='onCompleteClick()'></btn-jazz-primary>
        </div>
    </div>
  </div>

  <div class="loading-row-edit" [class.show]="isLoadingService">
    <div class="loading-circle"></div>
  </div>
</section>

<div class="separator-row"></div>

<service-overview-multienv #env *ngIf='multiENV' [service]='service'></service-overview-multienv>
<service-overview-non-multienv *ngIf='!multiENV' [service]='service'></service-overview-non-multienv>
