:host {
  display: block;
  margin-top: 5px;
  position: relative;
}

.form-label {
  opacity: 0.8;
  font-size: 1.3rem;
  color: #ffffff;
  letter-spacing: 0.5px;
  /deep/ .popover {
    color: #000 !important;
    max-width: 20rem;
  }
}

input {
  width: 90%; //fallback
  width: calc(100% - 20px);
  margin-top: 5px;
  height: 32px;
  border-radius: 3px;
  background-color: rgba(216, 216, 216, 0.2);
  outline: none;
  border: none;
  padding: 0px 10px;
  color: #fff;
  font-size: 14px;
}

input.error {
  border: 1px solid #d0021b; // color: #d0021b;
  background-color: #6c5c5c;
}

.icon-icon-alert {
  display: inline-block;
  padding-right: 6px;
  vertical-align: middle;
}

.error-msg {
  color: #fff;
  font-size: 1.15rem;
  letter-spacing: 0.25px;
  padding-top: 5px;
  position: absolute;
  width: 100%;
  top: 100%;
}

.icon-info-wrap {
  padding: 0 5px;
  cursor: pointer;
}
