<div class="form-label">{{label}}
    <popover-content #myPopover placement="right" [closeOnClickOutside]="true">
      <!-- <b>{{popoverTitle}}</b><br> -->
      {{popoverSubTitle}}<br>{{popoverContent}}
    </popover-content>
    <span *ngIf="label == 'Username'" class="icon-icon-info icon-info-wrap" popoverPlacement="right" [popover]="myPopover" [popoverOnHover]="true"></span>
</div>
<input type="{{type}}" name="{{name}}" [ngModel]="value" (ngModelChange)="onChange($event)" [class.error]="error" />
<div [hidden]="!error" class="error-msg">
    <div><span [class.hidden]="error != undefined && error.trim() == ''" class="icon-icon-alert"></span>{{error}}</div>
</div>
<!-- <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger">
    <div [hidden]="!name.errors.required">
        Name is required
    </div>
    <div [hidden]="!name.errors.minlength">
        Name must be at least 4 characters long.
    </div>
    <div [hidden]="!name.errors.maxlength">
        Name cannot be more than 24 characters long.
    </div>
</div> -->
