@import './../../../main-styles';
@import '../services/services.component.scss';
.page-title-wrap {
  overflow: hidden;
  padding: 26px 0 0 0;
  .header1 {
    float: left;
  }
  btn-jazz-secondary {
    float: right;
  }
}
.title-div {
  display: flex;
  justify-content: space-between;
}
.azure-image {
  width: 30px;
  height: 30px;
}
.icon-icon-AWS .path1:before {
  color: rgb(17, 16, 14);
}
.icon-icon-AWS .path2:before {
  color: rgb(245, 141, 17);
}
.icon-icon-AWS .path3:before {
  color: rgb(245, 142, 20);
}
.icon-icon-AWS .path4:before {
  color: rgb(245, 142, 20);
}
.icon-icon-AWS .path5:before {
  color: rgb(18, 17, 15);
}
.icon-icon-AWS .path6:before {
  color: rgb(18, 17, 15);
}
.icon-icon-AWS .path7:before {
  color: rgb(18, 17, 15);
}
.icon-icon-AWS .path8:before {
  color: rgb(18, 17, 15);
}
.icon-icon-AWS .path9:before {
  color: rgb(19, 18, 16);
}
.icon-icon-AWS .path10:before {
  color: rgb(245, 141, 18);
}
.icon-icon-AWS .path11:before {
  color: rgb(245, 141, 18);
}
.icon-icon-AWS .path12:before {
  color: rgb(245, 141, 18);
}
.icon-icon-AWS .path13:before {
  color: rgb(245, 141, 18);
}
.icon-icon-AWS .path14:before {
  color: rgb(245, 141, 18);
}
.icon-icon-AWS .path15:before {
  color: rgb(245, 141, 17);
}
.icon-icon-AWS .path16:before {
  color: rgb(245, 141, 17);
}
.icon-icon-AWS .path17:before {
  color: rgb(245, 141, 17);
}
.icon-icon-AWS .path18:before {
  color: rgb(245, 141, 17);
}
.icon-icon-AWS .path19:before {
  color: rgb(20, 19, 17);
}
.icon-icon-AWS .path20:before {
  color: rgb(18, 17, 15);
}
.icon-icon-AWS .path21:before {
  color: rgb(21, 20, 18);
}
.icon-icon-AWS .path22:before {
  color: rgb(21, 20, 18);
}
.icon-icon-AWS .path23:before {
  color: rgb(21, 20, 18);
}
.icon-icon-AWS .path24:before {
  color: rgb(20, 19, 17);
}
.icon-icon-AWS .path25:before {
  color: rgb(21, 20, 18);
}
.icon-icon-AWS .path26:before {
  color: rgb(20, 19, 17);
}
.icon-icon-AWS .path27:before {
  color: rgb(20, 19, 17);
}
.icon-icon-AWS .path28:before {
  color: rgb(245, 142, 20);
}
.icon-icon-AWS .path29:before {
  color: rgb(245, 142, 20);
}
.icon-icon-AWS .path30:before {
  color: rgb(245, 142, 20);
}
.icon-icon-AWS .path31:before {
  color: rgb(18, 17, 15);
}
.icon-icon-AWS .path32:before {
  color: rgb(25, 24, 22);
}
.icon-icon-AWS .path33:before {
  color: rgb(20, 19, 17);
}
.icon-icon-AWS { 
  font-size: 30px;
}
.image-btn-div {
  display: flex;
}
.image-container {
  margin:0px 15px;
}

/deep/ .page-title-wrap button.btnT-radial-in {
  margin: 0px;
  border-radius: 30px;
  padding: 7px 16px;
  background: transparent;
  letter-spacing: .3px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  font-size: 12px;
  vertical-align: middle;
  font-weight: 700;
  border: 1px solid;
}

.page-title-wrap {
  min-height: 5.65rem; // setting min-height coz, alignment breaks when jquery isnt loaded
}

.oss {
  font-weight: normal;
}

.oss {
  tabs {
    /deep/ .tabs-wrap {
      ul li {
        &:last-child {
          // pointer-events: none;
          // opacity: 0.6;
        }
      }
    }
  }
}

.testApiBtn {
  /deep/ .btnT-radial-in {
    outline: none;
    /* background-color: #c62770; */
    color: #c62770;
    border-color: #c62770;
    box-shadow: none;
    &:hover,
    &:active,
    &:focus {
      color: #fff;
    }
  }
}

/deep/ footer {
  section {
    // width:107% !important;
  }
}

.status-container {
  margin: 1rem 0;
}

.status-hdr {
  font-size: 12px;
  text-align: left;
  color: #5cae01;
}

.status-state-oval {
  display: inline-block;
  margin: -1px 4px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #5cae01;
}

.inactive {
  color: rgb(208, 1, 27);
}

.inactive-bg {
  background: rgb(208, 1, 27);
  ;
}

.servie-details-container {
  display: inline-block;
}

.in-disclaimer {
  display: none;
  margin-bottom: -15px;
  margin-top: 0;
}

.tooltiptext {
  display: none;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.inactive-icon {
  position: absolute;
  top: -11px;
  right: -11px;
  font-size: 1rem;
  &:before {
    font-size: 1rem;
  }
}

.jazz-header[_ngcontent-bey-7] {
  background: #2b343e;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 2.4rem;
  color: #fff;
  font-size: 11px;
}

.tab-component {
  position: relative;
}

.refresh-button {
  position: absolute;
  cursor: pointer;
  top: .8rem;
  right: 12px;
  font-size: 1rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  color: #ed008c;
  > * + * {
    margin-left: 5px;
  }
}

.swagger-err{
  margin:0.5rem 1rem;
  color:red;
  font-style: italic;
}

.overview-sidebar{
  /deep/.sidebar-wrp .sidebar-inr{
    overflow-y:auto !important;
    }
  
}