<div>
    <div class="view-hdr-wrp">
        <jazz-header class="hide-for-mobile"></jazz-header>
    </div>

    <div class="view-container" [class.translate-for-mob]="mobSecState == 2">
        <div class="services-content-wrp">
<jazz-mob-header [icon]="'notification'" [headText]="service.name" [status]="'green'"></jazz-mob-header>
<section class="page-container flex-col">
    <navigation-bar *ngIf='!isError403' [links]="breadcrumbs" [data]="friendly_name"></navigation-bar>
    <div *ngIf='!isError403' class="content flex-col flex-grow">
        <div class="page-title-wrap hide-for-mobile">
            <div class="servie-details-container">
                <h1 class="page-hdr bold-title relative">{{friendly_name}}
                        <div title='{{envStatus}}' *ngIf='status_val < 3' class='icon-icon-good inactive-icon succ'>
                            <span class="path1"></span><span class="path2"></span>
                        </div>
                        <div title='{{envStatus}} '*ngIf='status_val == 3' class='icon-In-Progress inactive-icon'></div>
                        <div title='{{envStatus}}' *ngIf='status_val > 3' class='icon-icon-inactive inactive-icon'></div>

                </h1>

                <span class="page-sub-title">{{service.name}}</span><br>
            </div>
            <div class="image-btn-div flex-end">
                <div class="image-container">
                    <img
                      *ngIf="platform === 'azure'"
                      id="azure-watermark"
                      src="../../../assets/images/azure-watermark.png"
                      alt="azureimage">
                    <img
                      *ngIf="platform === 'aws'"
                      id="aws-watermark"
                      src="../../../assets/images/aws-watermark.png">
                </div>
            <btn-jazz-secondary *ngIf="service.serviceType=='api'" [disablebtn]='disablingApiButton' class="testApiBtn" text="TEST API" (click)="testService('api')"></btn-jazz-secondary>
            <btn-jazz-secondary *ngIf="service.serviceType=='function'" [disablebtn]='disablingFunctionButton || !isAdminAccess' class="testApiBtn" text="TEST FUNCTION" (click)="testService('function')"></btn-jazz-secondary>
            <btn-jazz-secondary *ngIf="service.serviceType=='website'"  [disablebtn]='disablingApiButton' class="testApiBtn" text="GO TO WEBSITE" (click)="testService('website')"></btn-jazz-secondary>
            <div  *ngIf="swagger_error" class='right swagger-err'>Swagger file not found</div>
            <!-- <btn-jazz-secondary *ngIf="selectedTab == 3" [disablebtn]='false' class="testApiBtn" text="SONAR PROJECT"></btn-jazz-secondary>  -->
            <div class="status-container status-inactive-def hide" >
                <span class="status-hdr" [class.inactive]="status_val > 2">Status</span>
                <div class="status-state-oval" [class.inactive-bg]="status_val > 2"></div>
            </div>
            </div>
            <!--<btn-jazz-secondary *ngIf="selectedTab == 13" class="testApiBtn" text="SONAR PROJECT"></btn-jazz-secondary>-->
        </div>

        <!-- <div class="page-status-row  hide-for-mobile">
            <div class="page-status" [ngClass]="service.status"><span>Status</span></div>

        </div> -->

        <div *ngIf='status_val > 4' class="alert alert-warning" role="alert">
                Looks like this environment is inactive, related assets might not be available during this time.
        </div>
        <div class="tab-component flex-col flex-grow">
        <div class="refresh-button" (click)="refreshTab()">
            <span class="icon-icon-refresh"></span>
            <span>Refresh</span>
        </div>
            <tabs [beforeEnv]= "!isENVavailable" [type]="'env'" [tabData]="tabData" [selectedTab]="selectedTab" [tabChanged]="tabChanged" [isAdminAccess]="isAdminAccess" (onSelected)="onSelectedDr($event)"></tabs>

            <section class="page-content flex-col flex-grow" *ngIf="selectedTab == 'overview'">
                <env-overview-section class='flex-col flex-grow' #selectedTabComponent #envoverview (open_sidebar)='sidebar($event)' (frndload)='frndload($event)' (envLoad)='EnvLoad($event)' (onload)='env($event)' [service]="service" [isAdminAccess]="isAdminAccess"></env-overview-section>
            </section>

            <section class="page-content flex-col flex-grow" *ngIf="selectedTab == 'deployments'">
                <env-deployments-section #selectedTabComponent #envdeployments [service]="service" [isDeployAccess]="isDeployAccess"></env-deployments-section>
            </section>

            <section class="page-content flex-col flex-grow" *ngIf="selectedTab == 'code quality'">
                <env-codequality-section #selectedTabComponent [service]="service"></env-codequality-section>
            </section>

            <section class="page-content flex-col flex-grow" *ngIf="selectedTab == 'assets'">
                <env-assets-section  #selectedTabComponent [service]="service"></env-assets-section>
            </section>

            <section class="page-content flex-col flex-grow" *ngIf="selectedTab == 'logs'">
                <env-logs-section #selectedTabComponent [service]="service"></env-logs-section>
            </section>


            <section class="page-content flex-col flex-grow" *ngIf="selectedTab == 'metrics'">
                <service-metrics #selectedTabComponent [service]="service"></service-metrics>
            </section>


        </div>
    </div>
    <section *ngIf='isError403'>
        <error403></error403>
    </section>
</section>
<section class='overview-sidebar'>
    <sidebar [show]="sidebar === 'overview'" (onClose)="setSidebar()">
      <overview-sidebar (onClose)="setSidebar()"></overview-sidebar>
    </sidebar>
    <sidebar [show]="sidebar === 'try-service'" (onClose)="setSidebar()">
      <env-try-service-sidebar [service]="service" [environment]='environment_obj' (onClose)="setSidebar()"></env-try-service-sidebar>
    </sidebar>
</section>
<footer></footer>

        </div>
    </div>

    <mobile-secondary-tab (mobSecClicked)='changeActivity($event)' [tabList]='mobTabData'></mobile-secondary-tab>
</div>







