.jz-btn {
  display: inline;
  border-radius: $border-radius-default;
  line-height: 1;
  cursor: pointer;
  box-shadow: none;
  border: none;
  outline: none;
}

.jz-btn-primary {
  color: white;
  background-color: $color-pink-primary;
  border:1px solid $color-pink-primary;
  transition: .3s ease-in-out;
  &:hover {
    color: $color-pink-primary;
    background-color: white;
  }
}

.jz-btn-inverse{
  color: $color-pink-primary;
  border: 1px solid $color-pink-primary;
  background-color: white;
  &:hover {
    color: white;
    background-color: $color-pink-primary;
    border:1px solid $color-pink-primary;
  }
}

.jz-btn-icon {
  font-size: 18px;
  padding: 6px;
  color: $color-pink-primary;
  background-color: white;
  &:hover {
    color: lighten($color-pink-primary, 10%);
  }
  &.is-toggled {
    color: white;
    background-color: $color-pink-primary;
  }
}
