.jz-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $color-overlay-dark;
  z-index: 1000;
  overflow: hidden;
}


.jz-modal {
  background-color: $color-gray-secondary;
  border-radius: $border-radius-default;
  box-shadow: $box-shadow-default;
  padding: 2* $gutter;
  display: flex;
  height: calc(600rem/14);
  width: calc(400rem/14);
  max-height: 90%;
  max-width: 90%;
}