.jz-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $color-overlay-dark;
  z-index: 10;
  overflow: hidden;
}


.jz-modal {
  position: relative;
  background-color: $color-gray-secondary;
  border-radius: $border-radius-default;
  box-shadow: $box-shadow-default;
  padding: 2* $gutter;
  display: flex;
  height: calc(600rem/14);
  width: calc(400rem/14);
  max-height: 90%;
  max-width: 90%;
}

.jz-modal-close {
  color: $color-pink-primary;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  &:hover {
    opacity: .75;
  }
}