.jz-section {
  position: relative;
  padding: 1rem 3rem;
  height: calc(100vh - (13.15rem + 94px));
  background: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
  display: flex;
}

.jz-section-content {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.jz-section-icon {
  font-size: 7rem;
}