<tmobile-mob-header [icon]="'notification'" [headText]="'Service One'" [status]="'green'"></tmobile-mob-header>
<section class="page-container">
    <navigation-bar [links]="breadcrumbs"></navigation-bar>
    <div class="content">
        <div class="page-title-wrap hide-for-mobile">
            <h1 class="page-hdr bold-title">{{envSelected}}</h1>
            <span class="page-sub-title">{{service.name}}</span>
            <div class="det-value align-slf">
            <btn-tmobile-secondary *ngIf="service.serviceType=='api' " [disablebtn]='service.endpoints === undefined' class="testApiBtn" text="TEST API" (click)="testApi('api')"></btn-tmobile-secondary>
            <btn-tmobile-secondary *ngIf="service.serviceType=='website' " [disablebtn]='service.endpoints === undefined' class="testApiBtn" text="GO TO WEBSITE" (click)="testApi('website')"></btn-tmobile-secondary>
        </div>
            <!--<btn-tmobile-secondary *ngIf="selectedTab == 13" class="testApiBtn" text="SONAR PROJECT"></btn-tmobile-secondary>-->
        </div>
        <!-- <div class="page-status-row  hide-for-mobile">
            <div class="page-status" [ngClass]="service.status"><span>Status</span></div>
        </div> -->
        <tabs [tabData]="tabData" [selectedTab]="selectedTab" (onSelected)="onSelectedDr($event)"></tabs>
        <section class="page-content" *ngIf="selectedTab == 0">
            <env-overview-section [service]="service" [env]='envSelected'></env-overview-section>
        </section>

        <section class="page-content" *ngIf="selectedTab == 1">
            <env-logs-section [service]="service" ></env-logs-section>
        </section>
        
        <section class="page-content" *ngIf="selectedTab == 2">
            <env-deployments-section [service]="service"></env-deployments-section>
        </section>

        <section class="page-content" *ngIf="selectedTab == 3">
                <env-codequality-section [service]="service"></env-codequality-section>
            </section>

        <section class="page-content" *ngIf="selectedTab == 4">
            <env-assets-section [service]="service"></env-assets-section>
        </section>
    </div>
</section>

<footer></footer>
 