<div #metricCards class='metrics-carousel-container'>
  <div class="jz-absolute-container">
    <div #metricCardsScroller class='metrics-carousel-scroller'
         [style.transform]="'translateX('+(metricCardSize * metricCardOffset)+ 'px)'">
      <div class='metrics-card'
           *ngFor="let metric of metrics; let i=index"
           [class.metrics-card-active]="index === i"
           (click)="selectCard(metric)">
        <div class='metrics-name'>{{metricName(metric)}}</div>
        <div class="metrics-card-content">
          {{getRecentValue(metric) || '-'}}
        </div>
        <div class="metrics-footer" *ngIf="getRecentValue(metric) && options.footerProperty">
          {{metric[options.listProperty][0][options.footerProperty]}}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="metrics-arrows" *ngIf="metricCardsOversized">
  <div class='metrics-arrows-left' (click)='offsetRight()'>
    <div class='icon-icon-leftArrow'></div>
  </div>
  <div class='metrics-arrows-right' (click)='offsetLeft()'>
    <div class='icon-icon-rightArrow '></div>
  </div>
</div>
