.metrics-carousel-container {
  padding: 15px 0;
  display: block;
  line-height: 1.5;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  height: calc(120rem / 12);
  position: relative;
  z-index: 1;
}

.metrics-carousel-scroller {
  height: 100%;
  display: inline-flex;
  align-items: flex-end;
  transition: 600ms ease-in-out;
  padding-bottom: 2px;
}

.metrics-card {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;
  background-color: #fdfdfd;
  border: solid 1px #dddddd;
  width: 135px;
  padding: .65rem 0.5rem;
  text-align: center;
  font-size: 1rem;
  color: #000;
  white-space: normal;
  vertical-align: top;
  height: calc(93rem / 12);
  cursor: pointer;
  margin-right: 1rem;
  &:last-child {
    margin-right: 0;
  }
}

.metrics-card-active {
  border-radius: 3px;
  position: relative;
  background-color: #f9f9f9;
  border: solid 1px #9b9b9b;
  &:after, &:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  &:after {
    border-color: rgba(213, 213, 213, 0);
    border-bottom-color: #fdfdfd;
    border-width: 12px;
    margin-left: -12px;
    bottom: calc(100% - 1px);
  }
  &:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #9b9b9b;
    border-width: 12.75px;
    margin-left: -12.5px;
  }
}

.metrics-name {
  font-size: 14px;
  font-weight: bold;
  color: #555555;
  text-transform: capitalize;
}

.metrics-card-content {
  flex: 1;
  font-size: 24px;
}

.metrics-footer {
  font-size: 12px;
}

.metrics-data {
  font-size: 30px;
  text-align: center;
  color: #333;
}

.metrics-arrows {
  position: absolute;
  left: 0;
  bottom: 0;
  height: calc(120rem / 12 - 15px);
  width: 100%;
}

.metrics-arrows-left {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: calc(100% + 5px);
  transform: translateY(-50%);
}

.metrics-arrows-right {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: calc(100% + 5px);
  transform: translateY(-50%);
}
