@import './../../../main-styles';
.tabs-wrap {
  @media(max-width: 853px) {
    position: fixed;
    top: 56px;
    background: #2b343e;
    left: 0;
    right: 0;
    padding-left: 2.1vh;
    z-index: 3;
    height: 56px;
  }
  ul {
    li {
      text-transform: uppercase;
    }
    padding: 0;
    margin: 6px 0;
    overflow-x: auto;
    white-space: nowrap;
    @media(max-width: 853px) {
      margin: 0;
      vertical-align: middle;
      white-space: nowrap;
      overflow: auto;
      max-width: 100vw;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
  ul::-webkit-scrollbar {
    // width: 15px;
    background-color: transparent;
  }
  li {
    margin-right: 35px;
    list-style-type: none;
    display: inline-block;
    font-size: 13px;
    color: #aaaaaa;
    cursor: pointer;
    text-transform: uppercase;
    @media(max-width: 853px) {
      font-size: 15px;
      color: #fff;
      cursor: pointer;
      padding: 7px 16px;
      text-transform: capitalize;
      margin: 19px 8px 0 8px;
    }
    &.active {
      color: #ed008c;
      border-bottom: 2px solid #ed008c;
      @media(max-width: 853px) {
        color: #ed008c;
        border-bottom: 5px solid #ed008c;
      }
    }
    &:hover {
      color: #ed008c;
    }
  }
}

.disable {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.6;
}

// .caps{
//     text-transform: capitalize;
// }
