<jazz-mob-header [icon]="'add'" [headText]="'Services'" [status]="'none'"></jazz-mob-header>
<section class="table-wrap">
    <navigation-bar tabindex="-1"></navigation-bar>
    <div class="page-title-wrap hide-for-mobile">
        <div class="delete-msg-wrapper" *ngIf="message.body == 'success' ">
            <div class="delete-msg-inner-wrapper">
                <div class="success left">
                    <div class="icon-icon-success"></div>
                </div>
                <div class="delete-msg left">
                    <span class="bold">Success ! </span>
                    <span class="">{{message.type}}</span>
                </div>
                <div class="delete-close right" (click)="closeDetelePopup()">
                    <div class="icon-icon-close"></div>
                </div>
            </div>
        </div>
        <div class = "create-service">
            <span class = "page-hdr bold-title">My Services</span>
        <btn-primary-with-icon text="CREATE SERVICE" (click)="showService(true)"></btn-primary-with-icon>
        </div>
    </div>
    <div class="table-filter-wrap table-mob-view">

        <section class="page-filter-wrap">
            <filters
                class="filters"
                [filtersList]="tabData"
                [multiple]="false"
                [selectedList]="selectedList"
                (onSelected)="onFilterSelected($event)">
            </filters>
            <span *ngIf="selectedListData && selectedListData[0] === 'custom'" class="parent-div">
                <span>What&apos;s this?</span>
                <span class="icon-icon-info icon-info-wrap information">
                    <div class="absolute tooltip">
                        <div>
                            Jazz now supports the <a target="_blank" href="https://github.com/serverless/serverless">Serverless framework</a>, empowering you to design your own applications.
                        </div>
                    </div>
                </span>
            </span>

            <div class="search-filter-wrap">

                <search-box #searchbox (onChange)="onServiceSearch($event)"></search-box>

                <div class="filter-icon">
                    <span class="icon-icon-filter-unselected" title="Filter" [class.selected]="filterSelected" (click)="filterSelected = !filterSelected">
                    </span>
                </div>
                <div class="filter-icon">
                    <span class='pointer refresh icon-icon-refresh' title="Refresh" (click)='serviceCall()' height="19"></span>

                </div>
            </div>
            <!-- <a class='magen pointer refresh' (click)='serviceCall()'>Refresh</a> -->

        </section>
        <filter-tags-services #filtertags (OnCancel)='CancelFilters($event)'></filter-tags-services>
        <table-template
            #tabletemplate
            class="table-container service-list-table"
            (onHere)='showService($event)'
            [isfromservice]= "fromService"
            [errcode]="errCode"
            [message]="errMessage"
            [state]="loadingState"
            (refreshData)="refreshData($event)"
            [header]="tableHeader2"
            [showFilters]="filterSelected"
            (onFilter)="onFilter($event)"
            (onSort)="onSort($event)"
            [showPaginationtable]="paginationSelected"
            (paginatePage)="paginatePage($event)"
            [currentlyActive]="pageSelected"
            [totalPageNum]="totalPagesTable">
            <div class="table-row table-empty" [class.hide]="!serviceListEmpty">{{tableEmptyMessage}}</div>
            <div class="table-row pointer" [class.hide]="serviceListEmpty" *ngFor="let row of serviceList; let i = index" (click)="onRowClicked(row, i)" [class.deletingRow]="row.id==deletedServiceId || row.status=='deletion started'">
                <div class="column">{{row.name}}</div>
                <div class="column">{{row.type}}</div>
                <div class="column">{{row.platform}}</div>
                <div class="column">{{row.domain}}</div>
                <div class="column">{{row.lastModified}}</div>
                <!-- <div class="column">{{row.lastModified | amDateFormat: 'YYYY-MM-DD HH:mm:ss'}}</div> -->
               <!--  <div class="column">
                    <span class="health" [ngClass]="('state-' + row.health)"></span>
                </div> -->
                <div class="column" [ngClass]="'status ' + row.status">{{row.status}}
                    <!-- <span class="deleting-progress">...</span> -->
                </div>
            </div>
        </table-template>
    </div>
    <footer></footer>
</section>

<sidebar [show]="showAddService" (onClose)="showService(false)">
    <create-service (onClose)="showService(false)"></create-service>
</sidebar>



