@import './../../../main-styles';
/deep/ .table-filter-wrap .table-container {
  box-shadow: none; // set min-height so that table takes up entire space even when its empty
  // rest of section above table height ~ 22rem (approx)
  min-height: calc(100vh - 22rem);
}

/deep/ .table-wrap.fixed {
  position: fixed;
}
/deep/.service-list-table
 .column:nth-child(3)
 .input-wrapper {
    margin-left: 0 !important;
}
/deep/ .service-list-table
.column:nth-child(3)
.input-wrapper .textForm {
    margin-left: 0 !important;
}
/deep/ .service-list-table .table-filters-row
.column:nth-child(3){
    padding: 10px 3px !important;
}
.create-service{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/deep/ .table-filter-wrap .tabs-wrap {
  ul {
    border: 1px solid #aaaaaa;
    margin: 20px 20px 0 20px !important;
    border-radius: 3px;
    display: inline-block;
    @media(max-width: 853px) {
      border: none;
      margin: 0 !important;
      border-radius: 0px;
      white-space: nowrap;
      overflow: auto;
      vertical-align: middle;
      max-width: 100vw;
      &::-webkit-scrollbar {
        display: none;
      }
    }
    li {
      margin-right: 0 !important;
      padding: 4px 18px;
      list-style-type: none;
      display: inline-block;
      font-size: 12px;
      border-right: 1px solid #aaaaaa;
      cursor: pointer;
      text-transform: uppercase;
      min-width: 6rem;
      text-align: center;
      @media(max-width: 853px) {
        font-size: 14px;
        color: #fff;
        cursor: pointer;
        padding: 7px 16px;
        min-width: 0rem;
        text-transform: capitalize;
        margin: 0 8px !important;
        border-right: none;
      }
      &.active {
        background: #ed008c;
        color: #fff !important;
        border-right: 1px solid #ed008c;
        border-bottom: none !important;
        @media(max-width: 853px) {
          color: #ed008c !important;
          border-bottom: 5px solid #ed008c !important;
          background: none;
          border-right: none;
        }
      }
      &:last-child {
        border-right: none;
      }
    }
  }
}

.table-filter-wrap {
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(180, 180, 211, 0.4);
  border-radius: 3px;
}

@media only screen and (min-width: 1450px) {
  /deep/ jazz-table .table-container {
    table {
      thead {
        tr {
          th {
            &:nth-child(1) {
              width: 300px; //fallback
              width: calc(100% - 850px);
            }
            &:nth-child(2) {
              width: 150px;
            }
            &:nth-child(3) {
              width: 150px;
            }
            &:nth-child(4) {
              width: 250px;
            }
            &:nth-child(5) {
              width: 150px;
            }
            &:last-child {
              width: 150px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1450px) {
  /deep/ jazz-table .table-container {
    table {
      thead {
        tr {
          th {
            &:nth-child(1) {
              width: 250px; //fallback
              width: calc(100% - 700px);
            }
            &:nth-child(2) {
              width: 100px;
            }
            &:nth-child(3) {
              width: 120px;
            }
            &:nth-child(4) {
              width: 220px;
            }
            &:nth-child(5) {
              width: 90px;
            }
            &:last-child {
              width: 120px;
            }
          }
        }
      }
    }
  }
}

.service-list-table {
  padding: 20px 0;
  @media (min-width: $screen-md) {
    padding: 20px 20px;
  }
  /deep/ .table-header .column {
    color: #000;
  }
  .column,
  /deep/ .column {
    &:nth-child(1) {
      width: 200px;
      padding-left: 20px;
      @media (min-width: $screen-md) {
        padding-left: 15px;
      }
      @media (min-width: $screen-lg) {
        width: calc(100% - 700px);
      }
    }
    &:nth-child(2) {
      width: 92px;
    }
    &:nth-child(3) {
      width: 160px;
      display: none;
      @media (min-width: $screen-md) {
        display: block;
      }
    }
    &:nth-child(4) {
      width: 120px;
      display: none;
      @media (min-width: $screen-lg) {
        display: block;
      }
    }
    &:nth-child(5) {
      width: 119px;
    }
    &:last-child {
      width: 120px;
      display: none;
      @media (min-width: $screen-md) {
        display: block;
      }
    }
    .table-filters-row {
      .input-wrapper,
      input.textForm {
        max-width: 100%;
      }
    }
  }
  /deep/ .table-filters-row {
    &.open {
      height: 50px;
    }
  }
  /deep/ .table-body {
    .column {
      &:nth-child(1) {
        color: #ed008c;
        font-weight: 700;
      }
      &:last-child {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    .column.status {
      &.Active {
        color: #60b602;
      }
      &.Pending {
        color: #aaa;
      }
      &.Stopped {
        color: #d0021b;
      }
    }
  }
  /deep/ .table-row {
    border: none;
    height: 50px;
    text-transform: lowercase;
    &:nth-child(odd) {
      background-color: #efefef;
    }
    &:nth-child(even) {
      background-color: #fff;
    }
    &:hover {
      background-color: rgba(221, 221, 221, 0.87);
    }
  }
  .health {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    margin-left: 18px;
    background-color: #aaa;
    &.state-1 {
      background-color: #d0021b;
    }
    &.state-2 {
      background-color: #60b602;
    }
    &.state-0 {
      background-color: #aaa;
    }
  }
}

.view-container {
  height: 300px; //fallback
  height: calc(100vh - 4.7rem);
  background-color: #f3f3f3;
  overflow: auto;
  @media(max-width: 853px) {
    padding: 18vh 0 80px;
  }
}

.page-title-wrap {
  overflow: hidden;
  padding: 26px 0 26px 0px;
  .header1 {
    float: left;
  }
  btn-primary-with-icon {
    float: right;
  }
}

/deep/ .table-mob-view {
  td,
  th {
    &:nth-child(3),
    &:last-child {
      @media (max-width: 853px) {
        display: none;
      }
    }
  }
}

/deep/ .table-mob-view {
  td,
  th {
    &:nth-child(4) {
      @media (max-width: 991px) {
        display: none;
      }
    }
  }
  td {
    &:nth-child(5) {
      padding-left: 23px;
    }
  }
}

search- box {
  display: block;
  margin-left: auto;
}

.refresh {
  // padding:7px 0;
  // order:2;
  // margin-left:1rem;
  font-weight: bold;
  font-size: 18px;
  vertical-align: middle;
}

.page-filter-wrap {
  display: flex;
  align-items: center;
  padding: 20px 20px 0 20px;
  flex-wrap: wrap;
  width: 100%;
  filters {
    padding-top: 2rem;
    order: 3;
    white-space: nowrap;
    min-width: 100%;
    @media (min-width: $screen-sm) {
      order: 0;
      padding-top: 0rem;
      min-width: auto;
    }
  }
  .search-filter-wrap {
    margin-left: auto;
    @media(max-width: $screen-md) {
      padding-top: 1rem;
    }
  }
}

.left {
  float: left;
}

.right {
  float: right;
}

.bold {
  font-weight: bold;
}

.delete-msg-wrapper {
  position: absolute;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  left: 50%;
  width: 400px;
}

.delete-msg-inner-wrapper {
  display: inline-block;
  width: 100%;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(180, 180, 211, 0.4);
  .icon-icon-success {
    font-size: 33px;
    background: #82ca30;
    padding: 4px;
    color: #fff;
  }
  .icon-icon-close {
    font-size: 12px;
    padding: 14px 10px;
    columns: #ed008c;
  }
}

.delete-msg {
  padding: 12px 20px;
}

.delete-close {
  cursor: pointer;
}

.deleting-progress {
  display: none;
}

.deletingRow {
  // opacity: 0.5!important;
  background-color: rgba(215, 11, 0, 0.15) !important;
  .column {
    color: rgba(0, 0, 0, 0.5) !important;
  }
  .deleting-progress {
    display: inline;
  }
}

.activeRow {
  opacity: 1;
  background-color: #faf9f9 !important;
}

/* TODO: Rename */
.parent-div {
  align-items: center;
  cursor: default;
  display: flex;
  margin: -4px 0 0 10px;
  font-size: .9em;
  padding: 10px 5px 10px 0;

  span.information {
      cursor: pointer;
      margin-left: .4em;
  }

  &:hover .tooltip {
      opacity: 1;
      visibility: visible;
  }
}

.tooltip {
  visibility: hidden;
  background: #ed008c;
  color: #fff;
  padding: 0.7em 1em;
  border-radius: 0.5em;
  position: absolute;
  opacity: 0.8;
  width: 22em;
  left: 410px;
  top: 229px;
  line-height: 1.3em;

  a {
      color: white;
      font-weight: 500;
      text-decoration: underline;
  }

  &:hover {
      opacity: 1;
      visibility: visible;
  }
}
