
<section class='ft-container'>
  <div>
    <!-- <img class='ft-logo' src='assets/landing/TMOBlack@2x.png.png' > -->
    <span *ngIf='!isOSS' class="ft-logo icon-tmobile-logo"></span>
  
    <div class='ft-links'>
      <ul>
         
        <li class=''><a tabindex="-1" target="_blank" href='{{docs_url}}'>DOCS</a></li>
        <li class='mid'><a tabindex="-1" (click)='goToAbout("features")' > FEATURES</a></li>
        <li class=''><a tabindex="-1" (click)='goToAbout("about")' >CONTACTS</a></li>
      </ul>
    </div>
  </div>

    <div class='ft-text'>
    <ul>
      <li>Copyright 2018 <div class='circle'></div></li>
      <li>All rights reserved <div class='circle'></div></li>
      <li>Privacy policy</li>
    </ul>
    </div>
  

  
</section>
