@import './../main-styles';
@import '~variables.scss';

/*
 * Toastr
 * Version 2.0.1
 * Copyright 2012 John Papa and Hans Fjallemark.
 * All Rights Reserved.
 * Use, reproduction, distribution, and modification of this code is subject to the terms and
 * conditions of the MIT license, available at http://www.opensource.org/licenses/mit-license.php
 *
 * Author: John Papa and Hans Fjallemark
 * Project: https://github.com/CodeSeven/toastr
 */

/deep/ {
  .toaster-icon {
    position: absolute;
    left: 0.0em;
    top: 0.0em;
    font-weight: normal;
    color: #ffffff;
  }
  .toast-title {
    font-weight: bold;
    display: inline;
    padding-right: 2px;
  }
  .toast-message {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    display: inline;
    div {
      display: inline;
    }
  }
  .toast-message a,
  .toast-message label {
    color: #ffffff;
  }
  .toast-message a:hover {
    color: #cccccc;
    text-decoration: none;
  }
  .toast-close-button {
    margin-left: 3px !important; // position: relative;
    // right: -0.3em;
    // top: 0;
    // bottom: 0;
    float: right;
    font-size: 28px;
    font-weight: 500;
    color: #ed0085;
    -webkit-text-shadow: 0 1px 0 #ffffff;
    text-shadow: 0 1px 0 #ffffff; // opacity: 0.8;
    // // -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    // filter: alpha(opacity=80);
    z-index: 999;
    margin-right: 2%;
  }
  .toast-close-button:hover,
  .toast-close-button:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer; // opacity: 0.4;
    // // -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    // filter: alpha(opacity=40);
  }
  /*Additional properties for button version
	 iOS requires the button element instead of an anchor tag.
	 If you want the anchor version, it requires `href="#"`.*/
  button.toast-close-button {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    -webkit-appearance: none;
  }
  .toast-content {
    display: inline-block; // width: 75%;
    vertical-align: middle;
  }
  .toast-top-full-width {
    top: 0;
    right: 0;
    width: 100%;
  }
  .toast-bottom-full-width {
    bottom: 0;
    right: 0;
    width: 100%;
  }
  .toast-top-left {
    top: 12px;
    left: 12px;
  }
  .toast-top-center {
    top: 12px;
  }
  .toast-top-right {
    top: 60px;
    right: 12px;
  }
  .landing .toast-top-right {
    top: 12px; // left: auto;
    // right: 12px;
  }
  .toast-bottom-right {
    right: 12px;
    bottom: 12px;
  }
  .toast-bottom-center {
    bottom: 12px;
  }
  .toast-bottom-left {
    bottom: 12px;
    left: 12px;
  }
  .toast-center {
    top: 45%;
  }
  #toast-container {
    position: fixed;
    z-index: 999999;
    pointer-events: auto; // left: 45%;
    top: -100px;
    font-size: 12px;
    display: flex;
    transition-property: top, bottom;
    transition-duration: 0.5s;
    -webkit-transition-property: top, bottom;
    -webkit-transition-duration: 0.5s;
    -moz-transition-property: top, bottom;
    -moz-transition-duration: 0.5s;
  } //-webkit-animation: slide 0.5s forwards;
  .toaster-anim {
    top: 60px !important;
  }
  @keyframes slide {
    10% {
      top: 10px;
    }
    90% {
      top: 10px;
    }
    100% {
      top: -100px;
    }
  }
  .try-again:hover {
    text-decoration: none;
  }
  #toast-container.toast-center,
  #toast-container.toast-top-center,
  #toast-container.toast-bottom-center {
    width: 100%;
    pointer-events: none;
  }
  #toast-container.toast-center>div,
  #toast-container.toast-top-center>div,
  #toast-container.toast-bottom-center>div {
    margin: 6px auto;
    pointer-events: auto;
  }
  #toast-container.toast-center>button,
  #toast-container.toast-top-center>button,
  #toast-container.toast-bottom-center>button {
    pointer-events: auto;
  }
  #toast-container * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  #toast-container>div {
    position: relative;
    overflow: hidden;
    margin: 0 0 6px;
    padding: 15px 15px 15px 60px;
    width: 500px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: .5em;
    background-position: 15px center;
    background-repeat: no-repeat;
    box-shadow: none;
    opacity: 0.95; // -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
    filter: alpha(opacity=95);
  }
  #toast-container>:hover {
    box-shadow: 0 9px 19px #0000007a;
    opacity: 1; // -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter: alpha(opacity=100);
    cursor: pointer;
  }
  .icon-info {
    width: 46px;
    height: 100%;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII=") !important;
    background-color: #2f96b4;
  }
  .icon-wait {
    width: 64px;
    height: 100%;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 58% 50%;
    background-image: url("/assets/images/icons/wait-glyph-white.png") !important;
    background-size: 55%;
  }
  .icon-error {
    width: 46px;
    height: 100%;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHOSURBVEhLrZa/SgNBEMZzh0WKCClSCKaIYOED+AAKeQQLG8HWztLCImBrYadgIdY+gIKNYkBFSwu7CAoqCgkkoGBI/E28PdbLZmeDLgzZzcx83/zZ2SSXC1j9fr+I1Hq93g2yxH4iwM1vkoBWAdxCmpzTxfkN2RcyZNaHFIkSo10+8kgxkXIURV5HGxTmFuc75B2RfQkpxHG8aAgaAFa0tAHqYFfQ7Iwe2yhODk8+J4C7yAoRTWI3w/4klGRgR4lO7Rpn9+gvMyWp+uxFh8+H+ARlgN1nJuJuQAYvNkEnwGFck18Er4q3egEc/oO+mhLdKgRyhdNFiacC0rlOCbhNVz4H9FnAYgDBvU3QIioZlJFLJtsoHYRDfiZoUyIxqCtRpVlANq0EU4dApjrtgezPFad5S19Wgjkc0hNVnuF4HjVA6C7QrSIbylB+oZe3aHgBsqlNqKYH48jXyJKMuAbiyVJ8KzaB3eRc0pg9VwQ4niFryI68qiOi3AbjwdsfnAtk0bCjTLJKr6mrD9g8iq/S/B81hguOMlQTnVyG40wAcjnmgsCNESDrjme7wfftP4P7SP4N3CJZdvzoNyGq2c/HWOXJGsvVg+RA/k2MC/wN6I2YA2Pt8GkAAAAASUVORK5CYII=") !important;
    background-color: #bd362f;
  }
  .icon-success {
    width: 64px;
    height: 100%;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 58% 50%;
    background-image: url("/assets/images/icons/success-glyph-green.png") !important;
    background-size: 55%;
  }
  .icon-warning {
    width: 46px;
    height: 100%;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGYSURBVEhL5ZSvTsNQFMbXZGICMYGYmJhAQIJAICYQPAACiSDB8AiICQQJT4CqQEwgJvYASAQCiZiYmJhAIBATCARJy+9rTsldd8sKu1M0+dLb057v6/lbq/2rK0mS/TRNj9cWNAKPYIJII7gIxCcQ51cvqID+GIEX8ASG4B1bK5gIZFeQfoJdEXOfgX4QAQg7kH2A65yQ87lyxb27sggkAzAuFhbbg1K2kgCkB1bVwyIR9m2L7PRPIhDUIXgGtyKw575yz3lTNs6X4JXnjV+LKM/m3MydnTbtOKIjtz6VhCBq4vSm3ncdrD2lk0VgUXSVKjVDJXJzijW1RQdsU7F77He8u68koNZTz8Oz5yGa6J3H3lZ0xYgXBK2QymlWWA+RWnYhskLBv2vmE+hBMCtbA7KX5drWyRT/2JsqZ2IvfB9Y4bWDNMFbJRFmC9E74SoS0CqulwjkC0+5bpcV1CZ8NMej4pjy0U+doDQsGyo1hzVJttIjhQ7GnBtRFN1UarUlH8F3xict+HY07rEzoUGPlWcjRFRr4/gChZgc3ZL2d8oAAAAASUVORK5CYII=") !important;
    background-color: #f89406;
  }
  #toast-container.toast-top-full-width>div,
  #toast-container.toast-bottom-full-width>div {
    width: 96%;
    margin: auto;
  }
  .toast {
    position: relative;
    background-color: #030303;
  }
  #toast-container .toast-error {
    background: #d80000bf;
  }
  .toast-error {
    .icon-error {
      background-color: transparent;
      background-image: none !important;
      font-size: 2.5rem;
      text-align: right;
      vertical-align: middle;
      line-height: 5rem;
      &:before {
        content: "\ea10";
        color: #ffffff;
      }
    }
    .toast-close-button {
      color: #ffffff;
    }
  }
  .toast-info {}

  // TODO: Find new location for custom toast styles
  .toast-error,
  .toast-success,
  .toast-wait {
    background: #252525e6;
    color: white;
    box-shadow: none;
    display: flex;
    padding: 1.4em 0 !important;
    top: 8px;
    .toast-title {
      display: block;
      font-size: 1.35em;
      font-weight: 400;
      margin: 2px 0;
    }
    .toast-content {
      flex: 1;
      font-size: .95em;
      margin: 0 10px 5px 70px;
      text-shadow: 0 0.05em black;
    }
    .toast-message {
      opacity: .85;
    }
    .toast-close-button {
      border-left: 1px solid #b4b5bc4d;
      margin: 0;
      > button.toast-close-button {
        color: #a4a8aa;
        font-size: .8em;
        line-height: 0;
        text-shadow: none;
      }
      > button {
        background: none;
        color: #8f9091;
        border: 0;
        font-size: .4em;
        height: 100%;
        padding: 14px;
        text-transform: uppercase;
        &:focus {
          opacity: .7;
          outline: 0;
        }
        &:hover {
          color: white;
        }
      }
    }
  }

  .toast-success {
    .toast-title {
      color: #50b319;
    }
  }

  .toast-wait {
    .toast-title {
      color: $magenta;
    }
  }

  .toast-warning {}
  /*Responsive Design*/
  @media all and (max-width: 240px) {
    #toast-container>div {
      padding: 8px 8px 8px 50px;
      width: 11em;
    }
    #toast-container .toast-close-button {
      border: 0;
      right: -0.2em;
      top: -0.2em;
    }
  }
  @media all and (min-width: 241px) and (max-width: 480px) {
    #toast-container>div {
      padding: 8px 8px 8px 50px;
      width: 20em;
    }
    #toast-container .toast-close-button {
      // right: -0.2em;
      // top: -0.2em;
      vertical-align: middle;
      width: 5%;
    }
  }
  @media all and (min-width: 481px) and (max-width: 768px) {
    #toast-container>div {
      padding: 15px 15px 15px 50px;
      width: 25em;
    }
  }
  /*
	  * AngularJS-Toaster
	  * Version 0.3
	 */
  :not(.no-enter)#toast-container>div.ng-enter,
  :not(.no-leave)#toast-container>div.ng-leave {
    // -webkit-transition: 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    // -moz-transition: 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    // -ms-transition: 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    // -o-transition: 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  }
  :not(.no-enter)#toast-container>div.ng-enter.ng-enter-active,
  :not(.no-leave)#toast-container>div.ng-leave {
    opacity: 0.8;
  }
  :not(.no-leave)#toast-container>div.ng-leave.ng-leave-active,
  :not(.no-enter)#toast-container>div.ng-enter {
    opacity: 0;
  }
}

section:focus {
  outline: none !important;
}
