<div class="user-journey">


  <div class="user-journey-screen loaded"
       *ngFor="let step of steps; let i = index"
       [ngClass]="step.class"
       [class.current]="stepIndex === i"
       [style.left]="getPosition(i)">
    <div class="user-journey-content">
      <div class="user-journey-message"
           [class.hide-message]="i !== stepIndex"
           [class.title]="step.title">
        <h2 *ngIf="step.title"><strong>{{step.title}}</strong></h2>
        <span [innerHTML]="step.message | safeHtml"></span>
        <a [href]="step.messageLink" target="_blank">{{step.messageLink}}</a>
      </div>


      <img class="user-journey-media"
           *ngIf="getExtension(step) === 'svg'"
           [ngStyle]="step.contentStyle"
           [attr.src]="step.src" alt="">

      <video class="user-journey-media"
             preload="auto"
             [class.current]="i === stepIndex"
             [ngStyle]="step.contentStyle"
             [attr.id]="'user-journey-video-' + i"
             loop
             *ngIf="getExtension(step) ==='mp4'">
        <source [src]="step.src | safeUrl">
        Browser does not support video
      </video>
    </div>
  </div>
  <div class="exit-journey" (click)="endUserJourney()">
    <span class="icon-icon-close"></span>
  </div>
  <div class="user-journey-menu">
    <button (click)="previousStep()" class="user-journey-btn previous-step" [class.hiding]="!stepIndex">PREVIOUS
    </button>
    <div class="user-journey-balls">
      <div *ngFor="let step of steps let i = index"
           (click)="setStep(i)"
           [class.current]="stepIndex === i"
           class="step-ball"></div>
    </div>
    <button class="user-journey-btn" (click)="nextStep()">
      {{last ? 'FINISH' : 'NEXT'}}
    </button>
  </div>
</div>
