@import './../../../main-styles';
.section-top {
    padding: 10px 5px;
}

.page-section {
    margin: 0;
    margin-bottom: 1.5rem;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
    padding: 2rem;
}

.filter-wrp {
    display: flex;
    align-items: center;
}

.table-container {
    padding-top: 2rem;
}
.log-table-container{
    .column,
    /deep/ .column {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        &:nth-child(1) {
            width: 15rem;
        }
        &:nth-child(2) {
            // display: none;
            width: 30%;
            // overflow: hidden;
            // white-space: nowrap;
            // text-overflow: ellipsis;
            @media(max-width: $screen-sm){
                display: none;
            }
            @media(max-width: $screen-md    ){
                display: none;
            }
        }
        &:nth-child(3) {
            width: 50%;
            white-space: nowrap;
            @media(max-width: $screen-sm){
                display: none;
            }
            @media(max-width: $screen-md    ){
                // display: none;
            }
        }
        &:nth-child(4) {
            width: 7rem;
        }
    }
}

.filter-icon {
    margin: 0 1rem;
    display: inline-block;
    .icon-icon-filter-unselected {
        cursor: pointer;
        display: inline-block;
        vertical-align: middle;
        font-size: 16px;
        padding: 6px;
        background: #fff;
        border-radius: 5px;
        transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        &.selected {
            box-shadow: 1px 0px 6px -1px rgba(51, 51, 51, 0.46);
            background: #ed008c;
            &:before {
                color: #fff;
            }
        }
    }
}

search-box {
    display: inline-block;
    margin-left: auto;
}
.search-filter-wrap{
    margin-left: auto;
    @media(max-width:$screen-md){
        padding-top: 1rem;
    }
}