@import './../../../main-styles';
:host {
    display: block;
}

.dt-wrapper {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    padding: 12px 0;
    width: 500px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background: #fff;
    margin-top: 0;
    overflow: hidden;
    height: 0;
    opacity: 0;
    transform: translateY(-20px);
    transition: transform 0.3s ease-in-out, opacity 0.6s ease-in-out;
    .dt-content {
        transition: opacity 0.3s ease-out;
        opacity: 0;
    }
    &.open {
        height: auto;
        opacity: 1;
        transform: translateY(0px);
        right:-188px;
        .dt-content {
            opacity: 1;
        }
    }
}

.input-wrapper {
    height: 30px;
    margin: 0;
    input {
        height: 30px;
    }
}

.calendar-title {
    padding-bottom: 1rem;
}

.calendar-left-wrp,
.calendar-right-wrp {
    width: 50%;
    padding: 0 12px;
}

.calendar-left-wrp {
    border-right: 1px solid #ddd;
}

.time-wrp {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    span {
        padding: 10px 4px;
    }
    input {
        padding: 10px;
        padding-right: 5px;
        border: 1px solid #ddd;
    }
}

/deep/ .dt-wrapper {
    position: relative;
    date-time-dialog {
        position: relative;
        .picker-inline {
            border: none;
        }
    }
    .picker-popup {
        position: absolute !important;
        left: 100% !important;
        width: 30rem !important;
    }
    .picker-banner {
        display: none;
    }
    .picker-control-nav {
        .nav-next,
        .nav-prev {
            padding: 10px !important;
        }
        .nav-next::before {
            border-left-color: #ed008c !important;
        }
        .nav-prev::before {
            border-right-color: #ed008c !important;
        }
    }
    .picker-control-content {
        .month,
        .year {
            font-size: 13px !important;
            font-weight: 700 !important;
            color: #777 !important;
            font-style: normal !important;
        }
    }
    .picker-box {
        font-family: Lato !important;
        .picker-day {
            font-size: 12px !important;
            line-height: 28px !important;
            height: 28px !important;
            border-radius: 50%;
            &.selected {
                background-color: #777 !important;
            }
            &:hover {
                background-color: #aaa !important;
            }
            &.today {
                border: 1px solid #eee;
            }
        }
        .picker-weekday {
            line-height: 32px !important;
        }
        .picker-control.footer {
            display: none;
        }
    }
    .small-mode .picker-box .picker-content {
        height: 220px !important;
    }
    .picker-calendar .today::before {
        display: none;
    }
    input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        cursor: pointer;
        display: block;
        display: block !important;
        width: 8px;
        opacity: 1;
        color: #333;
        text-align: center;
        position: relative;
    }
    input[type=number]::-webkit-inner-spin-button {
        background: url('/assets/images/icons/input_number_arrow.png') no-repeat 50% 50%;
        background-size: cover;
        width: 8px;
        height: 10px;
        padding: 4px;
        position: relative;
        right: 0px;
    }
}

.btn-wrp {
    width: 100%;
    text-align: center;
    padding: 50px 0 5px 0;
}

// new
/deep/ .dt-content.btn-wrp {
    height: 100% !important;
}

/deep/ .date-wrp {
    position: relative !important;
    height: 205px !important;
}

/deep/ .datepicker-container .datepicker-calendar .datepicker-calendar-top {
    background: #fff !important;
    color: #333 !important;
}

/deep/ .datepicker-container .datepicker-calendar .datepicker-calendar-top .year-title {
    color: #333 !important;
}

/deep/ .datepicker-container .datepicker-calendar .datepicker-calendar-container {
    background: #fff !important;
}

/deep/ .datepicker-container svg g,
/deep/ .datepicker-container svg g g {
    fill: #ed008c !important;
}

/deep/ .datepicker-buttons {
    display: none !important;
}

/deep/ .datepicker-container .datepicker-calendar .datepicker-calendar-container .datepicker-calendar-days-container .day.selected,
/deep/ .datepicker-container .datepicker-calendar .datepicker-calendar-container .datepicker-calendar-days-container .day:hover:not(.disabled),
/deep/ .datepicker-container .datepicker-calendar .datepicker-calendar-container .datepicker-calendar-years-container .year.selected,
/deep/ .datepicker-container .datepicker-calendar .datepicker-calendar-container .datepicker-calendar-years-container .year:hover {
    border: 0 !important;
    background: grey !important;
    color: #fff !important;
    border-radius: 50% !important;
}
/deep/ .datepicker-container .datepicker-calendar .datepicker-calendar-container .datepicker-calendar-days-container .day.disabled {
    pointer-events: none;
    color: rgba(153, 153, 153, 0.79) !important;
}
/deep/ .datepicker-container .datepicker-calendar .datepicker-calendar-container .datepicker-calendar-days-container .day {
    color: #333 !important;
}

/deep/ span.month-title {
    color: #333 !important;
}

/deep/ .datepicker-container .datepicker-calendar {
    top: 0 !important;
    /* width: 235px !important; */
}

/deep/ .datepicker-container .datepicker-calendar .datepicker-calendar-top .year-title {
    margin-top: 0px !important;
    font-size: 17px !important;
}

/deep/ .datepicker-container .datepicker-calendar .datepicker-calendar-top button {
    color: #333 !important;
    width: auto !important;
    /* margin-top: -24px; */
}

/deep/ .datepicker-container .datepicker-calendar .datepicker-calendar-container {
    position: absolute !important;
    top: 0px !important;
    background: transparent !important;
    left: 0 !important;
    padding: 0 !important;
}

/deep/ span.month-title {
    position: relative !important;
    left: -28px !important;
}

/deep/ .datepicker-container .datepicker-calendar {
    border-radius: 0 !important;
    box-shadow: none !important;
    width: 230px !important;
}

/deep/ .datepicker-container .datepicker-input-container {}

/deep/ .datepicker-container .datepicker-input-container {
    width: auto !important;
}

/deep/ .datepicker-calendar .datepicker-calendar-top {
    position: absolute !important;
    z-index: 1 !important;
    background: transparent !important;
    top: -2px !important;
    width: 65px !important;
    height: 26px !important;
    left: 125px !important;
}

/deep/ .datepicker-container .datepicker-calendar .datepicker-calendar-top button {
    margin-top: -22px !important;
    opacity: 0 !important;
    width: 70px !important;
}

/deep/ .datepicker-input-container {
    opacity: 0 !important;
}

/deep/ .slimscroll-wrapper {
    top: 30px !important;
    background: #fff !important;
}
/deep/ .daterange-wrapper .input-wrapper input{
    padding-right: 28px;
}
