@import './../../../main-styles';
@import './../service-detail/service-detail.component.scss';
.section-top {
  padding: 10px 5px;
}

.cosT {
  display: flex;
  flex-direction: row;
  @media(max-width: $screen-sm) {
    flex-direction: column;
  }
  @media(max-width: $screen-md) {
    flex-direction: column;
  }
  @media(max-width: 1200px) {
    flex-direction: column;
  }
}
.cost-value {
  font-size: 36px;
  color: #5cae01;
  display: inline-block;
  padding-right: 8px;
}

.cost-label {
  display: inline-block;
}

.cost-category {
  border-bottom: 2px solid #ddd;
  padding: 1.6rem;
  &:last-child {
    border-bottom: none;
  }
}

.filter-inner {
  display: flex;
}

.filter-wrp {
  padding-bottom: 3rem;
  display: flex;
  text-align: left;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  dropdown {
    display: block;
    margin-left: auto; // float: right;
    height: 32px;
    min-width: 100px;
  }
}

.filter-icon {
  display: inline-block;
  margin: 0 1rem;
  span {
    cursor: pointer;
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    &.icon-icon-filter-selected {
      font-size: 24px;
      margin-top: -4px;
      display: inline-block;
      span {
        padding-top: 0;
      }
    }
  }
}

.cost-table {
  .column,
  /deep/ .column {
    &:nth-child(1) {
      flex-basis: 20%;
    }
    &:nth-child(2) {
      flex-basis: 20%;
    }
    &:nth-child(3) {
      flex-basis: 20%;
    }
    &:nth-child(4) {
      flex-basis: 20%;
      @media(max-width: $screen-sm) {
        display: none;
      } // @media(max-width: $screen-md){
      //     display: none;
      // }
    }
    &:nth-child(5) {
      flex-basis: 20%;
      @media(max-width: $screen-sm) {
        display: none;
      }
      @media(max-width: $screen-md) {
        display: none;
      }
    }
  }
}

search-box {
  display: inline-block;
  margin-left: auto;
}

.graph-wrp {
  width: 100%;
  margin: auto;
  position: relative;
}

.cost-graph-temp {
  width: 75%;
  margin-top: 1.5rem;
}

.table-container {
  margin-top: 2rem;
}

.search-filter-wrap {
  margin-left: auto;
  @media(max-width: $screen-md) {
    padding-top: 1rem;
  }
}

.loading-circle {
  position: relative; // height: 3rem;
  &:before,
  &:after {
    content: "";
    position: absolute;
    left: calc(50% - 1.5rem);
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: 3px solid rgba(237, 0, 133, 0.1);
  }
  &:after {
    content: "";
    position: absolute;
    border-left-color: #ed0085;
    animation-name: rotate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

.loading-row-cost {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: #fff;
  top: 0;
  left: 0;
  .loading-circle {
    top: calc(50% - 1.5rem);
  }
  .error-text {
    position: relative;
    text-align: center;
    top: 45%;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 300;
  }
}

.total-amnt {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  color: #333;
}

.no-cost-txt {
  top: 40%;
  text-align: center; // visibility: visible;
}

.empty-row {
  // position: absolute;
  padding: 2rem;
  text-align: center;
  top: 0%;
  font-size: 18px;
  left: 45%; // text-transform: uppercase;
  font-weight: 300;
}

.with-refresh {
  left: 0; // width: 50% !important;
  font-weight: 500;
}

.with-refresh a {
  font-weight: bold;
}

.with-refresh img {
  margin-bottom: 10px;
}

.nodata {
  font-size: 14px;
  color: #555;
  b {
    font-size: 20px;
  }
}

dropdown {
  /deep/.dropdown-btn {
    min-width: 132px;
  }
  /deep/ .dropdown-menu>li>a {
    padding: 3px 12px;
  }
}

.feedback-overlay {
  position: fixed;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  z-index: 1000;
  text-align: center;
  .separator-row {
    border-bottom: 1px solid #ccc;
    margin-top: 2rem;
  }
  .feedback-wrap {
    min-width: 500px;
    width: 45%;
    max-width: 600px;
    top: 20%;
    margin: 0 auto;
    align-self: center;
    background-color: #fff;
    padding: 2rem;
    font-size: 16px;
    .feedback-hdr {
      font-size: 2rem;
      font-weight: bold;
    }
  }
  .feedback-text-wrap {
    p {
      padding: 1.5rem 0;
    }
    textarea {
      padding: 10px 10px;
      width: 100% !important;
      height: 100px !important;
    }
  }
  .feedback-text-wrap.feedbackRes {
    position: absolute;
    padding: 0 3rem;
    top: 46%;
    left: 0;
    .show {
      &.feedbackResSuccess {
        // margin:4rem 0;
        div {
          // padding-top: 2rem;
        }
      }
      &.feedbackResErr {
        // padding: 4rem 0;
      }
    }
  }
  .feedback-btn-wrap {
    font-size: 13px;
    text-align: right; // position: absolute;
    // right: 0;
    // padding: 2rem;
    // bottom: 0;
    a {
      margin: 5px;
      cursor: pointer;
    }
    .feedback-submit {
      /deep/ button.btn-primary {
        line-height: 3rem;
      }
    }
  }
  /deep/ button.btn-primary:focus,
  button.btn-primary:active {
    background-color: #ed008c !important;
    color: #fff !important;
    border: 1px solid #ed008c !important;
  }
}

.includeError {
  display: inline-block;
  float: left;
}

.custom-cb {
  label {
    border: 1px solid #999;
  }
}

.filter-wrp {
  display: flex;
  align-items: center;
  margin-bottom: 0.75rem;
  @media (min-width: $screen-lg) {
    .dropdown-1, .dropdown-2 {
      // width: 200px;
      // /deep/ .dropdown .dropdown-btn{
      //     font-size: 14px;
      // }
    }
  }
  /deep/ .dropdown-btn .caret {
    right: 3px !important;
  }
  .dropdown-1 {
    /deep/.dropdown-btn {
      min-width: 132px;
    }
  }
  .dropdown-1,
  .dropdown-2,
  .dropdown-3 {
    /deep/ .dropdown-menu>li>a {
      padding: 3px 12px;
    }
  }
}

.filters {
  width: 100%;
  @media (min-width: 853px) {
    width: auto;
  }
}

.filter-section-right {
  .dropdown-1,
  .dropdown-2,
  .dropdown-3 {
    flex-grow: 1;
    max-width: inherit;
  }
  .dropdown-2,
  .dropdown-3 {
    margin-left: 1rem;
  }
  width: 100%;
  display: flex;
  margin-left: auto;
  /deep/ .dropdown {
    min-width: 91px;
  }
  @media (min-width: 853px) {
    width: auto;
    /deep/ .dropdown {
      min-width: 91px;
    }
  }
}

.filter-icon {
  margin: 0 0 0 1rem;
  float: right; // margin-left: 25px;
  .icon-icon-filter-unselected {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    border-radius: 3px;
  }
}

.dropdown-3 {
  // margin:1.5rem 0;
  display: block;
}

.filter-wrap {
  display: none;
  position: absolute;
  top: 0;
  background-color: white;
  right: 0;
  padding: 1rem 1rem 0.5rem 1rem;
  font-size: 1rem;
  color: #000;
  border-radius: 5px;
  z-index: $zindex-dropdown;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  /deep/.dropdown-btn {
    width: 156px;
  }
  /deep/.dropdown-menu {
    width: 155px;
  }
  .filter-inner-wrap {
    padding: 1rem 1rem 0 1rem;
  }
  .icon-icon-filter-unselected {
    position: absolute;
    right: 0;
    top: 0;
  }
  .eachFilter {
    padding: 1em 0;
    font-weight: 500;
    div {
      font-weight: bold;
      margin-bottom: 0.5em;
      vertical-align: middle;
    }
    &:last-child {
      border-bottom: none; // padding:0;
    }
  }
  .dropdown-3 {
    margin: 1.5rem 0;
  }
}

.filter-wrap.show {
  height: auto;
}

.view-label {
  color: #666;
}

.first-child {
  width: 360px;
  margin-right: 1rem;
}

.hori-line {
  display: inline-block;
  height: 2px;
  width: 10px;
  background: #000;
  margin: 3px 6px 3px 0;
  border-radius: 5px;
}

.slider-wrap {
  padding-bottom: 1.5rem;
  /deep/ion-range-slider {
    /deep/ .irs {
      /deep/.irs-slider .single {
        width: 20px !important;
        top: 20px !important;
        height: 20px !important;
        border-radius: 50% !important;
        cursor: pointer !important;
        background: none !important;
        background-color: #fff !important;
      }
    }
  }
}
