<!-- TODO: Remove disclaimer after techtraining -->
<!-- <div class='feedback-overlay' *ngIf="isFeedback"> -->
<div class='feedback-overlay' *ngIf="openModal">
    <div class='feedback-wrap relative'>
        <div class='feedback-hdr relative'>Report an issue</div>
        <div class="separator-row"></div>
        <div class="loading-row-cost" [class.show]="isLoading">
            <div class="loading-circle"></div>
        </div>
            <div class='feedback-text-wrap' [class.invisible]="isLoading || feedbackRes">
                <p>Found a problem with the site? Please use the form below to describe the issue and we will fix it soon.</p>
                <textarea rows="5" cols="50" type="text" name='userFeedback' id="userFeedback" placeholder="Report your issue here" [(ngModel)]="model.userFeedback"  #userFeedback='ngModel'></textarea>
            </div>
            <div class="feedback-text-wrap feedbackRes" [class.show]="feedbackRes">
                <div class="hide feedbackResSuccess" [class.show]="feedbackResSuccess">
                    <div>{{feedbackMsg}}</div>
                </div>
                <div class="hide feedbackResErr" [class.show]="feedbackResErr"> Oops! {{feedbackMsg}}
                    <span> or <a (click)="mailTo()"> contact us</a> via email.</span>
                </div>
            </div>
            <div class='feedback-btn-wrap'>
                <!-- <div class="includeError">
                    <input type="checkbox">
                    <span></span>
                </div> -->
                <div class="slack-checkbox custom-cb includeError" [class.invisible]="isLoading || feedbackRes">
                        <input type="checkbox" (click)="errorIncluded()"  id="checkbox-slack" [checked]="errorInclude">
                        <label for="checkbox-slack"></label>
                        <div class="cb-status-dets">Include error details</div>
                    </div>
                <a (click)='openModal = !openModal;isLoading=false'  [class.invisible]="isLoading || feedbackRes">CANCEL</a>
                <btn-jazz-primary text="{{buttonText}}" class="feedback-submit" [class.invisible]="isLoading" [disablePrimaryBtn]="!model.userFeedback && buttonText=='SUBMIT'" (click)='submitFeedback(buttonText)'></btn-jazz-primary>
            </div>
    </div>
</div>

<div class="disclaimer-static-data hide"><i>This data is for representational purpose only and is not accurate</i></div>
<div class="row page-section section-top relative" [class.show]="">
    <!-- <div class="total-amnt">
        <div class="relative no-cost-txt" [class.invisible]="!noTotalCost">No data</div>
    </div> -->
    <div class="loading-row-cost" [class.show]="isGraphLoading">
        <div class="loading-circle"></div>
    </div>
    <div class="loading-row-cost" [class.show]="isDataNotAvailable">
        <div class="error-text">No Data Found</div>
    </div>
    <div class="loading-row-cost" [class.show]="loadingState=='error'">
        <div class="empty-row with-refresh relative">
            <div>{{errMessage}}</div>
        </div>
    </div>
    <div [class.show]="loadingState!='error' && !isDataNotAvailable">
        <div class="col-sm-3 cosT">
            <div class="cost-value">
                <amount [amount]="cost.perYear"></amount>
            </div>
            <div class="cost-label">
                <div>Cost</div>
                <div>({{cost.perYear.date}})</div>
            </div>
        </div>

        <div class="col-sm-3 cosT">
            <div class="cost-value">
                <amount [amount]="cost.perMonth"></amount>
            </div>
            <div class="cost-label">
                <div>Monthly Cost</div>
                <div>({{cost.perMonth.date}})</div>
            </div>
        </div>
        <div class="col-sm-3 cosT">
            <div class="cost-value">
                <amount [amount]="cost.perWeek"></amount>
            </div>
            <div class="cost-label">
                <div>Weekly Cost</div>
                <div>(Till {{cost.perWeek.date}})</div>
            </div>
        </div>
        <div class="col-sm-3 cosT">
            <div class="cost-value">
                <amount [amount]="cost.perDay"></amount>
            </div>
            <div class="cost-label">
                <div>Daily Cost</div>
                <div>({{cost.perDay.date}})</div>
            </div>
        </div>
    </div>
</div>
<div class="row page-section">
    <div class="cost-category">
        <filter-tags #filtertags (OnCancel)='cancelFilter($event)'></filter-tags>
<!--
        <div class="filter-wrp">
            <filters class="filters" [multiple]="false" [selectedList]="selected" [filtersList]="filtersList" (onSelected)="onFilterSelected($event)"></filters>
            <div class="filter-icon relative">
                <span class="icon-icon-filter-unselected" title="Filter" [class.selected]="filterSelected" (click)="filterSelected = !filterSelected; "></span>
                <div [class.show]='filterSelected' class="filter-wrap">
                    <span class="icon-icon-filter-unselected" title="Filter" [class.selected]="filterSelected" (click)="filterSelected = !filterSelected"></span>
                    <div class="filter-inner-wrap">
                        <div class='view-label'>View by:</div>

                        <div class="eachFilter">
                            <div><div class='hori-line'></div>ENVIRONMENT</div>
                            <dropdown class='dropdown-3' [IsEnvList]='environmentList.length > 5' [dropdwnContent]="environmentList" title="Select environment" [selected]="costGraphData.environment" (onSelected)="onEnvSelected($event)"></dropdown>
                        </div>

                        <div class="eachFilter">
                            <div><div class='hori-line'></div>ACCOUNT</div>
                            <dropdown class='dropdown-3' [IsEnvList]='environmentList.length > 5' [dropdwnContent]="environmentList" title="Select environment" [selected]="costGraphData.environment" (onSelected)="onEnvSelected($event)"></dropdown>
                        </div>
                        <div class="eachFilter">
                            <div><div class='hori-line'></div>REGION</div>
                            <dropdown class='dropdown-3' [IsEnvList]='environmentList.length > 5' [dropdwnContent]="environmentList" title="Select environment" [selected]="costGraphData.environment" (onSelected)="onEnvSelected($event)"></dropdown>
                        </div>

                    </div>
                </div>
            </div>
        </div> -->

        <div class="filter-wrp hide">
                <div class="filter-section-right">
                    <div class="filter-icon relative">
                        <span class="icon-icon-filter-unselected" title="Filter" [class.selected]="filterSelected" (click)="filterSelected = !filterSelected"></span>
                        <div [class.show]='filterSelected' class="filter-wrap">
                            <span class="icon-icon-filter-unselected" title="Filter" [class.selected]="filterSelected" (click)="filterSelected = !filterSelected"></span>
                            <div class='filter-inner'>
                                <div class="filter-inner-wrap first-child" >
                                    <div class='view-label'>Filter by:</div>

                                    <div class="eachFilter" >
                                        <div><div class='hori-line'></div>ENVIRONMENT</div>
                                        <dropdown class='dropdown-3' [IsEnvList]='environmentList.length > 5' [dropdwnContent]="environmentList" title="Select environment" [selected]="costGraphData.environment" (onSelected)="onEnvSelected($event)"></dropdown>
                                    </div>
                                    <div class="eachFilter no-border-no-padding" >
                                        <div><div class='hori-line'></div>METHOD</div>
                                        <dropdown class="dropdown-3 method" title="Select method" [dropdwnContent]="methodList" [selected]="methodSelected" (onSelected)="onMethodListSelected($event)"></dropdown>
                                    </div>
                                    <div class="eachFilter hide" *ngIf='service.serviceType == "function"'>
                                        <div><div class='hori-line'></div>ACCOUNT</div>
                                        <dropdown class="dropdown-3 method" title="Select method" [dropdwnContent]="accList" [selected]="accSelected" (onSelected)="onaccSelected($event)"></dropdown>
                                    </div>
                                    <div class="eachFilter hide" *ngIf='service.serviceType == "function"'>
                                        <div><div class='hori-line'></div>REGION</div>
                                        <dropdown class="dropdown-3 method" title="Select method" [dropdwnContent]="regList" [selected]="regSelected" (onSelected)="onregSelected($event)"></dropdown>
                                    </div>
                                </div>
                                <div class="filter-inner-wrap">
                                    <div class='view-label'>View by:</div>
                                    <div class="eachFilter slider-wrap">
                                        <div><div class='hori-line'></div>TIME RANGE</div>
                                        <dropdown class="dropdown-3" title="Select range" [dropdwnContent]="rangeList" [selected]="selectedTimeRange" (onSelected)="onRangeListSelected($event)"></dropdown>
                                    </div>
                                    <div class="eachFilter">
                                        <div><div class='hori-line'></div>PERIOD</div>
                                        <dropdown class="dropdown-3" title="Select period" [dropdwnContent]="periodList" [selected]="periodList[0]" (onSelected)="onPeriodSelected($event)"></dropdown>
                                    </div>
                                    <div class="eachFilter">
                                        <div><div class='hori-line'></div>STATISTICS</div>
                                        <dropdown class="dropdown-3" title="Select statistics" [dropdwnContent]="statisticList" [selected]="statisticSelected" (onSelected)="onStatisticSelected($event)"></dropdown>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <search-box (onChange)="onServiceSearch($event)"></search-box> -->

        </div>
        <!-- (onFilterSelect)='onFilterSelect($event)' -->
        <div>
         <ng-template adv-filters></ng-template>
        </div>

        <div class="graph-wrp">
             <div class="loading-row-cost" [class.show]="isGraphLoading">
                <div class="loading-circle"></div>
            </div>
            <div class="loading-row-cost" [class.show]="isDataNotAvailable">
                <!-- <div class="error-text">Data not available</div> -->
                <div class="empty-row nodata with-refresh relative">
                    <div class="icon-icon-nodata"></div>
                    <div><b>Oops, No Data Found</b><br>Doesn't look like there is any data available here.</div>
                </div>
            </div>
            <div class="loading-row-cost" [class.show]="loadingState=='error'">
                <div class="empty-row with-refresh relative">
                    <div class="icon-icon-server-error">
                        <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span>
                    </div>
                    <div class='oops'>Oops!</div>
                    <div>{{errMessage}}<br><a (click)="refreshCostData($event)">REFRESH</a> to give it another try.</div>
                    <br><div class='ctc-us'>If the problem persists, <a (click)='reportIssue()'> contact us</a>.</div>
                </div>
            </div>
            <bar-graph [graphData]="serviceCostList" [class.show]="loadingState!='error' && !isDataNotAvailable"></bar-graph>
        </div>
    </div>
    <div class="cost-category" [class.hide]="true">
        <div class="filter-wrp">
            <filters class="filters" [filtersList]="filtersList"></filters>
            <div class="search-filter-wrap">
                <search-box (onChange)="onServiceSearch($event)"></search-box>
                <div class="filter-icon">
                    <span class="icon-icon-filter-selected" *ngIf="filterSelected" (click)="filterSelected = !filterSelected">
                    <span class="path1"></span><span class="path2"></span>
                    </span>
                    <span class="icon-icon-filter-unselected" title="Filter" *ngIf="!filterSelected" (click)="filterSelected = !filterSelected">
                </span>
                </div>
            </div>
        </div>
        <div class="graph-wrp cost-table">
            <table-template class="table-container" [header]="costTableData.header">
                <div class="table-row" *ngFor="let row of costTableData.body" (click)="onRowClicked(row)">
                    <div class="column">{{row.column1}}</div>
                    <div class="column">{{row.column2}}</div>
                    <div class="column">{{row.column3}}</div>
                    <div class="column">{{row.column4}}</div>
                    <div class="column">{{row.column5}}</div>
                </div>
            </table-template>
        </div>
    </div>
</div>
