.jz-modal {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: calc(60rem/14) calc(100rem/14);
  background-color: #fff;
  height: 80%;
  width: calc(580rem/14);
}

h1 {
  font-size: 36px;
  font-weight: bold;
}

img {
  width: calc(100% - 2rem);
  height: auto;
  display: block;
}


p {
  text-align: center;
  white-space: normal;
  font-size: 22px;
}
