<tmobile-mob-header (backClick)='closeCreateService()' class='show-for-mobile' [icon]="'notification'" [headText]="'Create a Service'" [status]="'none'"></tmobile-mob-header>
<div class="create-service-wrap" (click)="closeDropdowns()">
    <section class="each-step-wrap create-service-header hide-for-mobile">
        <h4 class="bold-title">
            Create a Service
        </h4>
        <img (click)="closeCreateService()" src="../assets/images/icons/icon-close@3x.png">
    </section>
    <div *ngIf='!serviceRequested' class="pad-for-mobile">
        <section class="each-step-wrap type-of-service">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <p class="step-title">Choose the type of service you want to create:</p>
                    <p class="step-details">Donec facilisis tortor ut augue lacinia, at viverra est semper. Sed sapien metus, scelerisque nec pharetra id.</p>
                </div>
                <div class="col-lg-8 col-md-8">
                    <section class="col-lg-3 col-md-3 col-sm-4 col-xs-4  pad-left0">
                        <div class="service-box" [ngClass]="{'service-box-selected': typeOfService == 'api'}" (click)="changeServiceType('api')">
                            <div class="icon-icon-api" [ngClass]="{'selected': typeOfService == 'function'}"></div>
                            <p>API</p>
                        </div>
                    </section>
                    <section class="col-lg-3 col-md-3 col-sm-4 col-xs-4  pad-left0 disable-event">
                        <div class="service-box" [ngClass]="{'service-box-selected': typeOfService == 'function'}" (click)="changeServiceType('function')">
                            <div class="icon-icon-lambda" [ngClass]="{'selected': typeOfService == 'function'}"></div>
                            <p>FUNCTION</p>
                        </div>
                    </section>
                    <section class="col-lg-3 col-md-3 col-sm-4 col-xs-4 pad-left0 disable-event">
                        <div class="service-box" [ngClass]="{'service-box-selected': typeOfService == 'website'}" (click)="changeServiceType('website')">
                            <div class="icon-icon-web" [ngClass]="{'selected': typeOfService == 'function'}"></div>
                            <p>WEBSITE</p>
                        </div>
                    </section>
                </div>
            </div>
        </section>
        <section class="each-step-wrap type-of-platform">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <p class="step-title">Choose what platform you would like to use:</p>
                    <p class="step-details">Donec facilisis tortor ut augue lacinia, at viverra est semper. Sed sapien metus, scelerisque nec pharetra id.</p>
                </div>
                <div class="col-lg-8 col-md-8">
                    <section class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pad-left0">
                        <div class="service-box" [ngClass]="{'service-box-selected': typeOfPlatform == 'aws'}" (click)="changePlatformType('aws')">
                            <img src="../assets/images/icons/icon-aws@3x.png">
                            <p>AWS</p>
                        </div>
                    </section>
                    <section class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pad-left0">
                        <div class="service-box disabled-box" [ngClass]="{'service-box-selected': typeOfPlatform == 'azure'}" (click)="changePlatformType('azure')">
                            <img src="../assets/images/icons/icon-azure@3x.png">
                            <p>Azure</p>
                        </div>
                    </section>
                    <section class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pad-left0">
                        <div class="service-box disabled-box" [ngClass]="{'service-box-selected': typeOfPlatform == 'gcloud'}" (click)="changePlatformType('gcloud')">
                            <img src="../assets/images/icons/icon-googlecloud@3x.png">
                            <p>Google Cloud</p>
                        </div>
                    </section>
                    <section class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pad-left0">
                        <div class="service-box disabled-box washed-out" [ngClass]="{'service-box-selected': typeOfPlatform == 'ccp'}" (click)="changePlatformType('ccp')">
                            <img src="../assets/images/icons/con-ccp@3x-grayscale.png">
                            <p>CCP</p>
                        </div>
                    </section>
                </div>
            </div>
        </section>
        <section class="each-step-wrap run-time" *ngIf="typeOfService != 'website'">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <p class="step-title">Choose your runtime:</p>
                    <p class="step-details">Donec facilisis tortor ut augue lacinia, at viverra est semper. Sed sapien metus, scelerisque nec pharetra id.</p>
                </div>
                <div class="col-lg-8 col-md-8">
                    <div class="input-field-container">
                        <section class="col-lg-3 col-md-3 pad-left0">
                            <div class="radio-container" class="disable-event">
                                <input type="radio" name="runtime" id="nodejs" [value]="nodejs" [checked]="runtime == 'nodejs'" (click)="onSelectionChange('nodejs')">
                                <label for="nodejs"><span></span><span class="background"></span>Nodejs</label>
                            </div>
                        </section>
                        <section class="col-lg-3 col-md-3 pad-left0">
                            <div class="radio-container">
                                <input type="radio" name="runtime" id="java" [value]="java" [checked]="runtime == 'java'" (click)="onSelectionChange('java')">
                                <label for="java"><span></span><span class="background"></span>Java</label>
                            </div>
                        </section>
                        <section class="col-lg-3 col-md-3 pad-left0">
                            <div class="radio-container" class="disable-event">
                                <input type="radio" name="runtime" id="python" [value]="python" [checked]="runtime == 'python'" (change)="onSelectionChange('python')">
                                <label for="python"><span></span><span class="background"></span>Python</label>
                            </div>
                        </section>
                        <section class="col-lg-3 col-md-3 pad-left0">
                            <div class="radio-container" class="disable-event">
                                <input type="radio" disabled='disabled' name="runtime" id="cshell" [value]="cshell" [checked]="runtime == 'cshell'" (click)="onSelectionChange('cshell')">
                                <label for="cshell"><span></span><span class="background"></span>C#</label>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </section>
        <div class="loader-wrp" [class.show]="isLoading">
            <div class="loader">
                <div class="inner one"></div>
                <div class="inner two"></div>
                <div class="inner three"></div>
            </div>
        </div>
        <form (ngSubmit)="onSubmit()" #serviceForm="ngForm" class='mob-form-pad'>
            <section class="each-step-wrap service-name">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <p class="step-title">Service Name:</p>
                        <p class="step-details">Donec facilisis tortor ut augue lacinia, at viverra est semper. Sed sapien metus, scelerisque nec pharetra id.</p>
                    </div>
                    <div class="col-lg-8 col-md-8">
                        <section class="col-lg-12  pad-left0">
                            <div class="input-field-container">
                                <div class="input-wrapper" [ngClass]="{'y': serviceAvailable, 'n': serviceNotAvailable || serviceNameError || !serviceName.valid && (serviceName.dirty || serviceName.touched)}">
                                    <input name="serviceName" pattern="^[A-Za-z0-9\-]+$" type="text" class="textForm" id="serviceName" required [(ngModel)]="model.serviceName" placeholder="Enter service name" (blur)="serviceNameAvailability()" (ngModelChange)="onServiceChange($event)" #serviceName='ngModel'>
                                    <img class="input-loader ng-hide">
                                    <img *ngIf="serviceName.valid && showLoader" class="input-loader" src="../assets/images/icons/loading.png">
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </section>
            <section class="each-step-wrap domain-name">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <p class="step-title">Domain Name:</p>
                        <p class="step-details">Donec facilisis tortor ut augue lacinia, at viverra est semper. Sed sapien metus, scelerisque nec pharetra id.</p>
                    </div>
                    <div class="col-lg-8 col-md-8">
                        <section class="col-lg-12  pad-left0">
                            <div class="input-field-container">
                                <div class="input-wrapper" [ngClass]="{'n': !domainName.valid && (domainName.dirty || domainName.touched)}">
                                    <input name="domainName" type="text" class="textForm" placeholder="Enter domain name" id="domainName" [(ngModel)]="model.domainName" pattern="^[A-Za-z0-9\-]+$" #domainName='ngModel' (blur)="serviceNameAvailability()">
                                    <p class="termsConditions" *ngIf="!domainName.valid && (domainName.dirty || domainName.touched)">Domain name must contain only letters, numbers or hyphens (consecutive hyphens are not allowed)</p>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </section>
            <section class="each-step-wrap Internal-access hide" *ngIf="typeOfService != 'website'">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <p class="step-title">Access Restrictions</p>
                        <p class="step-details">Donec facilisis tortor ut augue lacinia, at viverra est semper. Sed sapien metus, scelerisque nec pharetra id.</p>
                    </div>
                    <div class="col-lg-8 col-md-8">
                        <section class="col-lg-12  pad-left0">
                            <div class="input-field-container">
                                <div class="slack-checkbox custom-cb">
                                    <input type="checkbox" id="checkbox-vpc" class="ng-untouched ng-valid ng-dirty ng-valid-parse" aria-invalid="false" [checked]="vpcSelected" (change)="vpcSelected = !vpcSelected">
                                    <label for="checkbox-vpc"></label>
                                    <div class="cb-status-dets">Does your service require access to internal T-mobile network and resources?</div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </section>
            <section class="each-step-wrap slack-channel-integration hide">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <p class="step-title">Slack Channel Integration</p>
                        <p class="step-details">Donec facilisis tortor ut augue lacinia, at viverra est semper. Sed sapien metus, scelerisque nec pharetra id.</p>
                    </div>
                    <div class="col-lg-8 col-md-8">
                        <section class="col-lg-12  pad-left0">
                            <div class="input-field-container">
                                <div class="slack-checkbox custom-cb">
                                    <input type="checkbox" id="checkbox-slack" class="ng-untouched ng-valid ng-dirty ng-valid-parse" aria-invalid="false" [checked]="slackSelected" (change)="slackSelected = !slackSelected">
                                    <label for="checkbox-slack"></label>
                                    <div class="cb-status-dets">Do you want us to notify you through #Slack?</div>
                                </div>
                                <div *ngIf="slackSelected == true">
                                    <div class="input-wrapper" [ngClass]="{'available': slackAvailble, 'unavailable': slackNotAvailble || !channelname.valid && (channelname.dirty || channelname.touched)}">
                                        <input name="channelname" id="channelname" type="text" class="textForm" pattern="^[A-Za-z0-9\-_]+$" required placeholder="Enter Slack Channel name" #channelname='ngModel' [(ngModel)]="model.slackName" (blur)="checkSlackNameAvailability()" (ngModelChange)="onSlackChange($event)">
                                        <img class="input-loader ng-hide">
                                        <p class="termsConditions" *ngIf="!channelname.valid && (channelname.dirty || channelname.touched)">Slack channel must contain only letters, numbers, hyphens and underscores.</p>
                                        <p class="termsConditions" *ngIf="channelname.valid && slackAvailble">Slack channel is available.</p>
                                        <p class="termsConditions" *ngIf="channelname.valid && slackNotAvailble">Slack channel is not available. Please provide a valid slack channel.</p>
                                        <p class="termsConditions" *ngIf="channelname.valid && channelNameError">Error in validating Slack Channel name. Please try again or contact administrator.</p>
                                        <img *ngIf="channelname.valid && slackChannelLoader" class="input-loader" src="../assets/images/icons/loading.png">
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </section>
            <section class="each-step-wrap cache-ttl-integration hide" *ngIf="typeOfService == 'api'">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <p class="step-title">Cache Time-to-Live(TTL)</p>
                        <p class="step-details">Donec facilisis tortor ut augue lacinia, at viverra est semper. Sed sapien metus, scelerisque nec pharetra id.</p>
                    </div>
                    <div class="col-lg-8 col-md-8">
                        <section class="col-lg-12  pad-left0">
                            <div class="input-field-container">
                                <div class="slack-checkbox custom-cb">
                                    <input type="checkbox" id="checkbox-ttl" [checked]="ttlSelected" (change)="ttlSelected = !ttlSelected" class="ng-untouched ng-valid ng-dirty ng-valid-parse" aria-invalid="false">
                                    <label for="checkbox-ttl"></label>
                                    <div class="cb-status-dets">Yes, enable caching for my API.</div>
                                </div>
                                <div *ngIf="ttlSelected == true">
                                    <div class="input-wrapper" [ngClass]="{'unavailable': invalidttl}">
                                        <input name="ttlField" type="number" class="textForm" required placeholder="Enter time in seconds" [(ngModel)]="model.ttlValue" (ngModelChange)="onTTLChange($event)" #ttlField='ngModel' min="1" max="3600" OnlyNumber="true">
                                        <img class="input-loader ng-hide">
                                        <p class="termsConditions">Maximum value fot TTL is 3600 seconds</p>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </section>
            <section class="each-step-wrap event-schedule" *ngIf="typeOfService == 'function'">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <p class="step-title">Event Schedule:</p>
                        <p class="step-details">Donec facilisis tortor ut augue lacinia, at viverra est semper. Sed sapien metus, scelerisque nec pharetra id.</p>
                    </div>
                    <div class="col-lg-8 col-md-8">
                        <div class="input-field-container event-schedule-radio row zero-margin">
                            <section class="col-lg-4 col-md-4  pad-left0">
                                <div class="radio-container">
                                    <input type="radio" name="EventSchedule" id="none" [value]="none" [checked]="rateExpression.type == 'none'" (click)="onEventScheduleChange('none')">
                                    <label for="none"><span></span><span class="background"></span>None</label>
                                </div>
                            </section>
                            <section class="col-lg-4 col-md-4  pad-left0">
                                <div class="radio-container">
                                    <input type="radio" name="EventSchedule" id="fixedRate" [value]="rate" [checked]="rateExpression.type == 'rate'" (click)="onEventScheduleChange('rate')">
                                    <label for="fixedRate"><span></span><span class="background"></span>Fixed Rate of</label>
                                </div>
                            </section>
                            <section class="col-lg-4 col-md-4  pad-left0">
                                <div class="radio-container">
                                    <input type="radio" name="EventSchedule" id="cron" [value]="cron" [checked]="rateExpression.type == 'cron'" (click)="onEventScheduleChange('cron')">
                                    <label for="cron"><span></span><span class="background"></span>Cron Expression</label>
                                </div>
                            </section>
                        </div>
                        <div class="event-schedule-fields" [ngClass]="{'zero-padding': rateExpression.type == 'none'}">
                            <div class="cron-fields row zero-margin" *ngIf="rateExpression.type == 'cron'">
                                <div class="col-lg-2">
                                    <p class="sm-input-label">Minutes</p>
                                    <div class="input-wrapper">
                                        <input name="rateMinute" type="text" class="textForm" required [(ngModel)]="cronObj.minutes" #rateMinute='ngModel' (ngModelChange)="generateExpression(rateExpression)">
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <p class="sm-input-label">Hours</p>
                                    <div class="input-wrapper">
                                        <input name="rateHour" type="text" class="textForm" [(ngModel)]="cronObj.hours" #rateHour='ngModel' (ngModelChange)="generateExpression(rateExpression)" required>
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <p class="sm-input-label">Day-of-month</p>
                                    <div class="input-wrapper">
                                        <input name="rateDayofMonth" type="text" class="textForm" [(ngModel)]="cronObj.dayOfMonth" #rateDayofMonth='ngModel' (ngModelChange)="generateExpression(rateExpression)" required>
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <p class="sm-input-label">Month</p>
                                    <div class="input-wrapper">
                                        <input name="rateMonth" type="text" class="textForm" [(ngModel)]="cronObj.month" #rateMonth='ngModel' (ngModelChange)="generateExpression(rateExpression)" required>
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <p class="sm-input-label">Day-of-week</p>
                                    <div class="input-wrapper">
                                        <input name="rateDayOfWeek" type="text" class="textForm" [(ngModel)]="cronObj.dayOfWeek" #rateDayOfWeek='ngModel' (ngModelChange)="generateExpression(rateExpression)" required>
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <p class="sm-input-label">Year</p>
                                    <div class="input-wrapper">
                                        <input name="rateYear" type="text" class="textForm" required [(ngModel)]="cronObj.year" #rateYear='ngModel' (ngModelChange)="generateExpression(rateExpression)">
                                    </div>
                                </div>
                            </div>
                            <div class="rate-field row  zero-margin" *ngIf="rateExpression.type == 'rate'">
                                <div class="col-lg-7">
                                    <div class="input-wrapper" [ngClass]="{'available': rateField.valid && (rateField.dirty || rateField.touched), 'unavailable': !rateField.valid && (rateField.dirty || rateField.touched)}">
                                        <input name="rateField" type="number" class="textForm" required [(ngModel)]="rateExpression.duration" (ngModelChange)="generateExpression(rateExpression)" #rateField='ngModel' OnlyNumber="true">
                                        <img class="input-loader ng-hide">
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="input-wrapper">
                                        <dropdown [dropdwnContent]="rateData" [selected]="rateExpression.interval" [statusFilter]="statusFilter" (onSelected)="onSelectedDr($event)"></dropdown>
                                    </div>
                                </div>
                            </div>
                            <div class="form-error" *ngIf="rateExpression.error != undefined">
                                {{rateExpression.error}}
                            </div>
                            <p *ngIf="rateExpression.type != 'none'" class="learn-more"><a href="https://docs.aws.amazon.com/AmazonCloudWatch/latest/events/ScheduledEvents.html">Learn more</a> about CloudWatch Event schedules</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="each-step-wrap approvers hide">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <p class="step-title">Approvers</p>
                        <p class="step-details">Donec facilisis tortor ut augue lacinia, at viverra est semper. Sed sapien metus, scelerisque nec pharetra id.</p>
                    </div>
                    <div class="col-lg-8 col-md-8">
                        <section class="col-lg-12  pad-left0">
                            <div class="input-field-container">
                                <p class="step-title">
                                    Groups
                                    <img src="../assets/images/icons/icon-info@3x.png">
                                </p>
                                <div class="selected-approvers">
                                    <ul>
                                        <li *ngFor="let selected of selectedApprovers;let i=index" (click)="removeApprover(i, selected)">
                                            {{selected.givenName}}
                                            <img src="../assets/images/icons/icon-close@3x.png">
                                        </li>
                                        <input id="approverName" name="approverName" type="text" class="textForm" [(ngModel)]="approverName" [(ngModel)]="model.approverName" (ngModelChange)="onApproverChange($event)">
                                    </ul>
                                </div>
                                <div *ngIf="showApproversList" class="approvers-list-wrap">
                                    <div class="approvers-list typeShow open">
                                        <div class="approvers-dets" *ngFor="let approvers of approversList | myfilter:model.approverName">
                                            <div (click)="selectApprovers(approvers)">{{approvers.givenName}}({{approvers.userId}})</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </section>
            <section class="submit-form">
                <button type="submit" [disabled]="!serviceForm.valid || (disableForm())" class="btn btn-primary">SUBMIT</button>
            </section>
        </form>
    </div>
    <div *ngIf='serviceRequested'>
        <section class="success-screen" *ngIf='serviceRequestSuccess'>
            <img src="../assets/images/icons/icon-good@3x.png">
            <p class="success-text">SUCCESS!</p>
            <section>
                <p class="refer">Your service will be available shortly. You can track the progress on service page</p>
            </section>
            <section>
                <p class="refer">You can refer : </p>
                <a href="https://github.com/tmobile/jazz-core/wiki/Getting-Started-with-Service-Development-using-Serverless">https://github.com/tmobile/jazz-core/wiki/Getting-Started-with-Service-Development-using-Serverless</a>
            </section>
            <section class="footer-btn">
                <btn-tmobile-primary text="DONE" newclass="back-btn" (click)="closeCreateService()"></btn-tmobile-primary>
            </section>
        </section>
        <section class="error-screen" *ngIf='serviceRequestFailure'>
            <img src="../assets/images/icons/icon-bad@3x.png">
            <p class="error-text">Oops!</p>
            <section>
                <p class="refer">Error in operation. Please contact your Administrator</p>
                <a href="">Need Help?</a>
            </section>
            <section class="footer-btn">
                <btn-tmobile-primary text="BACK" newclass="back-btn" (click)="backToCreateService()"></btn-tmobile-primary>
            </section>
        </section>
    </div>
</div>
