<div class="jz-modals" [class.jz-hidden]="!opened">
  <div class="jz-modal-header">
  </div>
  <div class="jz-modal-content">
    <div class="jz-row">
      <div class="jz-column" [class.multi-columns]="multiColumns" style="min-width: 200px;"
        *ngFor="let column of form.columns;">
        <div class="jz-text-subtle">
          {{column.label}}
        </div>

        <div *ngFor="let field of column.fields;" class="jz-formgroup">
          <div class="jz-formfield">
            <div class="jz-formfield-label">
              {{field.label}}
            </div>
            <dropdown *ngIf="field.label !== 'PERIOD'"
              [dropdwnContent]="field.options"
              [selected]="field.selected"
              (onSelected)="changeFilter($event, field)">
            </dropdown>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="jz-modal-footer">
  </div>
</div>
