<div class="jz-hero landing-carousel">
  <div class="jz-hero-header">COMPANIES USING JAZZ</div>
  <div class="jz-hero-subheader">Look there are so many companies that many companies that many companies that many use jazz</div>
  <div #scrollContainer class="jz-hero-content">
    <div #arrow class="carousel-arrow jz-flex-centered">
      <div class="icon-icon-leftArrow jz-pointer"
      (click)="scrollLeft()"></div>
    </div>
    <div class="carousel-scroller-wrapper">
        <div class="carousel-scroller-floater">
          <div class="carousel-card-buffer" #card *ngFor="let card of carouselItems; let i = index">
            <div class="carousel-card" >
              <div class="carousel-card-header">{{card.title}}</div>
              <div class="carousel-card-content jz-flex-centered" >
                <img [src]="card.logo" alt="">
              </div>
              <div class="carousel-card-footer">Read More</div>
            </div>
          </div>
        </div>
      </div>
    <div #arrow class="carousel-arrow jz-flex-centered">
      <div class="icon-icon-rightArrow jz-pointer"
      (click)="scrollRight()"></div>
    </div>
  </div>
</div>