$arrow-width: calc(84rem/14);

.landing-carousel {
  background-image: radial-gradient(circle at 97% 3%, #2b343e, #1a222c);
}

.jz-hero-content {
  height: calc(300rem/14);
  position: relative;
  display:flex;
  flex: 1;
}



.carousel-scroller-wrapper {
  position: absolute;
  border: 1px solid red;
  left: $arrow-width;
  right: $arrow-width;
  height: 100%;
  overflow: hidden;
}

.carousel-scroller-floater {
  height: 100%;
  width: 100%;
  border: 1px solid green;
}

.carousel-arrow {
  z-index: 1;
  color: #ffffff;
  font-size: calc(35rem/14);
  width: $arrow-width;
  padding-left: 1rem;
  padding-right: 1rem;
}

.carousel-card-buffer {
  padding-left: 5px;
  padding-right: 5px;
  display: inline;
}

.carousel-card {
  text-align: center;
  padding: calc(25rem/14);
  display: inline-flex;
  flex-direction: column;
  width: calc(260rem/14);
  height: calc(300rem/14);
  background-color: #ffffff;
  border-radius: 5px;
}

.carousel-card-header {
  justify-self: flex-start;
  font-size: 26px;
  font-weight: normal;
  color: black;
}

.carousel-card-content {
  flex: 1;
}

.carousel-card-footer {
  justify-self: flex-end;
  font-size: 16px;
  font-weight: bold;
  color: black;
}
