<header class='jazz-mob-header show-for-mobile'>
    <div class='jazz-mob-head-wrap ilb'>{{headText}}<span class='mob-head-status' [class.status-red]="status == 'red'" [class.status-green]="status == 'green'"></span></div>
    <div *ngIf="icon == 'add'" (click)='createServiceEmit()' class='ilb fixed icon-icon-add mob-head-icon shift-right'></div>
    <div *ngIf="icon == 'notification'" class='ilb fixed icon-icon-notifcation mob-head-icon shift-right'>
        <div class='relative notif-ball hide'></div>
    </div>
    <div [class.hide]='hideBack' (click)='genericBack()' class='ilb fixed  mob-head-icon shift-left icon-icon-back'></div>
</header>
