<div>
  <div *ngIf="metricsLoaded" id="jz-metrics-filter">
    <filter-metrics
      #filters
      [fields]="formFields"
      (formChange)="applyFilter($event)">
    </filter-metrics>
  </div>
  <div class="jz-section metrics-section">
    <div class="jz-section-content">
      <div id="jz-filter-actions" class="jz-row" style="justify-content: flex-end">
        <button class="jz-btn jz-btn-icon"
                [class.jz-toggled]="filters.opened"
                style="z-index: 2;"
                (click)="filters.toggleModal()">
          <span class="icon-icon-filter-unselected"></span>
        </button>
        <div class="jz-absolute filter-modal-position">
          <filter-modal #filters [fields]="formFields" [slsapp]="slsapp" (formChange)="applyFilter($event)"></filter-modal>
        </div>
      </div>
      <div [ngSwitch]="sectionStatus" class="jz-flex-expand" style="z-index: 0">
        <div *ngSwitchCase="'loading'" class="jz-height-full">
          <div class="jz-absolute-container">
            <div class="jz-spinner"></div>
          </div>
        </div>
        <div *ngSwitchCase="'error'" class="jz-height-full">
          <report-issue [displayMassage]="errMessage" [response]="errorData.response" [request]="errorData.request" (onRefresh)="refresh()"></report-issue>
        </div>
        <div *ngSwitchCase="'empty'" class="jz-height-full jz-flex-centered">
          <div class="jz-text-center">
            <div class="jz-section-icon">
              <span class="icon-icon-nodata"></span>
            </div>
            <div><b>Oops, No Data Found</b><br>Doesn't look like there is any data available here.</div>
          </div>
        </div>
        <div *ngSwitchCase="'resolved'" class="jz-height-full flex flex-col">
          <metrics-carousel [metrics]="selectedAsset?.metrics"
                            [selected]="selectedMetric"
                            (selectedChange)="setMetric($event)"
                            [options]="{listProperty: 'datapoints',
                            valueProperty: selectedAsset.statistics,
                            nameProperty: 'metric_name',
                            footerProperty: 'Unit',
                            aggregation: aggregation}">
            </metrics-carousel>
            <div class="jz-chart">
              <div class="jz-chart-content">
                <chartjs-linegraph *ngIf="graphData" [datasets]="graphData.datasets"
                                    [options]="graphData.options" [ylegend]="ylegend" [xlegend]="'Time'" [ytooltipsuffix]="aggregation">
                </chartjs-linegraph>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
