.arrow_box {
	position: relative;
	background: #dddddd;
    border: solid 1px #dddddd;
}
.arrow_box:after, .arrow_box:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(213, 213, 213, 0);
	border-bottom-color: #fdfdfd;
	border-width: 12px;
    margin-left: -12px;
    bottom:calc(100% - 1px);
}
.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #9b9b9b;
	border-width: 12.75px;
	margin-left: -12.5px;
}

.active{
    border-radius: 3px;
    background-color: #f9f9f9;
    border: solid 1px #9b9b9b!important;
}

.graphtitle{
    font-size: 16px;
    font-weight: bold;
   text-align: center;
    text-transform: uppercase;
    color: #ed008c;
    margin: 0;
}

.graphtitlefilter{
    font-size: 12px;
    font-weight: bold;
   text-align: center;
    color: #ed008c;
}

.sonar-link {
  text-align: right;
  a {
    font-weight: 800;
    color: #ed008c;
  }
}

.icon-icon-nodata {
  font-size: 7rem;
}

.section {
  position: relative;
  padding: 1rem 3rem;
  height: calc(100vh - 100px);
  background: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
  display: flex;
}

.section-content {
  flex: 1;
  position: relative;
  display:flex;
  flex-direction: column;
}

.chart-background {
  margin-top: .25rem;
  border-radius: 3px;
  background-color: #f9f9f9;
  border: solid 1px #9b9b9b;
  padding: .5rem;
  height: calc(100% - (120rem/12));
}

.chart-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chart-flex {
  flex: 1;
}

.chart-header {
  margin: 5px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.chart-thirds {
  width: 30%;
}

.metrics-cards-wrap{
  padding: 15px 0;
  display: block;
  line-height: 1.5;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  height: calc(120rem/12);
  .metrics-card{
    border-radius: 3px;
    background-color: #fdfdfd;
    border: solid 1px #dddddd;
    width:135px;
    display: inline-block;
    padding:0.5rem;
    margin:-1px 0.5rem;
    text-align: center;
    font-size: 1rem;
    color:#000;
    white-space: normal;
    vertical-align: top;
    height: calc(93rem/12);
    @media(min-width: 1280px){
      min-width: 135px;
    }
    cursor: pointer;

    &:first-child{
      margin-left: 0;
    }
    &:last-child{
      margin-right:0;
    }
    .metrics-name{
      font-size: 1.2rem;
      font-weight: bold;
      text-align: center;
      color: #666;
      height: 2rem;
      margin: 0.75rem 0 0.5rem;
      text-transform: capitalize;
    }

    .metrics-date{
      font-size: 12px;
      text-align: center;
      color: #666;
      height: 2rem;
      margin: 0.75rem 0 0.5rem;
    }

    .metrics-data{
      font-size: 36px;
      text-align: center;
      color: #333;
    }
  }
  .scroll-cards-wrap{
    position: absolute;
    transition-duration: 1s;
  }
}

