<filter-modal style="display: none" #filters [form]="form" (formChange)="applyFilter($event)"></filter-modal>
<div class="jz-section" [ngSwitch]="sectionStatus">
  <div *ngSwitchCase="'loading'" class="jz-section-content">
    <div class="jz-absolute-container">
      <div class="jz-spinner"></div>
    </div>
  </div>
  <div *ngSwitchCase="'error'" class="jz-section-content">
    <report-issue [response]="errorData.response" [request]="errorData.request" (onRefresh)="refresh()"></report-issue>
  </div>
  <div *ngSwitchCase="'empty'" class="jz-section-content">
    <div class="jz-section-icon">
      <span class="icon-icon-nodata"></span>
    </div>
    <div><b>Oops, No Data Found</b><br>Doesn't look like there is any data available here.</div>
  </div>
  <div *ngSwitchCase="'resolved'" class="jz-section-content">
    <div class="jz-chart">
      <div class="jz-chart-header">
        Head
      </div>
      <div class="jz-chart-content">
        <chartjs-linegraph *ngIf="graphData" [datasets]="graphData.datasets"
                           [options]="graphData.options"></chartjs-linegraph>
      </div>
      <div class="jz-chart-footer">
        Foot
      </div>
    </div>
    <metrics-carousel [metrics]="selectedAsset?.metrics"
                      [options]="{listProperty: 'datapoints',valueProperty: selectedAsset.statistics}"></metrics-carousel>
  </div>
</div>