<!--<div class="row page-section section-top">-->
        <!--<div>-->
            <!--<template adv-filters></template>-->
        <!--</div>-->
    <!--<filter-tags #filtertags (OnCancel)='cancelFilter($event)'></filter-tags>-->
<!--</div>-->


<div class="jz-section" [ngSwitch]="sectionStatus">
  <div *ngSwitchCase="'loading'" class="jz-section-content">
    <div class="jz-absolute-container">
      <div class="jz-spinner"></div>
    </div>
  </div>
  <div *ngSwitchCase="'error'" class="jz-section-content">
    <report-issue [response]="errorData.response" [request]="errorData.request" (onRefresh)="refresh()"></report-issue>
  </div>
  <div *ngSwitchCase="'empty'" class="jz-section-content">
    <div class="jz-section-icon">
      <span class="icon-icon-nodata"></span>
    </div>
    <div><b>Oops, No Data Found</b><br>Doesn't look like there is any data available here.</div>
  </div>
  <div *ngSwitchCase="'resolved'" class="jz-section-content"></div>
</div>