<div class='feedback-overlay cq' *ngIf="feedbackModalIn">
  <div class='feedback-modal'>
    <div class='feedback-hdr relative'>Report an issue</div>
    <div class="separator-row"></div>
    <div [ngSwitch]="feedbackModalStatus">
      <div *ngSwitchCase="'loading'" class="jz-absolute-container">
        <div class="jz-spinner"></div>
      </div>
      <div *ngSwitchCase="'ready'" class='feedback-text-wrap'>
        <p>Found a problem with the site? Please use the form below to describe the issue and we will fix it soon.</p>
        <textarea rows="5" cols="50" type="text" name='userFeedback' id="userFeedback"
                  placeholder="Report your issue here" [(ngModel)]="reportIssueForm.userFeedback"></textarea>
        <div class='feedback-btn-wrap'>
         <div class="include-errors">
           <div class="jz-checkbox" (click)="reportIssueForm.includeError = !reportIssueForm.includeError">
             <input type="checkbox" [checked]="reportIssueForm.includeError">
             <label></label>
             <div class="jz-checkbox-label">Include error details</div>
           </div>
         </div>
          <a (click)='closeFeedbackModal()'>CANCEL</a>
          <btn-jazz-primary text="SUBMIT"
                            class="feedback-submit"
                            [disablePrimaryBtn]="!reportIssueForm.userFeedback"
                            (click)='submitFeedback(buttonText)'></btn-jazz-primary>
        </div>
      </div>
      <div *ngSwitchCase="'resolved'" class="feedback-message">
          <div>Thanks for reporting the issue. We’ll use your input to improve Jazz experience for everyone!</div>
        <a class="feedback-close" (click)="closeFeedbackModal()">CLOSE</a>
      </div>
      <div *ngSwitchCase="'error'" class="feedback-message">
        <span>Oops! {{errorMessage}} or <a class="text-pink" (click)="mailFeedbackForm()"> contact us</a> via email.</span>
        <a class="feedback-close" (click)="closeFeedbackModal()">CLOSE</a>
      </div>
    </div>
  </div>
</div>

<div class="report-issue">
  <div class="icon-icon-server-error">
    <span class="path1"></span><span class="path2"></span><span class="path3"></span><span
    class="path4"></span><span
    class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span
    class="path9"></span><span class="path10"></span>
  </div>
  <div class="report-issue-header">
    Oops!
  </div>
  <div class="report-issue-message">
    Something went wrong while fetching your data
    <br><a (click)="refreshParent()" class="text-pink">REFRESH</a> to give it another try.
  </div>
  <br/>
  <div class="report-issue-submessage">
    If the problem persists, <a (click)="feedbackModalIn = true" class="text-pink">contact us</a>.
  </div>
</div>
