@import './../../../main-styles';
.recent-acts {
  width: 300px;
  float: right;
  background-color: #242c34;
  height: 80%; //fallback
  height: calc(100vh - 4.7rem); //overflow: auto;
  position: fixed;
  transition: 0.4s ease;
  top: 56px;
  right: 0;
  @media (max-width: 853px) {
    width: 100%;
    top: 0vh;
    height: 92vh;
    z-index: 2;
    transform: translateX(100%);
  }
}

.recent-acts-mob {
  overflow: auto;
  height: 80%;
  height: calc(100vh - 4.7rem);
  @media (max-width: 853px) {
    margin-top: 8vh;
    height: 84vh;
  }
}

.show-act {
  @media (max-width: 853px) {
    transform: none !important;
  }
}

.section-header {
  letter-spacing: .7px;
  color: #fff;
  font-weight: 900;
  margin: auto;
  padding: 11.5px 15px;
  text-transform: uppercase;
  font-size: 14px;
  background-color: #36414d;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.recent-act-box {
  padding: 15px 15px 15px 45px;
  border-radius: 5px;
  background-color: #fff;
  opacity: .75;
  position: relative;
  margin: 15px;
  cursor: pointer;
  @media(max-width: 853px) {
    opacity: 1;
  }
  &:hover {
    opacity: 1;
  }
  p {
    margin: 0;
  }
  .activity-header {
    font-weight: 900;
    font-size: 12px;
    color: #000000;
  }
  .activity-time {
    opacity: 0.45;
    font-size: 10px;
    color: #aaaaaa;
  }
  .activity-details {
    font-size: 12px;
    padding: 5px 0;
    line-height: 18px;
  }
  img {
    position: absolute;
    max-width: 16px;
    left: 17px;
    top: 17px;
    max-height: 14px;
  }
}

.mask-wrap {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #343f4b;
  opacity: 0.9;
  z-index: 1;
  background-image: url("/assets/images/mask-image.png");
  background-repeat: no-repeat;
  background-size: 20rem auto;
  background-position: center;
  top: 0;
}
