@import './../../../main-styles';
@import './../service-detail/service-detail.component.scss';
@import './../../secondary-components/create-service/create-service.component.scss';
.left-item {
  margin-right: 1rem;
  @media (max-width: $screen-sm) {
    margin-right: 0rem;
  }
}

.right-item {
  margin-left: 1rem;
  @media (max-width: $screen-sm) {
    margin-left: 0rem;
  }
}

.det-value-input {
  width: 70%;
  border: none;
  border-bottom: 1px solid #ccc;
  height: 20px !important;
  margin: 0 !important;
  text-overflow: ellipsis;
  padding: 0 !important;
}

.det-value-div {
  // width: 70%;
  // border: none;
  border-bottom: 1px solid #ccc; // height: 20px !important;
  margin: 0;
  text-overflow: ellipsis;
  min-width: 24.2rem;
}

.det-value-div-right {
  min-width: 28.1rem;
}

.not-slsapp {
  width: 100% !important;
}

.selected-approvers {
  border: none;
  box-shadow: none;
  li {
    &:nth-child(1) {
      margin-left: 0px !important;
    }
    background:#ed008c;
    color:white;
    list-style-type: none;
    border: 1px solid #d9d9d9;
    display: inline-block;
    /* height: 26px; */
    border-radius: 50px;
    margin-top: 0px !important;
    margin-left: 4px;
    margin-bottom: 2px;
    font-size: 12px;
    line-height: normal;
    height: auto;
    cursor: pointer;
    padding: 2px 28px 2px 10px;
    position: relative;
    /deep/.icon-icon-close {
      position: absolute;
      width: 10px;
      top: 2px !important;
      right: 10px;
      color: white;
      &:before {
        color: rgb(134, 125, 125);
        font-size: 0.8rem
      }
    }
  }
  input {
    height: 2rem;
  }
}

.det-value-input-txtarea {
  width: 70%;
  border: none;
  border: 1px solid #ccc;
  height: 70px;
}

.hideEdit {
  pointer-events: none;
  cursor: not-allowed;
}

.det-value-input-txtarea:focus {
  outline: none;
}
.section-left li:nth-child(3){
  padding-bottom: 0.8rem;
}
.section-right li:nth-child(2) .det-value {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.stage-wrp {
  border-radius: 3px;
  width: 50%;
  position: relative;
  background: #fff; // margin:1rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
  cursor: pointer;
  @media (max-width: 1056px) {
    width: 48%;
  }

  @media (max-width: $screen-sm) {
    margin-right: 0rem;
    margin-bottom: 2rem;
    width: 100%;
  }
}

.service-overview-wrp {
  display: flex;
  flex-direction: row;
  margin-top: 2em;

  @media(max-width: $screen-sm) {
    flex-direction: column;
  } // border-radius: 3px;
  // margin: 0;
  // padding: 0 1.6rem;
  // background-color: #ffffff;
  // box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
}

.service-overview {
  margin: 2rem 0;
}

.overview-item {
  width: 33%;
}
.overview-view{
  display: flex;
  flex-direction: column;
}

.overview-value {
  color: #000000;
}

.overview-label {
  margin-top: 1rem;
  color: #000000;
}

.bottom-right {
  width: 40%;
}

.gradeA {
  background-color: #5cae01;
  border-radius: 50%;
  color: white;
  width: 35px;
  height: 35px;
  font-size: 2.2rem;
}

.gradeC {
  background-color: #F5A623;
  border-radius: 50%;
  color: white;
  width: 35px;
  height: 35px;
  font-size: 2.2rem;
}
.section-left{
  min-width: 100%;
}
.bad-value {
  color: #d0021b;
}
.good-value {
  color: #5dae02;
}

.overview-value span {
  font-size: 1rem;
  margin-top: 1rem;
  margin-left: 0.2rem;
}

.time {
  color: #ed008c;
}

.desc {
  width: 70%;
}

.empty-row {
  padding: 1rem 5px;
  font-weight: 500;
  font-size: 14px;
}



.endp-cover {
  display: inline-flex;
  margin-right: 0.5rem;
  background: #eee;
  border: 1px solid #ccc; // padding: 2px 7px;
  border-radius: 4px;
  div {
    padding: 2px 7px;
  }
  div:first-child {
    border-right: 1px solid #ccc;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
    max-width: 14rem;
  }
  div:nth-child(2) {
    color: #ed008c;
    cursor: pointer;
  }
}

.input-copy {
  opacity: 0;
  position: absolute;
}

/deep/.separator-row {
  margin: 1rem 0 !important;
}

.popupcopy .tooltip-content {
  visibility: hidden;
  width: 185px;
  background-color: #D5D7D9;
  color: #4a4a4a;
  text-align: center;
  border-radius: 6px;
  padding: 8px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 0%;
  margin-left: -75px;
  font-size: 12px;
}

.popupcopy .tooltip-content::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #D5D7D9 transparent transparent transparent;
}

.popupcopy:hover .tooltip-content {
  visibility: visible;
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2s;
}

.api-btn {
  display: flex;
  justify-content: space-between;
}

.popup-endp {
  visibility: hidden;
  position: absolute;
  background: #D5D7D9;
  padding: 3px 7px;
  border-radius: 3px;
  margin-top: 1rem; // &:after{
  //     position: absolute;
  //     top: -64%;
  //     left: 29%;
  //     border-width: 8px;
  //     transform: rotate(180deg);
  //     border-style: solid;
  //     border-color: #D5D7D9 transparent transparent transparent;
  // }
}

.det-value .popup-endp::after {
  content: "";
  position: absolute;
  top: -60%;
  left: 29%;
  border-width: 8px;
  transform: rotate(180deg);
  border-style: solid;
  border-color: #D5D7D9 transparent transparent transparent;
}

.endp-visible {
  visibility: visible;
  transition: 1s all;
}

.endpoint {
  padding-top: 0.5rem;
  span {
    padding-right: 5rem;
    a {
      color: #1495c1;
    }
  }
}

.bottom-10 {
  margin-bottom: 1.5rem !important;
  padding: 1.6rem 1.6rem 0.8rem 1.6rem;
}

.det-wrp {
  display: flex;
}

.endpoint-url {
  width: 70%;
  color: #1495bb !important;
  img {
    width: 25px;
    height: 25px; // background-color: #ed008c;
    border-radius: 50%;
    padding: 3px;
    cursor: pointer;
    margin: 0 5px;
    transform: rotate(-45deg);
  }
}
.loading-outer-div{
  width: 100%;
  height: 100%;
  z-index: 2;
  background: #fff;
  position: absolute;
  padding: 15rem;
  display: none;
  left: 0;
}
.circle{
top:50%;
transform: rotateY(-50%)
}
.last-update{
  padding-bottom: 0.8rem;
}
.loading{
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: #fff;
  top: 0;
  left: 0;

}
.loading-row{
  position: relative !important;
  background: none;
}
.row-detail{
  display: flex;
}
.imp-label{
  display: flex;
  justify-content: flex-end;
}
.import-label{
  color:#ed008c;
}
.blank-div{
  border: 1px solid  #D5D7D9 ;
  height: calc(100% - 5em);
}
.textbox {
  overflow-y: auto;
  display: flex;
  border-radius: 5px;
}
.text-area-div {
  border: 1px solid #e6e8ea; // TODO: Move all colors to variables
  border-radius: .5em; // TODO: Consolidate → global border radii
  max-height: 50rem;
  overflow: auto;
}
.col-detail{
  flex-grow: 1;
  flex-basis: 0;
}
.line-numbers,
.text-area
{
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
  font-size: .9em;
}
.text-area {
  background: white;
  width:100%;
  outline: none;
  border:none;
  overflow: auto;
  padding: 2px;
  line-height: 1.5em;
  resize:none;
  flex-grow: 1;
  border-radius: 0 5px 5px 0;
  min-height: 10.8rem;
  padding-left: 5px;
  white-space: pre;
}
.text-area:disabled {
  background: #f8f8f8;
  cursor: not-allowed;
}
.text-area.large {
  height: 50rem;
}
.service-details-application{
    border-radius: 3px;
    margin: 0;
    margin: 0 .8em 0 1.7em;
    flex-grow: 1;
    flex-basis: 0;
    background-color: #ffffff;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
}
#definition-container {
  padding: 1.6em;
}


.det-wrp-bottom {
  padding: 0 !important;
}

.align-slf {
  align-self: center;
}

.caps {
  text-transform: capitalize;
}

#copyapi,
#copyapilinkdev,
#copyapilinkprod {
  opacity: 0;
  position: absolute;
  z-index: -100000;
}

.view-all {
  color: #1495c1;
  cursor: pointer;
}

.copy-arn {
  height: 1.5rem;
  transform: rotate(-45deg);
}

.testApiBtn {
  /deep/ .btnT-radial-in {
    padding: 0.25rem 1rem;
    border: 1px solid #ed008c;
    width: 138px;
    margin: 0;
    margin-left: 20px; // outline: none;
    // /* background-color: #c62770; */
    // color: #c62770;
    // border-color: pink;
    // box-shadow: none;
    // &:hover .tooltip-content{
    //     display: block;
    // }
  }
}
.line-num,.myservice,
.textChange
{
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
  font-size: .9em;
}

.feedback-overlay {
  position: fixed;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  z-index: 1000;
  text-align: center;
  .separator-row {
    border-bottom: 1px solid #ccc;
    margin-top: 2rem;
  }
  .feedback-wrap {
    min-width: 500px;
    width: 45%;
    max-width: 600px;
    top: 20%;
    margin: 0 auto;
    align-self: center;
    background-color: #fff;
    padding: 2rem;
    font-size: 16px;
    .feedback-hdr {
      font-size: 2rem;
      font-weight: bold;
    }
  }
  .feedback-text-wrap {
    p {
      padding: 1.5rem 0;
    }
    textarea {
      padding: 10px 10px;
      width: 100% !important;
      height: 100px !important;
    }
  }
  .feedback-text-wrap.feedbackRes {
    position: absolute;
    padding: 0 3rem;
    top: 46%;
    left: 0;
  }
  .feedback-btn-wrap {
    font-size: 13px;
    text-align: right; // position: absolute;
    // right: 0;
    // padding: 2rem;
    // bottom: 0;
    a {
      margin: 5px;
      cursor: pointer;
    }
    .feedback-submit {
      /deep/ button.btn-primary {
        line-height: 3rem;
      }
    }
  }
  /deep/ button.btn-primary:focus,
  button.btn-primary:active {
    background-color: #ed008c !important;
    color: #fff !important;
    border: 1px solid #ed008c !important;
  }
}

.includeError {
  float: left;
}

.custom-cb {
  label {
    border: 1px solid #999;
  }
}

.edit-service-overview-btn {
  a {
    cursor: pointer;
    font-size: 1rem;
    color: #fc2f98;
  }
  /deep/ .btn-edit-overview {
    .btnT-radial-in {
      background: transparent;
      border: 1px solid;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
      padding: 0 1.5rem;
      border-radius: 30px;
      margin: 0.5rem;
      font-size: 1rem;
      line-height: 2;
      &:active,
      &:focus {
        background-color: transparent;
        color: #c62770;
      }
      &:hover {
        // outline: none;
        border: 1px solid #c62770;
        background-color: #c62770;
        color: #fff;
      }
    }
    .btnT-radial-in[disabled] {
      opacity: 0.7;
      cursor: not-allowed;
      box-shadow: none;
    }
  }
}

.edit-service-overview-btn {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 1;
  padding: 0.5rem 1rem;
}

.det-value-input-txtarea {
  width: 70%;
  border: none;
  border: 1px solid #ccc;
  height: 70px;
}

.det-Label {
  font-weight: bold;
  display: inline-block;
  margin-top: 0.5rem;
  width: 13rem;
}
.app-label{
  font-weight: bold;
  display: inline-block;
  margin-bottom: 1em;
  padding-right: 0.5em;
}
.service {
  margin-left: 10px;
  margin-bottom: 0px;
}
.magenta {
  margin: 0px;
  color:#ed0295;
  margin-left: 6px;
}
.text-line {
  max-height: 20rem;
  overflow: auto;
}
.text-box {
  overflow-y: auto;
  display: flex;
}

.loading-outer-div{
  width: 100%;
  height: 100%;
  z-index: 2;
  background: #fff;
  position: absolute;
  padding: 15rem;
  left: 0;

  .loading-circle circle{
      position: relative;
      height: 3rem;
  }
}
.valid{
  font-size: .8em;
  margin-bottom: 5px;
  text-align: center;
  .validation {
    color: #5cae01;
    margin-bottom: 0;
  }
  .invalidation {
    color: #d0021b;
    margin-bottom: 0;
  }
}
.parent-div:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
.tooltip {
    visibility: hidden;
    background: #eeeeee;
    color: #333;
    padding: 1em;
    border-radius: 0.5em;
    position: absolute;
    opacity: 1;
    width: 22em;
    left: 15.5em;
    font-size: 0.8em;
    z-index: 3;
    top: -10em;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
}

.line-numbers {
  background: #f8f8f8;
  color: #c4c4c7;
  line-height: 1.5em;
  text-align:center;
  border-radius: 5px 0 0 5px;
  width: 4.5rem;
  padding: 2px 2px 2px 2px;
}

.det-Value {
  display: inline-flex;
  margin-top: 0.5rem;
  div {
    padding: 0 1rem;
    border-right: 1px solid grey;
    &:first-child {
      padding-left: 0;
    }
    &:nth-child(3) {
      border: none !important; // margin-right: 1rem;
    }
  }
}
.div-line {
  display: flex;
}
.service {
  margin-left: 10px;
  margin-bottom: 0px;
}

.services-name {
  display: flex;
}
.non-editable {
  height: 10rem ;
  width: 100%;
  border: none;
  overflow: hidden;
  height: 9rem;
  background-color: rgba(215,215, 215, 0.3);
}
.line-num{
  line-height: 1.5em;
  text-align: center;
  width: 4rem;
  background-color: #EEEEEE;
  padding: 2px 2px 2px 2px;
}
.div-line {
display: flex;
}
.parameter {
margin: 0px;
}
.magenta {
  margin: 0px;
  color:#ed0295;
  margin-left: 6px;
}
.border {
  border-top-left-radius: 3px;
}
.myservice {
  padding: 2px 10px 0px 10px;
  letter-spacing: 0.3px;
  width: 100%;
  border-top-right-radius: 3px
}
textarea[type="text"] {
  margin-bottom: 0px;
  line-height: 21px;
}
textarea[type="text"] {
  display: inline-block;
  font-size: 14px;
  color: #555;
  border-radius: 2px;
  vertical-align: middle;
  outline: none;
}
.textChange{
  width: 100%;
  border: none;
  resize: none;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  min-height: 9rem;
  background: inherit;
  white-space: pre;
}
.text-box {
  overflow-y: auto;
  display: flex;
}
.text-line {
  max-height: 20rem;
  overflow: auto;
}
.input-wrapper {
  max-width: 100%;
  height: auto;
}
.main-div{
  border: 0.8px solid #d3d3d3;
  width: 100%;
  border-radius: 3px;
  background-color: rgba(215, 215, 215, 0.3);
}
.input-wrapper textarea {
  padding: 0px 10px;
  max-width: 100%;
  height: auto;
  background-color: #ffffff;
}
.radius {
  border-bottom-left-radius: 3px;
}

.env-details {
  margin: 0;
  min-height: 60px;
}

.parent-div:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
.tooltip {
  visibility: hidden;
  background: #000;
  color: #fff;
  padding: 0.2em 1em;
  border-radius: 0.5em;
  position: absolute;
  opacity: 0.8;
  width: 22em;
  left: 4.4em;
  top: -8em
}
.parent-div .tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.valid{
  font-size: .8em;
  margin-bottom: 5px;
  text-align: center;
  .validation {
    color: #5cae01;
    margin-bottom: 0;
  }
  .invalidation {
    color: #d0021b;
    margin-bottom: 0;
  }
}
.text-area-div {
  border: 1px solid #e6e8ea; // TODO: Move all colors to variables
  border-radius: .5em; // TODO: Consolidate → global border radii
  max-height: 11rem;
  overflow: auto;
}
.textbox {
  display: flex;
  border-radius: 5px;
}
.line-numbers {
  background: #f8f8f8;
  color: #c4c4c7;
  line-height: 1.5em;
  text-align:center;
  border-radius: 5px 0 0 5px;
  width: 4.5rem;
  padding: 2px 2px 2px 2px;
}
.line-numbers, .text-area
{
font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
font-size: .9em;
}
.text-area {
  background: white;
  width:100%;
  outline: none;
  border:none;
  overflow: auto;
  padding: 2px;
  line-height: 1.5em;
  resize:none;
  flex-grow: 1;
  border-radius: 0 5px 5px 0;
  min-height: 10.8rem;
  padding-left: 15px;
  word-break: break-all;
}
.text-area:disabled {
  background: #f8f8f8;
  cursor: not-allowed;
}
.text-area.large {
  height: 50rem;
}
.text-area.large {
  height: 50rem;
}
.input-wrapper {
  max-width: 100%;
  height: auto;
}
.input-wrapper textarea {
  padding: 0px 10px;
  max-width: 100%;
  height: auto;
  background-color: #ffffff;
}
.main-div{
  border: 0.8px solid #d3d3d3;
  width: 100%;
  border-radius: 3px;
}
.div-line {
  display: flex;
}
.line-num,.myservice,
.textChange
{
font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
font-size: .9em;
}
.border {
  border-top-left-radius: 3px;
  height: 160px;
}
.myservice {
  padding: 2px 10px 0px 10px;
  letter-spacing: 0.3px;
  width: 100%;
  height: 160px;
  background-color: rgba(215,215,215,0.3);
  border-top-right-radius: 3px
}
.opac {
  opacity: 0.5 !important;
}
.parameter {
  margin: 0px;
}
.services-name {
  display: flex;
}
.linenumber-radius {
  border-bottom-left-radius: 3px;
}
.textChange {
  width: 100%;
  border: none;
  overflow: hidden;
  resize: none;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  min-height: 9rem;
}
.textChange:disabled {
  background: #f8f8f8;
  cursor: not-allowed;
}
.first-list {
  margin-top: 0.8rem;
}

.app-definition-detail {
  position: fixed;
  top: 4em;
  right: 0;
  bottom: 0;
  -webkit-transform: translateX(110%);
  transform: translateX(110%);
  z-index: 1;
  background: white;
  width: 40em;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-box-shadow: 0 3px 4px 0 #0000001e, 0 2px 4px 0 #00000023;
  box-shadow: 0 3px 4px 0 #0000001e, 0 2px 4px 0 #00000023;
  max-width: 100%;
  max-height: 100%;
}

.app-definition-detail.active {
  transform: translateX(0%);
}

.app-definition-wrapper {
  padding: 1em;
}
.content-html {
  white-space: pre;
  width: 100%;
}
.definition-content-wrapper {
  white-space: nowrap;
  overflow: auto;
}

.app-heading-wrapper {
  padding-bottom: 0.5em;
}

.app-heading {
  font-size: 1.5em;
  font-weight: bold;
  color: #1a1a46;
}

.app-description {
  font-size: 0.9em;
  padding-bottom: 0.5em;
}
.app-definition-detail .edit-service-overview-btn {
  top:0;
  right:2em;
  padding: 0;
}
.app-definition-detail .edit-service-overview-btn /deep/ .btn-edit-overview .btnT-radial-in {
  margin: 0 1em;
  line-height: 1;
  padding: .4rem 1.4rem;
  font-size: .8em;
}

.app-definition-detail .main-div {
  max-height: 100%;
  overflow: auto;
}

.app-definition-detail .text-line {
  max-height: inherit;
  overflow: unset;
}

.app-definition-detail .text-box {
  overflow: unset;
}

.cross-icon {
  cursor: pointer;
  color:#ed008c;
}

.sidebar-overlay {
  background: rgba(51, 51, 51, 0.42);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 4em;
  left: 0;
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

.sidebar-overlay.active {
  opacity: 1;
}
.copy-element {
  position: absolute;
  top:0.5em;
  right:0.8em;
}

.tooltip {
  .question {
    text-decoration: underline;
    padding-bottom: 0.5em;
  }
}
