@import './../../../main-styles';
.section-top {
    padding: 10px 5px;
}

.cost-value {
    font-size: 36px;
    color: #5cae01;
    display: inline-block;
    padding-right: 8px;
}

.cost-label {
    display: inline-block;
}

.cost-category {
    border-bottom: 2px solid #ddd;
    padding: 1.6rem;
    &:last-child {
        border-bottom: none;
    }
}

.filter-wrp {
    padding-bottom:3rem;
    display: flex;
    text-align: right;
    flex-wrap: wrap;
    align-items: center;
    dropdown {
        display: block;
        margin-left: auto;
        float: right;
        height: 32px;
    }
}

.filter-icon {
    display: inline-block;
    margin:0 1rem;
    span {
        cursor: pointer;
        font-size: 16px;
        display: inline-block;
        vertical-align: middle;
        &.icon-icon-filter-selected {
            font-size: 24px;
            margin-top: -4px;
            display: inline-block;
            span {
                padding-top: 0;
            }
        }
    }
}

.cost-table {
    .column,
    /deep/ .column {
        &:nth-child(1) {
            flex-basis: 20%;
        }
        &:nth-child(2) {
            flex-basis: 20%;
        }
        &:nth-child(3) {
            flex-basis: 20%;
        }
        &:nth-child(4) {
            flex-basis: 20%;
            @media(max-width: $screen-sm){
                display: none;
            }
            // @media(max-width: $screen-md){
            //     display: none;
            // }
        }
        &:nth-child(5) {
            flex-basis: 20%;
            @media(max-width: $screen-sm){
                display: none;
            }
            @media(max-width: $screen-md){
                display: none;
            }
        }
    }
}

search-box {
    display: inline-block;
    margin-left: auto;
}

.graph-wrp {
    width:100%;
    margin: auto;
    position: relative;
}

.cost-graph-temp {
    width: 75%;
    margin-top: 1.5rem;
}

.table-container {
    margin-top: 2rem;
}
.search-filter-wrap{
    margin-left:auto;
    @media(max-width:$screen-md){
        padding-top: 1rem;
    }
}
.loading-circle {
    position: relative;
    // height: 3rem;
    &:before,
    &:after {
        content: "";
        position: absolute;
        left: calc(50% - 1.5rem);
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        border: 3px solid rgba(237, 0, 133, 0.1);
    }
    &:after {
        content: "";
        position: absolute;
        border-left-color: #ed0085;
        animation-name: rotate;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
}

.loading-row {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: #fff;
    top: 0;
    left: 0;
    .loading-circle {
        top: calc(50% - 1.5rem);
    }
    .error-text{
        position: relative;
        text-align: center;
        top:45%;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 300;
    }
}
.total-amnt{
    position: absolute;
    top:0;
    width:100%;
    height:100%;
    font-size: 1.2rem;
    color: #333;
}
.no-cost-txt{
    top:40%;
    text-align: center;
    // visibility: visible;
}
.empty-row {
    position: absolute;
    text-align: center;
    top: 25%;
    font-size: 18px;
    left: 45%;
    // text-transform: uppercase;
    font-weight: 300;
}
.with-refresh
{
    left:25% !important;
    width: 50% !important;
}
.with-refresh a{
    font-weight: bold;
}
.with-refresh img{
    margin-bottom: 10px;
}
.nodata{
    font-size: 14px;
    color: #555;
    b{
        font-size: 20px;
    }
}