.page-container {
    padding-bottom: 0rem;
    min-height: calc(100vh - 70px);
}

.page-title-wrap {
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    .header1 {
        line-height: 30px;
    }
}

.page-hdr {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    color: #000000;
}

.page-sub-title {
    font-size: 12px;
    color: #aaaaaa;
    margin-left: 10px;
}

.page-status {
    //  position: relative;
    color: #aaa;
}

.page-status.Active {
    color: #5cae01;
}

.page-status.Stopped {
    color: #d0011b;
}

.page-status::after {
    content: "";
    width: 10px;
    display: inline-block;
    height: 10px;
    border-radius: 50%;
    background-color: #aaa;
    vertical-align: middle;
    margin-left: 4px;
}

.page-status.Active::after {
    background-color: #5cae01;
}

.page-status.Stopped::after {
    background-color: #d0011b;
}

.page-status-row {
    margin-bottom: 1.5rem;
}

.page-content {
    margin-top: 2.5rem;
}

.page-section {
    margin: 0;
    margin-bottom: 1.5rem;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
}

.page-filter-wrap {
    display: flex;
    align-items: center;
    padding: 1.7rem 1.7rem 0 1.7rem;
}

.filter-wrp {
    flex-wrap: wrap;
    .filters {
        padding-top: 1rem;
        order: 3;
        @media (min-width: $screen-md) {
            order: 0;
            padding-top: 0;
        }
    }
}

/deep/ .loading-circle {
    position: relative;
    height: 3rem;
    &:before,
    &:after {
        content: "";
        position: absolute;
        left: calc(50% - 1.5rem);
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        border: 3px solid rgba(237, 0, 133, 0.1);
    }
    &:after {
        content: "";
        position: absolute;
        border-left-color: #ed0085;
        animation-name: rotate;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
}
