@import './../../../../main-styles';
.login-wrp {
  height: auto;
  text-align: center;
  padding: 2rem 0rem;
  width: 100%;
  position: relative;
  @media (min-width: $screen-sm) {
    width: 430px;
    margin: 0 auto;
  }
}

.logo-wrp {
  height: 120px;
  margin: 3rem auto;
}

.loader-wrp {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(54, 69, 85, 0.83);
  &.show {
    display: block;
  }
}

.logo-wrp img {
  height: 100%;
  vertical-align: middle;
}

.sign-in {
  margin-right: 1.5rem;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
  vertical-align: bottom;
  text-transform: uppercase;
}

.form-row {
  text-align: left;
  margin-bottom: 3rem;
}

.btn-wrp {
  margin-top: 4.5rem auto;
}

.btn-wrp btn-jazz-primary>>>button {
  width: 10rem;
}

.forgot-password {
  font-size: 14px;
  text-align: center;
  color: #fff;
  margin-top: 1rem;
  margin-top: 1.7rem;
  a {
    color: #fff;
    &:hover,
    :active,
    :focus {
      color: #ccc;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.newUser {
  font-size: 14px;
  text-align: center;
  color: #fff;
  a {
    color: #e50079;
    &:hover,
    :active,
    :focus {
      color: #fff;
      cursor: pointer;
    }
  }
}

.separator-row {
  height: 2px;
  margin: 6rem 0 2rem;
  border: solid 1px rgba(255, 255, 255, 0.2);
}

.login-support-wrap {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.login-main-wrap {
  display: inline-block;
  width: 98%;
  vertical-align: middle;
  padding: 0 4rem;
  input[type="text"],
  input[type="password"] {
    // input[type='text'], input[type='password']{
    margin-bottom: 5px;
  }
}

:host {
  display: block;
  position: relative;
}

.form-label {
  opacity: 0.8;
  font-size: 1.3rem;
  color: #ffffff;
  letter-spacing: 0.5px;
  /deep/ .popover {
    color: #000 !important;
    max-width: 20rem;
  }
}

input {
  width: 90%; //fallback
  width: calc(100% - 20px);
  margin-top: 5px;
  height: 32px;
  border-radius: 3px;
  background-color: rgba(216, 216, 216, 0.2);
  outline: none;
  border: none;
  padding: 0px 10px;
  color: #fff;
  font-size: 14px;
}

.icon-icon-alert {
  display: inline-block;
  padding-right: 6px;
  vertical-align: middle;
}

.hide-er {
  display: none;
  opacity: 0;
}

.error-msg {
  display: block;
  color: #fff;
  font-size: 1.15rem;
  letter-spacing: 0.25px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.icon-info-wrap {
  padding: 0 5px;
  cursor: pointer;
}

.login-main-wrap input {
  color: white !important;
}

.ip-usr {
  height: 40px !important;
}

/deep/ .err-border {
  border: 1px solid red !important;
  background-color: #6c5c5c !important;
}

.freezScroll {
  overflow-y: hidden;
  height: calc(100vh - 56px);
}

.bottom-2 {
  color: #fff;
  p {
    font-size: 1.1rem;
  }
}

.login-form-errmsg {
  color: rgb(255, 0, 0);
  font-size: 1.1rem;
}

.reg-required {
  font-size: 0.85rem;
  margin-top: 1rem;
}

.usercode {
  background-image: none !important;
  img {
    opacity: 0;
  }
}

#__lpform_Usercode {
  display: none !important;
}
