@import './../../../main-styles';
.tabs-wrap {
    @media(max-width: 853px) {
        position: fixed;
        top: 56px;
        background: #2b343e;
        left: 0;
        right: 0;
        padding-left: 2.1vh;
        z-index: 1;
        height: 56px;
    }
    ul {
        padding: 0;
        margin: 6px 0;
        @media(max-width: 853px) {
            margin: 0;
            vertical-align: middle;
            white-space: nowrap;
            overflow: auto;
            max-width: 100vw;
            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
    li {
        margin-right: 36px;
        list-style-type: none;
        display: inline-block;
        font-size: 12px;
        color: #aaaaaa;
        cursor: pointer;
        text-transform: uppercase;
        @media(max-width: 853px) {
            font-size: 14px;
            color: #fff;
            cursor: pointer;
            padding: 7px 16px;
            text-transform: capitalize;
            margin: 19px 8px 0 8px;
        }
        &.active {
            color: #ed008c;
            border-bottom: 2px solid #ed008c;
            @media(max-width: 853px) {
                color: #ed008c;
                border-bottom: 5px solid #ed008c;
            }
        }
        &:hover {
            color: #ed008c;
        }
    }
}
