@import './../../../main-styles';
.login-wrp {
    text-align: center;
    padding: 2rem;
    // width: 430px;
    width: 100%;
    position: relative;
    @media (min-width: $screen-sm) {
        width: 450px;
    }
}

.logo-wrp {
    height: 120px;
    margin-top: 75px;
}

.loader-wrp {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 20px);
    height: 100%;
    background: rgba(54, 69, 85, 0.83);
    &.show {
        display: block;
    }
}

.logo-wrp img {
    height: 100%;
}

.sign-in {
    margin-top: 45px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.sign-in-form {
    margin-top: 60px;
}

.form-row {
    text-align: left;
    margin-bottom: 3rem;
}

.btn-wrp {
    margin-top: 56px;
}

.btn-wrp btn-tmobile-primary >>> button {
    width: 10rem;
}

.forgot-password {
    font-size: 14px;
    text-align: center;
    color: #fff;
    margin-top: 1rem;
    margin-top: 24px;
    &:hover,
    :active,
    :focus {
        color: #ccc;
        text-decoration: underline;
        cursor: pointer;
    }
}
