<div #metricCards class='metrics-carousel-container'>
  <div class="jz-absolute-container">
    <div #metricCardsScroller class='metrics-carousel-scroller'
         [style.transform]="'translateX('+(metricCardSize * metricCardOffset)+ 'px)'">
      <div class='metrics-card'
           *ngFor="let metric of metrics; let i=index"
           [class.metrics-card-active]="index === i"
           (click)="selectCard(metric)">
        <div class='metrics-name'>{{metricName(metric)}}</div>
        <div class="metrics-card-content">
          <div class='metrics-data' *ngIf="getRecentValue(metric)">
            {{getRecentValue(metric)}}
          </div>
          <div class="metrics-name" *ngIf="!getRecentValue(metric)">No Data</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="metrics-arrows" *ngIf="metricCardsOversized">
  <div class='metrics-arrows-left' (click)='offsetRight()'>
    <div class='icon-icon-leftArrow'></div>
  </div>
  <div class='metrics-arrows-right' (click)='offsetLeft()'>
    <div class='icon-icon-rightArrow '></div>
  </div>
</div>
