<div class="login-wrp">
    <div class="logo-wrp">
        <img src="assets/images/icons/logo.png">
    </div>
    <div class="sign-in">SIGN IN</div>
    <div class="sign-in-form">
        <div class="form-row">
            <form-input [label]="'Username'" [type]="'text'" [name]="'Username'" [(value)]="model.username" [(error)]="error.username"></form-input>
        </div>
        <div class="form-row">
            <form-input [label]="'Password'" [type]="'password'" [name]="'Password'" [(value)]="model.password" [(error)]="error.password"></form-input>
        </div>
        <div class="loader-wrp" [class.show]="loading">
            <div class="loader">
                <div class="inner one"></div>
                <div class="inner two"></div>
                <div class="inner three"></div>
            </div>
        </div>
    </div>
    <div class="btn-wrp">
        <btn-tmobile-primary [text]="buttonText" (click)="login()" newclass="loginbutton"></btn-tmobile-primary>
    </div>
    <div class="forgot-password">
        <div>Forgot Password?</div>
    </div>
</div>
