/* You can add global styles to this file, and also import other style files */

@import 'styles/_bootstrap';
@import 'styles/_page';
@import 'styles/_toaster';
// @import 'styles/_fonts';
// override default ul,li styles
ul {
    padding: 0;
    margin: 0;
}

li {
    padding: 0;
    list-style: none;
}

.bold-title {
    font-size: 27px;
    font-weight: 900;
    color: #555555;
    margin: 0;
}

.anchor-link {
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 1.2px;
    color: #ed008c;
}


/*common style required for create service and access controll starts*/

.step-title {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    color: #222222;
    padding-bottom: 11px;
}

.step-details {
    font-size: 12px;
    color: #555555;
    width: 60%;
    min-width: 180px;
    margin: 0 0 16px 0;
}

.each-step-wrap {
    padding: 20px 0;
    border-bottom: solid 1px #cccccc;
}


/*common style required for create service and access controll ends*/


/*checkbox related styles starts*/

.custom-cb {
    position: relative;
    margin-bottom: 10px;
}

.custom-cb label {
    cursor: pointer;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 0;
    background: transparent;
    left: 0;
    border: 1px solid;
}

.custom-cb label:after {
    content: '';
    width: 13px;
    height: 6px;
    position: absolute;
    top: 9px;
    left: 1px;
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: left top;
    transform-origin: left top;
}

.custom-cb label:hover::after {
    opacity: 0.3;
}

.custom-cb input[type=checkbox] {
    // visibility: hidden;
    opacity: 0;
    // &:focus{
    //     outline-color: #aaaaaa !important;//border color need to be changed
    // }
}

.custom-cb input[type=checkbox]:checked + label {
    opacity: 1;
    background: #ed0295;
    border: 1px solid #ed0295;
}

.custom-cb input[type=checkbox]:focus + label {
    border: 1px solid #ed0295;
}

.custom-cb input[type=checkbox]:checked + label:after {
    opacity: 1;
    -webkit-animation: check 0.28s;
    animation: check 0.28s;
}

.cb-status-dets {
    display: inline-block;
    line-height: 18px;
    vertical-align: top;
    font-size: 12px;
    padding-left: 16px;
    margin-top: 1px;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes check {
    0% {
        height: 0;
        width: 0;
    }
    40% {
        height: 6px;
        width: 0;
    }
    50% {
        height: 6px;
        width: 13px;
    }
}

@keyframes check {
    0% {
        height: 0;
        width: 0;
    }
    40% {
        height: 6px;
        width: 0;
    }
    50% {
        height: 6px;
        width: 13px;
    }
}


/*checkbox related styles ends*/


/*radio button related styles starts*/

input[type="radio"] {
    // display: none;
    opacity: 0;
    // &:focus{
    //     outline-color: #aaaaaa;//border color need to be changed
    // }
}

input[type="radio"] + label {
    color: #000;
    font-size: 1rem;
    // line-height: 1.5rem;
    position: relative;
}

input[type="radio"] + label span {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin: 0px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #cccccc;
    &.background {
        position: absolute;
        // left: 4px;
        // top: 4px;
        // bottom: 4px;
        border: none;
        width: 11px;
        height: 11px;
        background-color: #fff;
        margin: 0;
        display: flex;
        transform: translate(3px,3px);
    }
}

input[type="radio"]:checked + label span {
    &.background {
        background-color: #ed008c;
    }
}
input[type="radio"]:focus + label .outer {
    border: 1px solid #ed008c;
}

input[type="radio"] + label span,
input[type="radio"]:checked + label span {
    -webkit-transition: background-color 0.4s linear;
    -o-transition: background-color 0.4s linear;
    -moz-transition: background-color 0.4s linear;
    transition: background-color 0.4s linear;
}

@supports (-ms-ime-align:auto) {
    input[type="radio"] + label span {
        &.background {
            top: 4px;
        }
    }
}


/*radio button related styles ends*/

// Input field related style starts

/*input related styles*/

.input-wrapper {
    position: relative;
    min-height: 40px;
    margin-bottom: 10px;
    &.available {
        color: #60b602 !important;
        input {
            color: #60b602 !important;
            border: 1px solid #60b602 !important;
        }
    }
    &.unavailable {
        color: #d0021b !important;
        input {
            color: #d0021b !important;
            border: 1px solid #d0021b !important;
        }
    }
}

.input-wrapper input[type="text"],
select,
input[type="password"] {
    margin-bottom: 0px;
}

.input-wrapper .input-loader {
    animation-name: rotate;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    height: 24px;
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(0.7);
    margin: 8px 12px;
}

.textForm,
select {
    padding-left: 1rem;
    font-size: 13px;
    color: #666;
    height: 2.5rem;
    font-weight: 500;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    // -webkit-transition: border linear .2s, box-shadow linear .2s;
    // -moz-transition: border linear .2s, box-shadow linear .2s;
    // -o-transition: border linear .2s, box-shadow linear .2s;
    // transition: border linear .2s, box-shadow linear .2s;
    border-radius: 3px;
}

input[type="text"],
select,
input[type="password"],
input[type="number"],
textarea[type="text"] {
    display: inline-block;
    height: 40px;
    padding: 4px 10px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    vertical-align: middle;
    outline: none;
}

input:focus,
textarea:focus {
    outline: none !important;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.hide-for-mobile {
    @media (max-width: 853px) {
        display: none;
    }
}

.show-for-mobile {
    @media (min-width: 854px) {
        display: none;
    }
}

.show{
    display:block;
}

.relative {
    position: relative;
}

.ilb {
    display: inline-block;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.left {
    float: left;
}

.right {
    float: right;
}

.abs-left {
    left: 0;
}

.abs-right {
    right: 0;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.center {
    text-align: center;
}

.mobile-nav-services {
    top: 8vh;
    left: 0;
    right: 0;
    background: #2b343e;
    padding-left: 18px;
}

.service-nav-txt {
    font-size: 2vh;
    color: #fff;
    padding: 1vh 2.2vh;
    text-transform: capitalize;
    margin: 0 1.1vh;
    &.active {
        color: #ed008c;
        border-bottom: 5px solid #ed008c;
    }
}

.jazz-mob-head-wrap {
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    background: #2b343e;
    height: 56px;
    font-size: 2rem;
    color: #fff;
    line-height: 4rem;
}
.filter-icon {
    margin: 0 0.5rem;
    @media (max-width: $screen-sm) {
        margin:0rem;
    }
    display: inline-block;
    .icon-icon-filter-unselected {
        cursor: pointer;
        display: inline-block;
        vertical-align: middle;
        font-size: 18px;
        padding: 6px;
        background: #fff;
        border-radius: 5px;
        transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        &.selected {
            box-shadow: 1px 0px 6px -1px rgba(51, 51, 51, 0.46);
            background: #ed008c;
            &:before {
                color: #fff;
            }
        }
    }
}
.mob-head-icon {
    font-size: 1.6rem;
    z-index: 3;
    cursor: pointer;
    top: 1.5rem;
    &.shift-right {
        right: 3rem;
    }
    &.shift-left {
        left: 3rem;
    }
}
.magen{
    color:#ed008c;
}

.pointer{
    cursor:pointer;
}
.view-hdr-wrp {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: $zindex-modal;
}
.disclaimer-static-data{
    font-size: 1rem;
    position: relative;
    margin-top: -15px;
    margin-bottom: 10px;
    color: #999;
    text-align: center;
    a{
        cursor: pointer;
    }
}
* {
    @media(max-width: 853px) {
        &::-webkit-scrollbar {
            width: 4px;
            left: -3px;
        }
        &::-webkit-scrollbar-track {
            -webkit-border-radius: 2px;
            border-radius: 2px;
        }
        /* Handle */
        &::-webkit-scrollbar-thumb {
            -webkit-border-radius: 2px;
            border-radius: 2px;
            border: 2px solid transparent;
            background: rgba(0, 0, 0, 0.4);
        }
        &::-webkit-scrollbar-thumb:window-inactive {
            background: rgba(0, 0, 0, 0.4);
        }
    }
}

.full-width{
  width : 100% !important;
}

section:focus
{
    outline:none;
}
.primary-txt-color{
    color: #ed008c;
}

search-box{
    @media (max-width: $screen-sm) {
        max-width: calc(100% - 60px);
    }
}
.icon-icon-server-error, .icon-icon-nodata, .icon-icon-server-success{
    font-size: 7rem;
    padding-bottom:1rem;
}
.success-text-color{
    color: #5cae01;
}

.icon-icon-refresh:hover,
.icon-icon-filter-unselected:hover,
.icon-icon-search-unselected:hover,
.icon-icon-close:hover,
.expandbtn:hover,
.Expandbtn:hover{
    opacity:0.75;
}

.flex{
    display: flex;
}
.flex-col{
    display: flex;
    flex-direction: column;
}

.flex-grow {
    flex-grow: 1;
}

.flex-shrink {
    flex-shrink: 0;
}

.inline-flex {
    display: inline-flex;
}

.flex-col {
    flex-direction: column;
}

.flex-col-reverse {
    flex-direction: column-reverse;
}

.flex-row {
    flex-direction: row;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.flex-around {
    justify-content: space-around;
}

.flex-evenly {
    justify-content: space-evenly;
}

.flex-between {
    justify-content: space-between;
}

.flex-start {
    justify-content: flex-start;
}

.flex-end {
    justify-content: flex-end;
}

.flex-center {
    justify-content: center;
}

.flex-align-center {
    align-items: center;
}

.flex-align-start {
    align-items: flex-start;
}

.flex-align-stretch {
    align-items: stretch;
}

.flex-align-end {
    align-items: flex-end;
}

.flex-align-baseline {
    align-items: baseline;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-center{
    display: flex;
    justify-content: center;
}

.space-between{
    display: flex;
    justify-content: space-between;
}

.align-center{
    align-self: center;
}
.align-self{
    display: flex;
    align-self: center;
}
.animate-filter{
    max-height: 1000px !important;
  overflow: visible !important;
  opacity: 1 !important;
}

.filter-clear-btn{
  position: absolute;
  top:-2.6rem;
  right:0;
  color:#ed008c;
  font-size:1rem;
  cursor: pointer;
}

.height-100 {
    height: 100%;
}