<div class="landing-hdr-wrp" >
	<tmobile-header type="landing" (loginClick) = "onLoginClicked($event)"></tmobile-header>
</div>
<main class="landing-main-wrp" [style.overflow-y]="goToLogin ? 'hidden':'auto'">
	<div id="landing" class="header-section">
		<section class="section features-section">
			<div class="section-content">
				<h3 id = "head-text" class = "center head-text">
					<span>Create. </span>
					<span>Manage.</span>
					<span> Self-Service.</span>
				</h3>
				
			</div>
			<div class="section-content-text">
				<span class = "center"> Our API Service system allows you to seamlessly create, deploy, manage all your API needs.</span>
			</div>
			<div class = "center top-parallax-margin">
				<btn-tmobile-primary newclass="buttonPadding" text="GET STARTED NOW" (click)="getStartedNow()"></btn-tmobile-primary>
			</div>
			<div class = "parallax-0"></div>
			<!--<div class = "parallax-1"></div>-->
			<div class = "parallax-2">
				<div class = "parallax-text bg1">Donec facilisis tortor ut augue lacinia, at viverra. Donec facilisis tortor</div>
				<div class = "parallax-text bg2">ut augue lacinia, at viverra. Donec facilisis tortor</div>
				<div class = "parallax-text bg3">Donec facilisis tortor ut augue lacinia, at viverra. </div>
			</div>
			
			<div class = "parallax-3"></div>
			<!--<div class = "parallax-4"></div>-->
			
			<!--<div class = "parallax-6"></div>-->
			<!--<div class = "parallax-7"></div>-->
			
		</section>
	</div>
	<section id="features"  class="section features-section features relative transform-parallax">
		<div class = "parallax-1"></div>
		<div class = "parallax-4"></div>
		<div class="landscapepadding"></div>
		<div class="section-content">
			<div class="feature-title center">Features</div>
		</div>
		<ul class="section-content">
			<li>
				<div class="pre-image-container">
					<img class="pre-image" src="/assets/landing/Scale Icon@1x.png.png"/>
				</div>
				<div class="post-image-container">
					<h5>RUN AT ANY SCALE</h5>
					<span> Our API Service system allows you to seamlessly create, deploy, manage all your API needs.</span>
				</div>
			</li>
			<li>
				<div class="pre-image-container">
					<img class="pre-image" src="/assets/landing/Severless Icon@1x.png.png"/>
				</div>
				<div class="post-image-container">
					<h5>SERVERLESS MADE EASY</h5>
					<span> Our API Service system allows you to seamlessly create, deploy, manage all your API needs.</span>
				</div>
			</li>
			<li>
				<div class="pre-image-container">
					<img class="pre-image" src="/assets/landing/Code Icon@1x.png.png"/>
				</div>
				<div class="post-image-container">
					<h5>FOCUS ON CODE</h5>
					<span> Donec facilisis tortor ut augue lacinia, at viverra. Donec facilisis tortor </span>
				</div>
			</li>
			<li>
				<div class="pre-image-container">
					<img class="pre-image" src="/assets/landing/Scale Icon@1x.png.png"/>
				</div>
				<div class="post-image-container">
					<h5>RUN AT ANY SCALE</h5>
					<span> Our API Service system allows you to seamlessly create, deploy, manage all your API needs.</span>
				</div>
			</li>
			<li>
				<div class="pre-image-container">
					<img class="pre-image" src="/assets/landing/Severless Icon@1x.png.png"/>
				</div>
				<div class="post-image-container">
					<h5>SERVERLESS MADE EASY</h5>
					<span> Our API Service system allows you to seamlessly create, deploy, manage all your API needs.</span>
				</div>
			</li>
			<li>
				<div class="pre-image-container">
					<img class="pre-image" src="/assets/landing/Code Icon@1x.png.png"/>
				</div>
				<div class="post-image-container">
					<h5>FOCUS ON CODE</h5>
					<span> Donec facilisis tortor ut augue lacinia, at viverra. Donec facilisis tortor ut augue lacinia, at viverra.</span>
				</div>
			</li>
		</ul>

	</section>
	<div id="releaseCalendars" class="grey-section top-parallax-margin-half relative transform-parallax">
		<!--<div class="transform-parallax">-->
			<div class="pattern-parallax">
				<div class = "parallax-6"></div>
				<!--<div class = " parallax-7"></div>-->
			</div>
		<section  class="section features-section">
			<!--<div class = "parallax-6"></div>
			<div class = " parallax-7"></div>-->
			<div class="section-content">
				<h3 class="feature-title center" >Release Calendar</h3>		
			</div>
			<div class="section-content-text">
					<span class = "center"> Our API Service system allows you to seamlessly create, deploy, manage all your API needs.</span>
			</div>
			<div class="center top-parallax-margin relative">
				<btn-tmobile-secondary newclass="buttonPadding buttonPaddinghover nolandscape" text="All"></btn-tmobile-secondary>
				<btn-tmobile-secondary newclass="buttonPadding buttonPaddinghover nolandscape" text="Future Releases"></btn-tmobile-secondary>
				<btn-tmobile-secondary newclass="buttonPadding buttonPaddinghover nolandscape" text="Past Releases"></btn-tmobile-secondary>
				<btn-tmobile-secondary newclass="buttonPadding buttonPaddinghover nolandscape" text="Events"></btn-tmobile-secondary>
				<!--<div class="shift-right"  (click)="shiftRight()"></div>
				<div class="shift-left" (click)="shiftLeft()"></div>-->
			</div>
			<div class="card-container relative">
				<div class="shift-right icon-icon-rigtArrow"  (click)="shiftRight()" [ngClass]="min ? 'minnum':'maxnum'"></div>
				<div class="scrollable-cards" id="scrollable-cards">
					<div id="scroll-me" class="scroll-me" [style.transform]="'translateX('+safeTransformX+'px)'">
						<div id="first-card">
							<div class ="full">
								<h6>Hackathon</h6>
								<span> Our API Service system allows you to seamlessly create, deploy, manage all your API needs.</span>
					
							</div>
						</div>
						<div>
							<div class ="full">
								<h6>Hackathon</h6>
								<span> Our API Service system allows you to seamlessly create, deploy, manage all your API needs.</span>
					
							</div>
						</div>
						<div>
							<div class ="full">
								<h6>Hackathon</h6>
								<span> Create, deploy, manage all your API needs.</span>
					
							</div>
						</div>
						<div>
							<div class ="full">
								<h6>Hackathon</h6>
								<span> Our API Service system allows you to seamlessly create, deploy, manage all your API needs.</span>
					
							</div>
						</div>
						<div>
							<div class ="full">
								<h6>Hackathon</h6>
								<span> Our API Service system allows you to seamlessly create, deploy, manage all your API needs.</span>
								<div class = "calendar"> May 17th, 5-7 PM</div>
							</div>
							
						</div>
						<div>
							<div class ="full">
								<h6>Hackathon</h6>
								<span> Our API Service system allows you to seamlessly create, deploy, manage all your API needs.</span>
					
							</div>
						</div>
						<div>
							<div class ="full">
								<h6>Hackathon</h6>
								<span> Our API Service system allows you to seamlessly create, deploy, manage all your API needs.</span>
					
							</div>
						</div>
						<!--<div *ngFor="let cardDetails of cardDetailsList">
							<div class="full">
								<h6>{{cardDetails.title}}</h6>
								<span>{{cardDetails.description}}</span>
								<div class="calender">{{cardDetails.date}}</div>
							</div>
						</div>-->
					</div>
				</div>
				<div class="shift-left icon-icon-rigtArrow" (click)="shiftLeft()" [ngClass]="max ? 'minnum':'maxnum'"></div>
			</div>	
		</section>
		<!--</div>-->
		
	</div>
	<div id="about" class="about-section relative transform-parallax">
		<div class="pattern-parallax">
			<div class = "parallax-7"></div>
		</div>
		<section class="section features-section">
			<div class="section-content">
				<h3 class="feature-title center">About Us</h3>		
			</div>
			<div class="section-content section-content-small">
				<span class = "center"> 
					Lorem ipsum dolor sit amet, enean sollicitudin, erat a elementum rutrum, neque sem pretium metus, quis mollis nisl nunc et massa. Vestibulum sed metus in lorem tristique ullamcorper id vitae erat. Nulla mollis sapien sollicitudin lacinia lacinia. Vivamus facilisis dolor et massa placerat, at vestibulum nisl egestas. Nullam rhoncus lacus non odio luctus, eu condimentum mauris ultrices.
				</span>
			</div>
			<div class="section-content actions">
				<span class = "center"> 
					<btn-tmobile-secondary newclass="buttonPadding buttonAbout" text="E-MAIL US"></btn-tmobile-secondary>
					<btn-tmobile-secondary text="SLACK" newclass="slackIcon buttonPadding buttonAbout"></btn-tmobile-secondary>
				</span>
			</div>
		</section>
	</div>
	<section  class="section features-section top-parallax-margin-half">
		
		
		<div class="section-content section-content-small footer">
			<span class = "center"> 
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet porttitor mauris, fringilla feugiat ex. Cras facilisis ultricies porttitor. Curabitur nec nunc vehicula, interdum metus eget, maximus nulla. Sed tempor massa id justo consequat dapibus. 
			</span>
		</div>
		<div class="section-content ">
			
				
				<ul class="footer">
					<li><div class ="home-footer"></div></li>
					<li><a class="center">Privacy</a></li>
					<li><a class="center">Blog</a></li>
					<li><a class="center">Docs</a></li>
				</ul>
				
			
		</div>
		<div class ="mobile-logo-footer"></div>
		<div class="section-content-text bottom-parallax-padding copyright">
			<span class=" center">Copyright 2017. All rights recieved</span>		
		</div>
	</section>


	
</main>
<sidebar (loginClick) = "onLoginClicked($event)" [show]="goToLogin" (onClose)="closeSidebar($event)">
	<login></login>
</sidebar>
