<div class="landing-hdr-wrp" >
	<jazz-header type="landing" (loginClick) = "onLoginClicked($event)" [closed]="closed"></jazz-header>
</div>
<main class="landing-main-wrp" [style.overflow-y]="goToLogin ? 'hidden':'auto'">
	<div id="landing" class="header-section">
		<section class="section features-section">
			<div class="section-content">
				<h3 id = "head-text" class = "center head-text">
					<span>Create. </span>
					<span>Manage.</span>
					<span> Self-Service.</span>
				</h3>
			</div>
			<div class="section-content-text">
				<div class = "center"> Jazz lets you seamlessly build, deploy and manage cloud native applications using serverless technology.</div>
			</div>
			<div class = "center top-parallax-margin landing-action-btn-wrap">
				<btn-jazz-primary newclass="buttonPadding" text="{{buttonText}}" (click)="getStartedNow()"></btn-jazz-primary>
			</div>
			<div class = "parallax-0"></div>
			<div class = "parallax-2"></div>
			<div class = "parallax-3"></div>
		</section>
	</div>
	<section id="features"  class="section features-section features relative transform-parallax">
		<div class = "parallax-1"></div>
		<div class = "parallax-4"></div>
		<div class="landscapepadding"></div>
		<div class="section-content">
			<div class="feature-title center">Features</div>
		</div>
		<ul class="section-content">
			<li>
				<div class="pre-image-container">
					<img class="pre-image" src="/assets/landing/Asset 49@6x.png"/>
				</div>
				<div class="post-image-container">
					<h5>Go Serverless in Production!</h5>
					<span> Jazz supercharges your serverless journey while you enjoy 100% visibility into your production applications.</span>
				</div>
			</li>
			<li>
				<div class="pre-image-container">
					<img class="pre-image" src="/assets/landing/Asset 53@6x.png"/>
				</div>
				<div class="post-image-container">
					<h5>Focus on Code</h5>
					<span>No more Infrastructure worries! Jazz comes with reusable code templates & patterns so that you can quickly turn thoughts into cool things.</span>
				</div>
			</li>
			<li>
				<div class="pre-image-container">
					<img class="pre-image" src="/assets/landing/Asset 56@6x.png"/>
				</div>
				<div class="post-image-container">
					<h5>Avoid Vendor Lock-In</h5>
					<span> Jazz is seductively powerful & makes multi-cloud easy. You choose services from AWS, Azure, Google Cloud and others. Commission your Jazz experience, customize it to fit your needs!</span>
				</div>
			</li>
			<li>
				<div class="pre-image-container">
					<img class="pre-image" src="/assets/landing/Asset 58@6x.png"/>
				</div>
				<div class="post-image-container">
					<h5>CI/CD Solved!</h5>
					<span>Jazz handles all the messy CI/CD work. Fall in love with Jazz and take it for a Spin today!</span>
				</div>
			</li>
			<li>
				<div class="pre-image-container">
					<img class="pre-image" src="/assets/landing/Asset 50@6x.png"/>
				</div>
				<div class="post-image-container">
					<h5>Quality Code that's Secure</h5>
					<span>Jazz helps you focus on code quality & finds vulnerabilities before they go live!</span>
				</div>
			</li>
			<li>
				<div class="pre-image-container">
					<img class="pre-image" src="/assets/landing/Asset 61@6x.png"/>
				</div>
				<div class="post-image-container">
					<h5>Built-in Logging and Monitoring</h5>
					<span>Troubleshoot issues and debug your serverless application quickly using live metrics and a centralized log repository.</span>
				</div>
			</li>
			<li>
				<div class="pre-image-container">
					<img class="pre-image" src="/assets/landing/Asset 60@6x.png"/>
				</div>
				<div class="post-image-container">
					<h5>Controlled Access</h5>
					<span>You're the boss! You decide who accesses your code, approves deployments & gets access to your services.</span>
				</div>
			</li>
			<li>
				<div class="pre-image-container">
					<img class="pre-image" src="/assets/landing/Asset 57@6x.png"/>
				</div>
				<div class="post-image-container">
					<h5>Don't Go Bankrupt!</h5>
					<span> Pay-per-use makes serverless appear insanely cheap, but it is not guaranteed. Jazz puts you in financial control so that billing mishaps are quickly avoided.</span>
				</div>
			</li>
		</ul>

	</section>
	<div id="releaseCalendars" class="hide grey-section top-parallax-margin-half relative transform-parallax">

			<div class="pattern-parallax">
				<div class = "parallax-6"></div>

			</div>
		<section  class="section features-section">

			<div class="section-content">
				<h3 class="feature-title center" >Release Calendar</h3>
			</div>
			<div class="section-content-text">
					<span class = "center"> Our API Service system allows you to seamlessly create, deploy, manage all your API needs.</span>
			</div>
			<div class="center top-parallax-margin relative">
				<btn-jazz-secondary newclass="buttonPadding buttonPaddinghover nolandscape" text="All"></btn-jazz-secondary>
				<btn-jazz-secondary newclass="buttonPadding buttonPaddinghover nolandscape" text="Future Releases"></btn-jazz-secondary>
				<btn-jazz-secondary newclass="buttonPadding buttonPaddinghover nolandscape" text="Past Releases"></btn-jazz-secondary>
				<btn-jazz-secondary newclass="buttonPadding buttonPaddinghover nolandscape" text="Events"></btn-jazz-secondary>

			</div>
			<div class="card-container relative">
				<div class="shift-right icon-icon-rigtArrow"  (click)="shiftRight()" [ngClass]="min ? 'minnum':'maxnum'"></div>
				<div class="scrollable-cards" id="scrollable-cards">
					<div id="scroll-me" class="scroll-me" [style.transform]="'translateX('+safeTransformX+'px)'">
						<div id="first-card">
							<div class ="full">
								<h6>Hackathon</h6>
								<span> Our API Service system allows you to seamlessly create, deploy, manage all your API needs.</span>

							</div>
						</div>
						<div>
							<div class ="full">
								<h6>Hackathon</h6>
								<span> Our API Service system allows you to seamlessly create, deploy, manage all your API needs.</span>

							</div>
						</div>
						<div>
							<div class ="full">
								<h6>Hackathon</h6>
								<span> Create, deploy, manage all your API needs.</span>

							</div>
						</div>
						<div>
							<div class ="full">
								<h6>Hackathon</h6>
								<span> Our API Service system allows you to seamlessly create, deploy, manage all your API needs.</span>

							</div>
						</div>
						<div>
							<div class ="full">
								<h6>Hackathon</h6>
								<span> Our API Service system allows you to seamlessly create, deploy, manage all your API needs.</span>
								<div class = "calendar"> May 17th, 5-7 PM</div>
							</div>

						</div>
						<div>
							<div class ="full">
								<h6>Hackathon</h6>
								<span> Our API Service system allows you to seamlessly create, deploy, manage all your API needs.</span>

							</div>
						</div>
						<div>
							<div class ="full">
								<h6>Hackathon</h6>
								<span> Our API Service system allows you to seamlessly create, deploy, manage all your API needs.</span>

							</div>
						</div>

					</div>
				</div>
				<div class="shift-left icon-icon-rigtArrow" (click)="shiftLeft()" [ngClass]="max ? 'minnum':'maxnum'"></div>
			</div>
		</section>
	</div>
	<div id="about" class="about-section relative transform-parallax">
		<div class="pattern-parallax">
			<div class = "parallax-7"></div>
		</div>
		<section class="section features-section">
			<div class="section-content">
				<h3 class="feature-title center">About Us</h3>
			</div>
			<div class="section-content section-content-small">
				<span class = "center">
						The serverless team is bold, they think big, they build cool stuff and they make serverless fun!
				</span>
			</div>
			<div class="section-content actions">
				<span class = "center">
					<btn-jazz-secondary newclass="buttonPadding buttonAbout" text="E-MAIL US"></btn-jazz-secondary>
					<btn-jazz-secondary text="SLACK" newclass="slackIcon buttonPadding buttonAbout"></btn-jazz-secondary>
					<btn-jazz-secondary newclass="buttonPadding buttonAbout" text="MORE"></btn-jazz-secondary>
					
				</span>
			</div>
		</section>
	</div>
	<section  class="section features-section top-parallax-margin-half">
		<div class="section-content-text bottom-parallax-padding copyright">
			<span class=" center">Copyright 2017. All rights reserved.</span>
		</div>
	</section>



</main>
<sidebar (loginClick) = "onLoginClicked($event)" [show]="goToLogin" (onClose)="closeSidebar($event)">
	<login></login>
</sidebar>
