<jazz-mob-header [icon]="'notification'" [headText]="service.name" [status]="'green'"></jazz-mob-header>
<section class="page-container service-detail-page">
    <navigation-bar *ngIf='!isError403' [links]="breadcrumbs"></navigation-bar>

    <div class="content relative" [class.non-clickable] = 'service.status == "deletion started" || service.status == "deletion completed"'>
                        <span  class="reduxC" *ngIf='service.status == "deletion completed"'></span>
                        <span  class="reduxS" *ngIf='service.status == "deletion started"'></span>

        <div *ngIf='!isError403' class="page-title-wrap hide-for-mobile">
            <div class="title-platform">
            <h1 class="page-hdr bold-title">{{service.name}}</h1>
            <span class="page-sub-title">
                <span *ngIf="service.serviceType !== 'sls-app'" class="service-type">
                    {{service.serviceType}}
                </span>
                <span *ngIf="service.serviceType === 'sls-app'" class="service-type">
                    CUSTOM
                </span>
                <span *ngIf="service.runtime"> - {{service.runtime}}</span>
            </span>
            </div>
            <div class="image-btn-div flex-end">
            <div class="image-container">
                <img
                  *ngIf="provider ==='azure'"
                  id="azure-watermark"
                  src="../../../assets/images/azure-watermark.png"
                  alt="azureimage">
                <img
                  *ngIf="provider === 'aws'"
                  id="aws-watermark"
                  src="../../../assets/images/aws-watermark.png">
            </div>
            <btn-jazz-secondary class="delete-service-btn" text="DELETE SERVICE" [disablebtn]="!canDelete || !isAdminAccess" (click)="deleteService(true)"></btn-jazz-secondary>
            </div>
        </div>
        <div *ngIf='!isError403' class='tab-component'>
            <div class="refresh-button" (click)="refreshTab()">
            </div>
            <tabs [beforeEnv]= "!isEnvAvailable" [type]="'service'" [tabData]="tabData" [selectedTab]="selectedTab" [isAdminAccess]= "isAdminAccess" [tabChanged]="tabChanged" (onSelected)="onSelectedDr($event)"></tabs>

        </div>

        <div *ngIf='!err_flag'>
            <section class="page-content" *ngIf="selectedTab == 'overview'">
                <service-overview #selectedTabComponent (open_sidebar)='opnSidebar($event)'(onload)='env($event)' (onEnvGet)='envList($event)' [service]="service" [isAdminAccess]= "isAdminAccess" [isLoadingService]="isLoadingService" [provider]="provider"></service-overview>
            </section>
            <section class="page-content" *ngIf="selectedTab == 'access control'">
                <service-access-control #selectedTabComponent [service]="service" (updateAdminAccess)='setAdminAccess($event)' [isAdminAccess]= "isAdminAccess" ></service-access-control>
            </section>
            <section class="page-content" *ngIf="selectedTab == 'metrics'">
                <service-metrics #selectedTabComponent [service]="service" #metric></service-metrics>
            </section>
            <section class="page-content" *ngIf="selectedTab == 'cost'">
                <service-cost #selectedTabComponent #cost [service]="service"></service-cost>
            </section>

          <section class="page-content" *ngIf="selectedTab == 'logs'">
            <service-logs #selectedTabComponent #logs [service]="service"></service-logs>
          </section>
        </div>
        <div *ngIf='err_flag' class='err-wrp'>
            <section *ngIf='isError403'>
                <error403></error403>
            </section>
            <div *ngIf='!isError403' class="empty-row with-refresh relative">
                <div class="loading-row" [class.show]="isLoadingService">
                        <div class="loading-circle"></div>
                </div>
                <img src="assets/images/refresh.png" alt="errorimg" width="100">
                <div class='oops'>Oops!</div>
                <div>{{errMessage}}<br><a (click)="refreshServ()">REFRESH</a> to give it another try.</div>
                <br><div class='ctc-us'>If the problem persists, <a (click)='goToAbout("about")'> contact us</a>.</div>
            </div>
        </div>
    </div>
</section>

<sidebar [show]="showPopUp" (onClose)="hideDeletePopup(false)" class="delete-ser">
    <div class="delete-service-pop">

        <div class="step-1" *ngIf="!success">
            <h1>CONFIRMATION</h1>
            <div class="delete-service-popup-content">
                <p [class.invisible]="isLoading"> Are you sure you want to permanently delete <span>{{service.name}}</span>? Please confirm</p>
                <div class="loading-row" [class.show]="isLoading">
                    <div class="loading-circle"></div>
                </div>
                <div class="input-wrapper" [class.invisible]="isLoading">
                    <input name="serviceName" type="text" class="textForm" placeholder="Service Name" id="service-name-search" [(ngModel)]="ServiceName" (ngModelChange)="onServiceNameChange()">
                </div>
                <div class="footer-btns" [class.invisible]="isLoading">
                    <btn-jazz-primary text="DELETE" (click)="deleteServiceInit()" newclass="delete-btn" [disablePrimaryBtn]="disblebtn"></btn-jazz-primary>
                    <a (click)="hideDeletePopup()">CANCEL</a>
                </div>
            </div>
        </div>
        <div class="step-1" *ngIf="serviceDeleted">
                <h1>CONFIRMATION</h1>
                <div class="delete-service-popup-content message">
                    <div class='oops'>Success!</div><br>
                    <div class="ctc-us">"{{service.name}}" {{successMessage}}</div>
                </div>
                <div class="footer-btns" [class.invisible]="isLoading">
                        <btn-jazz-primary text="DONE" (click)="backtoservice()" newclass="delete-btn"></btn-jazz-primary>

                </div>
        </div>
        <div class="step-1" *ngIf="serviceDeleteFailed">
                <h1>CONFIRMATION</h1>
                <div class="delete-service-popup-content message">
                        <div class='oops'>Oops!</div>
                        <div class="ctc-us">{{errorMessage}}</div>
                        <br><div class='ctc-us'>If the problem persists, <a (click)='goToAbout("about")'> contact us</a>.</div>
                </div>
                <div class="footer-btns" [class.invisible]="isLoading">
                        <btn-jazz-primary text=" DONE" (click)="backtoservice()" newclass="delete-btn"></btn-jazz-primary>

                </div>
        </div>
    </div>
</sidebar>
<section class='overview-sidebar'>
    <sidebar [show]="close" (onClose)="closeSidebar($event)">
            <overview-sidebar (onClose)="closeSidebar($event)"></overview-sidebar>
    </sidebar>
</section>
<footer></footer>
