@import './../../../main-styles';
.service-container {
  padding-bottom: 5rem;
}

.header1 {
  display: inline-block;
  font-size: 26px;
  font-weight: bold;
  color: #000000;
}
.page-title-wrap {
  display: flex;
  justify-content: space-between;
}
.image-btn-div {
  display: flex;
}
.azure-image {
  width: 30px;
  height: 30px;
}
#aws-watermark {
  opacity: .075;
  position: fixed;
  right: 3em;
  top: 7em;
  width: 13em;
}
#azure-watermark {
  opacity: .075;
  position: fixed;
  right: 3em;
  top: 6.8em;
  width: 12em;
}
.image-container {
  margin: 0px 5px;
}

.sub-title {
  font-size: 12px;
  color: #aaaaaa;
  margin-left: 10px;
  padding-top: 8px;
  display: inline-block;
}

.service-type {
  text-transform: uppercase;
}

// /deep/ .service-title-wrap button.btn-default{
/deep/ .page-title-wrap button.btn-default {
  background-color: transparent;
  float: right;
  margin-bottom: 0;
}

.page-title-wrap {
  min-height: 5.65rem; // setting min-height coz, alignment breaks when jquery isnt loaded
}

/deep/ .page-title-wrap button.btnT-radial-in {
  margin: 0px;
  border-radius: 30px;
  padding: 7px 16px;
  background: transparent;
  letter-spacing: .3px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  font-size: 12px;
  vertical-align: middle;
  font-weight: 700;
  border: 1px solid;
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    &:hover {
      color: #fc2f98;
      background-color: transparent;
    }
  }
}

.delete-service-popup-content {
  position: relative;
}

// .service-title-wrap {
.page-title-wrap {
  overflow: hidden;
  padding: 26px 0 0 0;
  .header1 {
    float: left;
  }
  btn-jazz-secondary {
    float: right;
  }
}

.service-status {
  position: relative;
  color: #aaa;
}

.service-status.Active {
  color: #5cae01;
}

.service-status.Stopped {
  color: #d0011b;
}

.service-status::after {
  content: "";
  width: 10px;
  display: inline-block;
  height: 10px;
  border-radius: 50%;
  background-color: #aaa;
  vertical-align: middle;
  margin-left: 4px;
}

.service-status.Active::after {
  background-color: #5cae01;
}

.service-status.Stopped::after {
  background-color: #d0011b;
}

.service-status-row {
  margin-bottom: 1.5rem;
  /*font-weight: 700;*/
}

.service-content {
  margin-top: 2.5rem;
}

.service-details {
  border-radius: 3px;
  margin: 0;
  padding: 1.6rem;
  padding-top: 2.5rem;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
}

.service-details ul {
  margin: 0;
  padding: 0;
}

.service-details li {
  list-style: none;
  padding-bottom: 0.8rem;
  display: flex;
  &:last-child {
    padding: 0;
  }
}

.service-details ul.section-left {
  padding-right: 3rem;
}

.section-right {}

.det-label {
  width: 11rem;
  flex-shrink: 0;
  font-size: 13px;
  font-weight: bold;
  color: #000000;
  text-transform: capitalize;
}

.det-value {
  word-break: break-word;
}

.det-value.link {
  color: #1495bb;
  cursor: pointer;
}

.separator-row {
  height: 2px;
  margin: 1rem 0; // border: solid 1px #dddddd;
}

.service-overview-wrp {
  display: flex;
  @media (max-width: $screen-lg) {
    display: block;
  }
}

.stage-title {
  padding: 1.5rem;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color: #aaaaaa;
  text-transform: uppercase;
}

.service-overview {
  display: flex;
  padding: 0 2rem 1rem 2rem;
}

.overview-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 1rem;
  width: 25%;
}

.overview-item.last-status,
.overview-item.deployments-count {
  width: 30%;
}

.overview-value {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overview-label {
  justify-content: flex-start;
  font-size: 12px;
}

.overview-value {
  font-size: 18px;
}

.last-status .overview-value {
  display: flex;
  justify-content: center;
  align-items: center;
}

.last-status .overview-value div:first-child {}

.last-status .overview-value div:last-child {
  width: 3rem;
  font-size: 10px;
}

.cost.good .overview-value,
.code-quality.good .overview-value {
  color: #5cae01;
}

.cost.bad .overview-value,
.code-quality.bad .overview-value {
  color: #d0011b;
}

/deep/ .delete-ser .sidebar-wrp {
  &.show {
    div.sidebar-inr {
      transform: translateY(-50%) !important;
      opacity: 1;
    }
  }
  div.sidebar-inr {
    top: 50%;
    opacity: 0;
    width: 45%;
    transform: translateY(-50%);
    max-width: 34rem;
    border-radius: 3px;
    height: auto;
    background-image: none;
    background-color: white;
    margin: auto;
    position: relative;
    transition: opacity .3s linear !important;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
  }
}

.delete-service-pop {
  padding: 0 1.6rem;
  h1 {
    margin: 0;
    padding: 20px 0;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: .3px;
    text-align: center;
    border-bottom: 1px solid #dddddd;
  }
  p {
    margin: 0;
    padding: 25px 0;
    font-size: 14px;
    text-align: center;
    span {
      font-weight: bold;
    }
  }
  .message {
    text-align: center;
    margin: 2rem 0;
  }
  .footer-btns {
    padding: 1.6rem 0;
    overflow: auto;
    a {
      float: right;
      cursor: pointer;
      line-height: 2.9rem;
      font-weight: bold;
      margin-right: 1.5rem;
    }
    btn-jazz-primary {
      float: right;
      /deep/ .delete-btn {
        height: 3.5rem;
        width: 10rem;
      }
    }
    /deep/ button.btn-primary:hover {
      border-color: #ed008c !important;
    }
  }
  .step-2 {
    text-align: center;
    padding: 2rem 0;
    opacity: 0;
    transition: opacity .3s linear !important;
    &.enabled {
      opacity: 1;
    }
    .success-text {
      font-weight: 900;
      font-size: 2rem;
      color: #5cae01;
    }
    p {
      padding: 5px 0;
    }
    .footer-btns-success {
      padding-top: 3rem;
      button.btn-primary {
        float: none !important;
      }
    }
  }
}

/deep/ .footer-btns-success {
  padding-top: 3rem;
  button.btn-primary {
    float: none !important;
  }
}

.service-detail-page {
  // /deep/canvas , .redux , #redux{
  //     position: absolute !important;
  //     top: 0px !important;
  //     left: -37px;
  //     opacity: 0.5 !important;
  //     z-index: 100 !important;
  //     width: calc(100% + 74px);
  //     height: calc(100% + 37px);
  // }
  // .redux{
  //     background-color: #000;
  // }
}

.delete-service-btn {
  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;
    /deep/ button {
      pointer-events: none;
    }
  }
}

.loading-circle {
  position: relative; // height: 3rem;
  &:before,
  &:after {
    content: "";
    position: absolute;
    left: calc(50% - 1.5rem);
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: 3px solid rgba(237, 0, 133, 0.1);
  }
  &:after {
    content: "";
    position: absolute;
    border-left-color: #ed0085;
    animation-name: rotate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

.loading-row {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: #fff;
  top: 0;
  left: 0;
  .loading-circle {
    top: calc(50% - 2.5rem);
  }
}

.loading-text {
  text-align: center;
  padding-top: 1.5rem;
  color: #ed0085;
  text-transform: uppercase;
}

.oops {
  font-size: 2rem;
  font-weight: bold;
}

.ctc-us {
  font-size: 1.3rem;
}

.err-wrp {
  background: white;
  border-radius: 5px;
  width: 100%; // height:75vh;
  min-height: 75vh;
  margin-top: 2rem;
}

/deep/.empty-row {
  position: relative;
  text-align: center;
  padding: 3rem 1.25rem;
  top: 25%;
  font-size: 18px;
  font-weight: 500; // padding-top: 5rem;
}

// .padding-epty{
//     padding-top: 5rem;
// }
.with-refresh.show {
  left: 25% !important;
  width: 50% !important;
}

.with-refresh a {
  font-weight: 400;
}

.with-refresh img {
  margin-bottom: 10px;
}

.non-clickable {
  pointer-events: none;
}

.delete-service-popup-content .empty-row {
  font-size: 16px !important;
}

.reduxC {
  position: absolute !important;
  top: 0px !important;
  left: -37px;
  opacity: 0.5 !important;
  z-index: 100 !important;
  width: calc(100vw - 300px);
  height: calc(100vh - 68px);
  background-color: rgba(0, 0, 0, 0.3);
  @media (max-width: 1200px) {
    height: calc(105%);
  } // @media (max-width: 1060px) {
  //     width: calc(100% + 71px);
  //     height: calc(105%);
  // }
  @media (max-width: 853px) {
    width: calc(100% + 71px);
    height: calc(117%);
  }
  @media (max-width: 770px) {
    width: calc(100% + 71px);
    height: calc(105%);
  }
}

.reduxS {
  position: absolute !important;
  top: 0px !important;
  left: -37px;
  opacity: 0.85 !important;
  z-index: 100 !important;
  width: calc(100vw - 300px);
  height: calc(105%);
  background-color: rgba(0, 0, 0, 0.3);
  @media (max-width: 1200px) {
    height: calc(105%);
  } // @media (max-width: 1060px) {
  //     width: calc(100% + 71px);
  //     height: calc(105%);
  // }
  @media (max-width: 853px) {
    width: calc(100% + 71px);
    height: calc(117%);
  }
  @media (max-width: 770px) {
    width: calc(100% + 71px);
    height: calc(105%);
  }
}

.overview-sidebar {
  /deep/ sidebar {
    /deep/ .sidebar-wrp {
      /deep/.sidebar-inr {
        overflow-y: scroll !important;
      }
    }
  }
}

.tab-component{
  justify-content: space-between;
  display: flex;
  flex-direction: row-reverse;
}

.refresh-button{
  cursor: pointer;
  margin: 10px 0 0 0;
  span{
      color:#ed008c;
      text-transform: uppercase;
      font-size: 12px;
  }
}
