@import './../../../main-styles';
$graph-title-height: 2.6rem;
.section-top {
    padding: 10px 5px;
}

:host .page-section {
    background: transparent;
    box-shadow: none;
    padding: 0;
}

.graph-section-container {
    display: flex;
    flex-wrap: wrap;
    margin-right: -2rem;
}

.graph-title {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    height: $graph-title-height;
}

.graph-wrp {
    padding-right: 0;
    position: relative;
    flex-grow: 1;
    /*graph-wrp:; setting padding bottom for maintaining the aspect ration of the graph */
    /*line-graph-wrp: adding padding here for spacing between the graph tiles*/
    /*line-graph-inr: actual graph container with background, box-shadow etc*/
    width: 100%;
    padding-bottom: 70%;
    // @media (min-width: 400px) {
    //     width: 50%;
    //     padding-bottom: 35%;
    // }
    @media (min-width: 500px) {
        width: 50%;
        padding-bottom: 35%;
    }
    @media (min-width: 853px) {
        width: 100%;
        padding-bottom: 25rem;
    }
    @media (min-width: 1000px) {
        width: 50%;
        padding-bottom: 35%;
    }
    @media (min-width: $screen-lg-min) {
        width: 33.33%;
        padding-bottom: 24%;
    }
    /deep/ .line-graph-wrp {
        height: 100%;
        width: 100%;
        position: absolute;
        display: block;
        padding-right: 2rem;
        padding-bottom: 2rem;
    }
    .line-graph-inr {
        background-color: #ffffff;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
        border-radius: 3px;
        height: 100%;
    }
    /deep/ line-graph {
        height: calc(100% - #{$graph-title-height});
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.filter-wrp {
    margin-bottom: 2rem;
}

.graph-wrp-inr {}

.page-section {
    margin: 0;
    margin-bottom: 1.5rem;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
    padding: 2rem;
}

.table-container {
    padding-top: 2rem;
}

.column,
/deep/ .column {
    &:nth-child(1) {
        width: 15rem;
    }
    &:nth-child(2) {
        width: 30%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    &:nth-child(3) {
        width: 35%;
        white-space: nowrap;
    }
    &:nth-child(4) {
        width: 7rem;
    }
}

.filter-wrp {
    display: flex;
    align-items: center;
    @media (min-width: $screen-lg) {
        .dropdown-1, .dropdown-2 {
            width: 200px;
        }
    }
}

.filters {
    width: 100%;
    @media (min-width: 853px) {
        width: auto;
    }
}

.filter-section-right {
    .dropdown-1,
    .dropdown-2 {
        flex-grow: 1;
        max-width: 200px;
    }
    .dropdown-2 {
        margin-left: 2rem;
    }
    width: 100%;
    display: flex;
    margin-left: auto;
    /deep/ .dropdown {
        min-width: 125px;
    }
    @media (min-width: 853px) {
        width: auto;
        .dropdown-1 {
            margin-left: 2rem;
        }
        /deep/ .dropdown {
            min-width: none;
        }
    }
}

.filter-icon {
    margin-left: 25px;
    .icon-icon-filter-unselected {
        cursor: pointer;
        display: inline-block;
        vertical-align: middle;
        font-size: 16px;
        padding: 6px;
        background: #fff;
        border-radius: 5px;
        transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        &.selected {
            box-shadow: 1px 0px 6px -1px rgba(51, 51, 51, 0.46);
            background: #ed008c;
            &:before {
                color: #fff;
            }
        }
    }
}

search-box {
    display: inline-block;
    margin-left: auto;
}
