<jazz-mob-header (backClick)='closeCreateService(serviceRequestSuccess)' class='show-for-mobile' [icon]="'notification'" [headText]="'Create a Service'" [status]="'none'"></jazz-mob-header>
<div class="create-service-wrap" (click)="closeDropdowns()" [ngClass]="isLoading ? 'body-fix':'body-auto'">
    <section class="each-step-wrap create-service-header hide-for-mobile">
        <h4 class="bold-title">
            Create a Service
        </h4>
        <!-- <img (click)="closeCreateService(serviceRequestSuccess)" src="../assets/images/icons/icon-close@3x.png"> -->
        <div (click)="closeCreateService(serviceRequestSuccess)" class="icon-icon-close"></div>

    </section>
    <div *ngIf='!serviceRequested' class="pad-for-mobile">
        <section class="each-step-wrap type-of-service">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <p class="step-title">Choose the type of service you want to create<span>*</span></p>
                </div>
                <div class="col-lg-8 col-md-8">
                    <section class="col-lg-3 col-md-3 col-sm-4 col-xs-4  pad-left0 service-box-section">
                        <div tabindex="0" class="service-box" [ngClass]="{'service-box-selected': typeOfService == 'api'}" (keyup.enter)="changeServiceType('api')" (click)="changeServiceType('api')">
                            <div class="icon-icon-api" [ngClass]="{'selected': typeOfService == 'function'}"></div>
                            <p>API</p>
                        </div>
                    </section>
                    <section class="col-lg-3 col-md-3 col-sm-4 col-xs-4  pad-left0 service-box-section">
                        <div tabindex="0" class="service-box" [ngClass]="{'service-box-selected': typeOfService == 'function'}" (keyup.enter)="changeServiceType('function')" (click)="changeServiceType('function')">
                            <div class="icon-icon-function" [ngClass]="{'selected': typeOfService == 'function'}"></div>
                            <p>LAMBDA</p>
                        </div>
                    </section>
                    <section class="col-lg-3 col-md-3 col-sm-4 col-xs-4 pad-left0 service-box-section">
                        <div tabindex="0" class="service-box" [ngClass]="{'service-box-selected': typeOfService == 'website'}" (keyup.enter)="changeServiceType('website')" (click)="changeServiceType('website')">
                            <div class="icon-icon-web" [ngClass]="{'selected': typeOfService == 'function'}"></div>
                            <p>WEBSITE</p>
                        </div>
                    </section>
                </div>
            </div>
        </section>
        <section class="each-step-wrap type-of-platform">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <p class="step-title">Choose what platform you would like to use<span>*</span></p>
                </div>
                <div class="col-lg-8 col-md-8">
                    <section class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pad-left0 service-box-section">
                        <div tabindex="0" class="service-box" [ngClass]="{'service-box-selected': typeOfPlatform == 'aws'}" (click)="changePlatformType('aws')">
                                <div class="icon-icon-AWS">
                                        <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span><span class="path17"></span><span class="path18"></span><span class="path19"></span><span class="path20"></span><span class="path21"></span><span class="path22"></span><span class="path23"></span><span class="path24"></span><span class="path25"></span><span class="path26"></span><span class="path27"></span><span class="path28"></span><span class="path29"></span><span class="path30"></span><span class="path31"></span><span class="path32"></span><span class="path33"></span>
                                </div>
                            <p>AWS</p>
                        </div>
                    </section>
                    <section class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pad-left0 service-box-section">
                        <div tabindex="-1" class="service-box disabled-box" [ngClass]="{'service-box-selected': typeOfPlatform == 'azure'}" (click)="changePlatformType('azure')">
                            <div class="icon-icon-azure"></div>
                            <p>Azure</p>
                        </div>
                    </section>
                    <section class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pad-left0 service-box-section">
                        <div tabindex="-1" class="service-box disabled-box" [ngClass]="{'service-box-selected': typeOfPlatform == 'gcloud'}" (click)="changePlatformType('gcloud')">
                            <div class="icon-icon-googlecloud"></div>
                            <p>Google Cloud</p>
                        </div>
                    </section>
                </div>
            </div>
        </section>
        <section class="each-step-wrap run-time" *ngIf="typeOfService != 'website'">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <p class="step-title">Choose your runtime<span>*</span></p>
                </div>
                <div class="col-lg-8 col-md-8">
                    <div class="col-lg-12  pad-left0 input-field-container runtime-aln">
                        <section class="runtime-option">
                            <div class="radio-container">
                                <input type="radio" class='test-focus' name="runtime" id="runtimeKeys[0]" [value]="runtimeKeys[0]" [checked]="runtime == runtimeKeys[0]" (click)="onSelectionChange(runtimeKeys[0])">
                                <label for="runtimeKeys[0]"><span class='outer'></span><span class="background"></span>{{runtimeObject[runtimeKeys[0]]}}</label>
                            </div>
                        </section>
                        <section class="runtime-option">
                            <div class="radio-container">
                                <input type="radio" name="runtime" id="runtimeKeys[1]" [value]="runtimeKeys[1]" [checked]="runtime == runtimeKeys[1]" (change)="onSelectionChange(runtimeKeys[1])">
                                <label for="runtimeKeys[1]"><span class='outer'></span><span class="background"></span>{{runtimeObject[runtimeKeys[1]]}}</label>
                            </div>
                        </section>
                        <section class="runtime-option">
                            <div class="radio-container">
                                <input type="radio" name="runtime" id="runtimeKeys[2]" [value]="runtimeKeys[2]" [checked]="runtime == runtimeKeys[2]" (change)="onSelectionChange(runtimeKeys[2])">
                                <label for="runtimeKeys[2]"><span class='outer'></span><span class="background"></span>{{runtimeObject[runtimeKeys[2]]}}</label>
                            </div>
                        </section>
                        <section class="runtime-option">
                            <div class="radio-container">
                                <input type="radio" name="runtime" id="runtimeKeys[3]" [value]="runtimeKeys[3]" [checked]="runtime == runtimeKeys[3]" (click)="onSelectionChange(runtimeKeys[3])">
                                <label for="runtimeKeys[3]"><span class='outer'></span><span class="background"></span>{{runtimeObject[runtimeKeys[3]]}}</label>
                            </div>
                        </section>
                        <section class="runtime-option">
                            <div class="radio-container">
                                <input type="radio" name="runtime" id="runtimeKeys[4]" [value]="runtimeKeys[4]" [checked]="runtime == runtimeKeys[4]" (click)="onSelectionChange(runtimeKeys[4])">
                                <label for="runtimeKeys[4]"><span class='outer'></span><span class="background"></span>{{runtimeObject[runtimeKeys[4]]}}</label>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </section>
        <div class="loader-wrp" [class.show]="isLoading">
            <div class="loader">
                <div class="inner one"></div>
                <div class="inner two"></div>
                <div class="inner three"></div>
            </div>
        </div>
        <form (ngSubmit)="onSubmit(); serviceForm.reset()" #serviceForm="ngForm" class='mob-form-pad'>
            <section class="each-step-wrap service-name">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <p class="step-title">Service Name<span>*</span></p>
                        <p class="step-details">Name of your API, Microservice or Website that you want to create.</p>
                    </div>
                    <div class="col-lg-8 col-md-8">
                        <section class="col-lg-12  pad-left0">
                            <div class="input-field-container">
                                <div class="input-wrapper" [ngClass]="{'available': serviceAvailable && !invalidServiceName && !invalidDomainName, 'unavailable': serviceNotAvailable || !serviceName.valid && (serviceName.dirty || serviceName.touched) || (serviceName.valid && invalidServiceName)}">
                                    <input name="serviceName" pattern="{{servicePatterns.serviceName}}" type="text" maxlength="{{serviceLimit}}" class="textForm" id="serviceName" required [(ngModel)]="model.serviceName" placeholder="Enter service name" (ngModelChange)="invalidServiceName = false;serviceAvailable=false" #serviceName='ngModel' (blur)="validateName($event)" >
                                    <img class="input-loader ng-hide">
                                    <p class="termsConditions" *ngIf="!serviceName.valid && (serviceName.dirty || serviceName.touched)">Service name must contain only letters, numbers or hyphens (consecutive hyphens are not allowed)</p>
                                    <p class="termsConditions" *ngIf="serviceName.valid && serviceAvailable && !isDomainDefined">Service name is available !</p>
                                    <p class="termsConditions" *ngIf="serviceName.valid && serviceAvailable && isDomainDefined && !invalidServiceName && !invalidDomainName">Service name in the specified namespace is available!</p>
                                    <p class="termsConditions" *ngIf="serviceName.valid && serviceNotAvailable && !isDomainDefined">Service name is not available. Please try another service name</p>
                                    <p class="termsConditions" *ngIf="serviceName.valid && serviceNotAvailable && isDomainDefined">Service name in the specified namespace is not available. Please try another combination of namespace & service name.</p>
                                    <p class="termsConditions" *ngIf="serviceName.valid && invalidServiceName">Service name should not start or end with hyphens</p>
                                    <img *ngIf="serviceName.valid && showLoader" class="input-loader" src="../assets/images/icons/loading.png">
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </section>
            <section class="each-step-wrap domain-name">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <p class="step-title">Namespace<span>*</span></p>
                        <p class="step-details">Namespaces provide easier abstraction to implement similar security & access control on your APIs.</p>
                    </div>
                    <div class="col-lg-8 col-md-8">
                        <section class="col-lg-12  pad-left0">
                            <div class="input-field-container">
                                <div class="input-wrapper" [ngClass]="{'unavailable' : !domainName.valid && (domainName.dirty || domainName.touched) || (domainName.valid && invalidDomainName) }">
                                    <input name="domainName" pattern="{{servicePatterns.domainName}}" maxlength="{{domainLimit}}" type="text" class="textForm" id="domainName" required placeholder="Enter namespace" [(ngModel)]="model.domainName" #domainName='ngModel' (blur)="validateName($event)" (ngModelChange)="invalidDomainName=false" required>
                                    <p class="termsConditions" *ngIf="!domainName.valid && (domainName.dirty || domainName.touched)">Namespace must contain only letters, numbers or hyphens (consecutive hyphens are not allowed)</p>
                                    <p class="termsConditions" *ngIf="domainName.valid && invalidDomainName">Namespace should not start or end with hyphens</p>
                                    <img *ngIf="serviceName.valid && domainName.valid && showLoader" class="input-loader" src="../assets/images/icons/loading.png">
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </section>
            <section class="each-step-wrap service-description">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <p class="step-title">Service Description</p>
                        <p class="step-details hide">Multiple APIs can be bundled under a single namespace. Namespace provide easier abstraction to implement similar security & access control on your APIs.</p>
                    </div>
                    <div class="col-lg-8 col-md-8">
                        <section class="col-lg-12  pad-left0">
                            <div class="input-field-container">
                                <div class="input-wrapper">
                                    <textarea rows="2" cols="50" name="serviceDescription" type="text" class="textForm" placeholder="Service Description" id="serviceDescription" [(ngModel)]="model.serviceDescription"  #serviceDescription='ngModel'></textarea>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </section>
            <section class="each-step-wrap slack-channel-integration">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <p class="step-title">Slack Channel Integration</p>
                    </div>
                    <div class="col-lg-8 col-md-8">
                        <section class="col-lg-12  pad-left0">
                            <div class="input-field-container">
                                <div class="slack-checkbox custom-cb" [class.disable-event]='!SlackEnabled'>
                                    <input type="checkbox" id="checkbox-slack" class="ng-untouched ng-valid ng-dirty ng-valid-parse" [disabled]='!SlackEnabled' aria-invalid="false" [checked]="slackSelected" (change)="slackSelected = !slackSelected">
                                    <label for="checkbox-slack" [class.disble]='!SlackEnabled'></label>
                                    <div class="cb-status-dets"> Do you want us to notify you through #Slack?</div>
                                </div>
                                <div *ngIf="slackSelected == true">
                                    <div class="input-wrapper" [ngClass]="{'available': slackAvailble, 'unavailable': slackNotAvailble|| channelNameError || !channelname.valid && (channelname.dirty || channelname.touched)}">
                                        <input name="channelname" id="channelname" type="text" class="textForm" pattern="{{servicePatterns.slackChannel}}" required placeholder="Enter Slack Channel name" #channelname='ngModel' [(ngModel)]="model.slackName" (blur)="checkSlackNameAvailability()" (ngModelChange)="onSlackChange($event)">
                                        <img class="input-loader ng-hide">
                                        <p class="termsConditions" *ngIf="!channelname.valid && (channelname.dirty || channelname.touched)">Slack channel must contain only letters, numbers, hyphens and underscores.</p>
                                        <p class="termsConditions" *ngIf="channelname.valid && slackAvailble">Slack channel is available.</p>
                                        <p class="termsConditions" *ngIf="channelname.valid && slackNotAvailble">Slack channel is not available. Please provide a valid slack channel.</p>
                                        <p class="termsConditions" *ngIf="channelname.valid && channelNameError">Error in validating Slack Channel name. Please try again or contact administrator.</p>
                                        <img *ngIf="channelname.valid && slackChannelLoader" class="input-loader" src="../assets/images/icons/loading.png">
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </section>
            <section class="each-step-wrap cache-ttl-integration" *ngIf="typeOfService == 'api'">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <p class="step-title">Cache Time-to-Live (TTL)</p>
                    </div>
                    <div class="col-lg-8 col-md-8">
                        <section class="col-lg-12  pad-left0">
                            <div class="input-field-container">
                                <div class="slack-checkbox custom-cb disable-event">
                                    <input disabled type="checkbox" id="checkbox-ttl" [checked]="ttlSelected" (change)="ttlSelected = !ttlSelected" class="ng-untouched ng-valid ng-dirty ng-valid-parse" aria-invalid="false">
                                    <label for="checkbox-ttl" class="disble"></label>
                                    <div class="cb-status-dets"> Yes, enable caching for my API.</div>
                                </div>
                                <div *ngIf="ttlSelected == true">
                                    <div class="input-wrapper" [ngClass]="{'unavailable': invalidttl}">
                                        <input name="ttlField" type="number" class="textForm" required placeholder="Enter time in seconds" [(ngModel)]="model.ttlValue" (ngModelChange)="onTTLChange($event)" #ttlField='ngModel' min="1" max="3600" OnlyNumber="true">
                                        <img class="input-loader ng-hide">
                                        <p class="termsConditions"> Maximum value fot TTL is 3600 seconds</p>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </section>
            <section class="each-step-wrap event-schedule" *ngIf="typeOfService == 'function'">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <p class="step-title">Event Schedule</p>
                    </div>
                    <div class="col-lg-8 col-md-8">
                        <div class="input-field-container event-schedule-radio row zero-margin">
                            <section class="col-lg-3 col-md-3  pad-left0">
                                <div class="radio-container">
                                    <input type="radio" name="EventSchedule" id="none" [value]="none" [checked]="rateExpression.type == 'none'" (click)="onEventScheduleChange('none')">
                                    <label for="none"><span></span><span class="background"></span>None</label>
                                </div>
                            </section>
                            <section class="col-lg-3 col-md-3  pad-left0">
                                <div class="radio-container">
                                    <input type="radio" name="EventSchedule" id="fixedRate" [value]="rate" [checked]="rateExpression.type == 'rate'" (click)="onEventScheduleChange('rate')">
                                    <label for="fixedRate"><span></span><span class="background"></span>Fixed Rate of</label>
                                </div>
                            </section>
                            <section class="col-lg-3 col-md-3  pad-left0">
                                <div class="radio-container">
                                    <input type="radio" name="EventSchedule" id="cron" [value]="cron" [checked]="rateExpression.type == 'cron'" (click)="onEventScheduleChange('cron')">
                                    <label for="cron"><span></span><span class="background"></span>Cron Expression</label>
                                </div>
                            </section>
                        </div>
                        <div class="event-schedule-fields" [ngClass]="{'zero-padding': rateExpression.type == 'none'}">
                            <div class='clearfix'>
                                <div class="cron-fields row zero-margin arrow_box" *ngIf="rateExpression.type == 'cron'">
                                    <div class="col-lg-2">
                                        <p class="sm-input-label">Minutes</p>
                                        <div class="input-wrapper">
                                            <input name="rateMinute" type="text" class="textForm" required [(ngModel)]="cronObj.minutes" #rateMinute='ngModel' (ngModelChange)="generateExpression(rateExpression)">
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <p class="sm-input-label">Hours</p>
                                        <div class="input-wrapper">
                                            <input name="rateHour" type="text" class="textForm" [(ngModel)]="cronObj.hours" #rateHour='ngModel' (ngModelChange)="generateExpression(rateExpression)" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <p class="sm-input-label">Day-of-month</p>
                                        <div class="input-wrapper">
                                            <input name="rateDayofMonth" type="text" class="textForm" [(ngModel)]="cronObj.dayOfMonth" #rateDayofMonth='ngModel' (ngModelChange)="generateExpression(rateExpression)" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <p class="sm-input-label">Month</p>
                                        <div class="input-wrapper">
                                            <input name="rateMonth" type="text" class="textForm" [(ngModel)]="cronObj.month" #rateMonth='ngModel' (ngModelChange)="generateExpression(rateExpression)" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <p class="sm-input-label">Day-of-week</p>
                                        <div class="input-wrapper">
                                            <input name="rateDayOfWeek" type="text" class="textForm" [(ngModel)]="cronObj.dayOfWeek" #rateDayOfWeek='ngModel' (ngModelChange)="generateExpression(rateExpression)" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <p class="sm-input-label">Year</p>
                                        <div class="input-wrapper">
                                            <input name="rateYear" type="text" class="textForm" required [(ngModel)]="cronObj.year" #rateYear='ngModel' (ngModelChange)="generateExpression(rateExpression)">
                                        </div>
                                    </div>
                                </div>
                                <div class="rate-field row  zero-margin arrow_box" *ngIf="rateExpression.type == 'rate'">
                                    <div class="col-lg-7 padding-right-0">
                                        <div class="input-wrapper" [ngClass]="{'available': rateField.valid && (rateField.dirty || rateField.touched), 'unavailable': !rateField.valid && (rateField.dirty || rateField.touched)}">
                                            <input name="rateField" type="number" class="textForm" required [(ngModel)]="rateExpression.duration" (ngModelChange)="generateExpression(rateExpression)" #rateField='ngModel' OnlyNumber="true">
                                            <img class="input-loader ng-hide">
                                        </div>
                                    </div>
                                    <div class="col-lg-5">
                                        <div class="input-wrapper">
                                            <dropdown [dropdwnContent]="rateData" [selected]="rateExpression.interval" [statusFilter]="statusFilter" (onSelected)="onSelectedDr($event)"></dropdown>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-error" *ngIf="rateExpression.error != undefined && rateExpression.type != 'none'">
                                {{rateExpression.error}}
                            </div>
                            <p *ngIf="rateExpression.type != 'none'" class="learn-more"><a target="_blank" href="https://docs.aws.amazon.com/AmazonCloudWatch/latest/events/ScheduledEvents.html">Learn more</a> about CloudWatch Event schedules</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- start of aws events -->
            <section class="each-step-wrap aws-events" *ngIf="typeOfService == 'function'">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <p class="step-title">AWS Events</p>
                        <p class="step-details">Select appropriate events that you want to subscribe to.</p>
                    </div>
                    <div class="col-lg-8 col-md-8">
                        <div class="input-field-container event-schedule-radio row zero-margin">
                            <section class="col-lg-2 col-md-2  pad-left0 events-radio">
                                <div class="radio-container ">
                                    <input type="radio" name="AWSEvents" id="awsEventsNone" [value]="awsEventsNone" [checked]="eventExpression.type == 'awsEventsNone'" (click)="onAWSEventChange('awsEventsNone')">
                                    <label for="awsEventsNone"><span></span><span class="background"></span>None</label>
                                </div>
                            </section>
                            <section class="col-lg-2 col-md-2  pad-left0 events-radio">
                                <div class="radio-container ">
                                    <input  type="radio" name="AWSEvents" id="dynamodb" [value]="dynamodb" [checked]="eventExpression.type == 'dynamodb'" (click)="onAWSEventChange('dynamodb')">
                                    <label for="dynamodb"><span></span><span class="background"></span>DynamoDB</label>
                                </div>
                            </section>
                            <section class="col-lg-2 col-md-2  pad-left0 events-radio">
                                <div class="radio-container ">
                                    <input  type="radio" name="AWSEvents" id="kinesis" [value]="kinesis" [checked]="eventExpression.type == 'kinesis'" (click)="onAWSEventChange('kinesis')">
                                    <label for="kinesis"><span></span><span class="background"></span>Kinesis</label>
                                </div>
                            </section>
                            <section class="col-lg-2 col-md-2  pad-left0 events-radio">
                                <div class="radio-container ">
                                    <input  type="radio" name="AWSEvents" id="s3" [value]="s3" [checked]="eventExpression.type == 's3'" (click)="onAWSEventChange('s3')">
                                    <label for="s3"><span></span><span class="background"></span>S3</label>
                                </div>
                            </section>
                            <section class="col-lg-2 col-md-2  pad-left0 events-radio">
                              <div class="radio-container">
                                  <input type="radio" name="AWSEvents" id="sqs" [value]="sqs" [checked]="eventExpression.type == 'sqs'" (click)="onAWSEventChange('sqs')">
                                  <label for="sqs"><span></span><span class="background"></span>SQS</label>
                              </div>
                            </section>
                        </div>
                        <div class="aws-event-fields rate-exp-wrp zero-margin" [ngClass]="{'zero-padding': eventExpression.type == 'none'}">
                            <div class="dynamodb-fields row zero-margin arrow_box hide" [class.show]="chkDynamodb()">
                                <div class="col-lg-3 padding-right-0">
                                    <div class="text">Event</div>
                                    <div class="slct-bx-wrp">
                                        <div class="slct-bx-selected disabled">PutItem</div>
                                    </div>
                                </div>
                                <div class="col-lg-9">
                                    <div class="text">Table ARN</div>
                                    <div class="label-input slct-bx-selected input-wrapper">
                                        <input type="text" disabled="disabled" class="inline-input input-label aws-events-left-block" value="{{dynamoStreamString}}">
                                        <input id="dynamoTable" name="dynamoTable" type="text" minlength="3" maxlength="{{eventMaxLength.table_name}}" #dynamoTable='ngModel' pattern="{{servicePatterns.tableName}}" [(ngModel)]="eventExpression.dynamoTable"  [focus]="focusDynamo" (blur)="validateEvents(eventExpression.dynamoTable)" (ngModelChange)="invalidEventName = false;" class="inline-input aws-events-right-block ng-touched ng-not-empty ng-dirty ng-valid-parse ng-valid ng-valid-required" placeholder="Table Name" >
                                  </div>
                                </div>
                                <p class="termsConditions error-message" *ngIf="((chkDynamodb()) && (!dynamoTable.valid && (dynamoTable.dirty || dynamoTable.touched)))">Table name must contain only letters, numbers, hyphens, underscores or periods. Enter atleast 3 characters</p>
                                <p class="termsConditions error-message" *ngIf="(chkDynamodb() && invalidEventName)">Table name Should not begin or end with special character.</p>
                                <p class="learn-more">Function would be triggered whenever a new entry is added to the table. Note that the DynamoDB table should exist already and Jazz creates a new stream for this table</p>
                            </div>

                            <div class="kinesis-fields row zero-margin arrow_box hide" [class.show]="chkfrKinesis()">
                                <div class="col-lg-3  padding-right-0">
                                    <div class="text">Event</div>
                                    <div class="slct-bx-wrp">
                                        <div class="slct-bx-selected disabled">PutRecord</div>
                                    </div>
                                </div>
                                <div class="col-lg-9">
                                    <div class="text">Stream ARN</div>
                                    <div class="label-input slct-bx-selected input-wrapper">
                                        <input type="text" disabled="disabled" class="inline-input input-label stream aws-events-left-block" value="{{kinesisStreamString}}">
                                        <input id="streamARN" name="streamARN" type="text" #streamARN="ngModel" maxlength="{{eventMaxLength.stream_name}}" pattern="{{servicePatterns.streamName}}" [(ngModel)]="eventExpression.streamARN" [focus]="focusKinesis" (blur)="validateEvents(eventExpression.streamARN)" (ngModelChange)="invalidEventName = false;" class="inline-input stream aws-events-right-block ng-touched ng-not-empty ng-dirty ng-valid-parse ng-valid ng-valid-required" placeholder="Stream Name" >
                                  </div>
                                </div>
                                <p class="termsConditions error-message" *ngIf="((chkfrKinesis()) && (!streamARN.valid && (streamARN.dirty || streamARN.touched)))">Stream name must contain only letters, numbers, hyphens, underscores or periods.</p>
                                <p class="termsConditions error-message" *ngIf="(chkfrKinesis() && invalidEventName)">Stream name Should not begin or end with special character.</p>
                                <p class="learn-more">Function would be triggered whenever the Lambda checkpoint has not reached the end of the Kinesis stream</p>
                            </div>

                            <div class="s3-fields row zero-margin arrow_box hide" [class.show]="chkS3()">
                                <div class="col-lg-3  padding-right-0">
                                    <div class="text">Event</div>
                                    <div class="slct-bx-wrp">
                                        <div class="slct-bx-selected disabled">PutItem</div>
                                    </div>
                                </div>
                                <div class="col-lg-9">
                                    <div class="text">Bucket ARN</div>
                                    <div class="label-input slct-bx-selected input-wrapper">
                                        <input id="S3BucketName" name="S3BucketName" type="text"  minlength="3" maxlength="{{eventMaxLength.bucket_name}}" pattern="{{servicePatterns.bucketName}}" #S3BucketName="ngModel" [(ngModel)]="eventExpression.S3BucketName" [focus]="focusS3" (blur)="validateEvents(eventExpression.S3BucketName)" (ngModelChange)="invalidEventName = false;" class="inline-input aws-events-left-block aw-events-s3 ng-touched ng-not-empty ng-dirty ng-valid-parse ng-valid ng-valid-required" placeholder="Bucket Name"  autofocus>
                                  </div>
                                </div>
                                <p class="termsConditions error-message" *ngIf="((chkS3()) && (!S3BucketName.valid && (S3BucketName.dirty || S3BucketName.touched)))">Bucket name must contain only lowercase letters, numbers or hyphens. Enter atleast 3 characters</p>
                                <p class="termsConditions error-message" *ngIf="(chkS3() && invalidEventName)">Bucket name Should not begin or end with special character.</p>

                                <p class="learn-more">Function would be triggered when an object is added or modified inside the bucket. Creating this lambda trigger will override any previously created triggers on this bucket for any ObjectCreated:*</p>
                            </div>

                            <div class="sqs-fields row zero-margin arrow_box hide" [class.show]="chkSQS()">

                              <div class="col-lg-12">
                                  <div class="text">Queue ARN</div>
                                  <div class="label-input slct-bx-selected input-wrapper">
                                      <input type="text" disabled="disabled" class="inline-input input-label stream-sqs aws-events-left-block" value="{{sqsStreamString}}">
                                      <input id="SQSstreamARN" name="SQSstreamARN" type="text" #SQSstreamARN="ngModel" [(ngModel)]="eventExpression.SQSstreamARN" pattern="{{servicePatterns.queueName}}" maxlength="{{eventMaxLength.queue_name}}" [focus]="focusSQS" (blur)="validateEvents(eventExpression.SQSstreamARN)" (ngModelChange)="invalidEventName = false;" class="inline-input stream aws-events-right-block aws-events-right-block-sqs ng-touched ng-not-empty ng-dirty ng-valid-parse ng-valid ng-valid-required" placeholder="Queue Name" >
                                  </div>
                                </div>
                                <p class="termsConditions error-message" *ngIf="((chkSQS()) && (!SQSstreamARN.valid && (SQSstreamARN.dirty || SQSstreamARN.touched)))">Queue name must contain only letters, numbers, hyphens or underscores.</p>
                                <p class="termsConditions error-message" *ngIf="(chkSQS() && invalidEventName)">Queue name Should not begin or end with special character.</p>
                                <p class="learn-more">Function would be triggered whenever new messages are added to the source SQS queue</p>
                              </div>

                        </div>
                    </div>
                </div>
            </section>
            <!-- end of aws events -->
            <section class="each-step-wrap cloudfront-url" *ngIf="typeOfService == 'website'">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <p class="step-title">CDN configuration</p>
                        <p class="step-details hide">Donec facilisis tortor ut augue lacinia, at viverra est semper. Sed sapien metus, scelerisque nec pharetra id.</p>
                    </div>
                    <div class="col-lg-8 col-md-8">
                        <section class="col-lg-12  pad-left0">
                            <div class="input-field-container">
                                <div class="slack-checkbox custom-cb disable-event">
                                    <input disabled type="checkbox" id="checkbox-cdnconfig" class="ng-untouched ng-valid ng-dirty ng-valid-parse" aria-invalid="false" [checked]="true" (change)="cdnConfigSelected = !cdnConfigSelected"><!--[checked]="cdnConfigSelected" -->
                                    <label for="checkbox-cdnconfig" class="disble"></label>
                                    <div class="cb-status-dets">Do you need CDN configured for your website?</div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </section>
            <p class="requiredInfo"><span>*</span>Indicates required fields</p>
            <section class="submit-form">
                <button type="submit" [disabled]="!serviceForm.valid || (disableForm())" class="btn btn-primary">SUBMIT</button>
            </section>
        </form>
    </div>
    <div *ngIf='serviceRequested'>
        <section class="success-screen" *ngIf='serviceRequestSuccess'>
            <img src="../assets/images/create-success.png">
            <p class="success-text">SUCCESS!</p>
            <section >
                    <p class="refer">{{resMessage}}<a (click)="closeCreateService(serviceRequestSuccess)">here</a>.</p>
                </section>
                <section >
                    <p class="refer">You can find more details on next steps <a  target="_blank" href="{{docs_link}}">here</a>.</p>

                </section>
            <section class="footer-btn">
                <btn-jazz-primary text="DONE" newclass="back-btn" (click)="closeCreateService(serviceRequestSuccess)"></btn-jazz-primary>
            </section>
        </section>
        <section class="error-screen" *ngIf='serviceRequestFailure'>
            <img src="../assets/images/refresh.png">
            <p class="error-text">Oops!</p>
            <section>
                <p class="refer">{{errMessage}}</p>
                <p class="refer">If the issue persists, please contact us </p>
            </section>
            <section class="footer-btn">
                <btn-jazz-primary text="BACK" newclass="back-btn" (click)="backToCreateService()"></btn-jazz-primary>
            </section>
        </section>
    </div>
</div>
