// Filter css fixes as per VD
@import './../../../main-styles';
@import './../service-detail/service-detail.component.scss';
.section-top {
  padding: 10px 5px;
}

.page-section {
  margin: 0;
  margin-bottom: 1.5rem;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
  padding: 2rem;
}

.filter-wrap {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  font-size: 1rem;
  color: #000;
  border-radius: 5px;
  z-index: $zindex-dropdown;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #ddd;
  .filter-inner-wrap {
    padding: 1rem;
  }
  .icon-icon-filter-unselected {
    position: absolute;
    right: 0;
    top: 0;
  }
  .eachFilter {
    border-bottom: 1px solid #aaa;
    padding-bottom: 2rem;
    font-weight: 900;
    div {
      line-height: 3.5rem;
    }
    &:last-child {
      border-bottom: none;
      padding: 0;
    }
  } // .eachFilter{
  //     border-bottom: 1px solid #aaa;
  //     padding-top: 1.5rem;
  //     font-weight: 500;
  //     div
  //     {
  //         // line-height: 2.5rem;
  //         font-weight: bold;
  //     }
  //     &:last-child{
  //         border-bottom:none;
  //         // padding:0;
  //     }
  // }
  .dropdown-3 {
    // margin:1rem 0
  }
}

.filter-wrap.show {
  height: auto;
}

filter-tags {
  .row {
    padding: 0 0 !important;
  }
}

.refresh {
  // margin-top:7px;
  order: 3;
  font-weight: bold;
  font-size: 18px;
  align-self: center;
  margin: 0 0.5rem
}

.filter-wrp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  dropdown {
    display: block;
    margin-left: auto; // float: right;
    height: 32px;
    /deep/.dropdown {
      min-width: 11rem;
    }
    /deep/.dropdown-btn {
      height: 32px;
    }
    /deep/ .dropdown-menu>li>a {
      padding: 3px 12px;
    }
  }
}

.eachFilter {
  dropdown {
    /deep/.dropdown {
      min-width: 17rem;
    }
  }
}

.filter-icon {
  order: 2;
}

.drp-wrp {
  display: flex;
  justify-content: space-between;
  width: 10rem;
}

.logs-tabl {
  /deep/.table-header {
    .column {
      &:nth-child(3) {
        direction: ltr;
      }
    }
  }
}

.dropdown-3 /deep/ .dropdown {
  margin-bottom: 1rem;
}

.in-logs {
  margin-top: 1rem;
}

.table-container {
  padding-top: 2rem;
}

.log-table-container {
  .column,
  /deep/ .column {
    &:nth-child(1) {
      width: 18rem;
    }
    &:nth-child(2) {
      width: 50%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      @media(max-width: $screen-sm) {
        display: none;
      }
      @media(max-width: $screen-md) {
        display: none;
      }
    }
    &:nth-child(3) {
      width: 15%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      direction: rtl;
      text-align: left;
      @media(max-width: $screen-sm) {
        display: none;
      }
      @media(max-width: $screen-md) {
        display: none;
      }
    }
    &:nth-child(4) {
      width: 8rem;
    }
  }
}

.log-table-container /deep/ .table-body {
  .column,
  /deep/ .column {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

search-box {
  display: inline-block;
  margin-left: auto;
}

.search-filter-wrap {
  margin-left: auto;
  @media(max-width: $screen-md) {
    padding-top: 1rem;
  }
}

.mask-wrp {
  position: absolute;
  height: calc(100% - 20%);
  width: 100%;
  background-color: #343f4b;
  z-index: 1;
  top: 20%;
  opacity: 0.9;
  text-align: center;
  img {
    width: 20rem;
    margin: 5rem auto 2rem;
  }
  div {
    margin: 0 auto;
    color: #fff;
    font-size: 1.1rem;
    line-height: 1.6;
  }
  a {
    text-decoration: underline;
    cursor: pointer;
  }
}

.expandbtn {
  cursor: pointer;
  margin: 0 0.5rem 0 1.5rem;
  order: 1;
  font-size: 18px;
  align-self: center;
  font-weight: bold;
}

.view-label {
  color: #666
}

.hori-line {
  display: inline-block;
  height: 2px;
  width: 10px;
  background: #000;
  margin: 3px 6px 3px 0;
  border-radius: 5px;
}

filter-tags {
  /deep/.eachTag:first-child {
    margin-left: 15px;
  }
  /deep/.row {
    margin-top: 0.6rem;
    padding: 0 0rem;
  }
}

.slider-wrap {
  padding-bottom: 1.5rem;
}

// /deep/.filter-inner-wrap{
//     &:first-child{
//         display: none;
//     }
// }
.filter-row {
  display: block;
}

.template-wrp {
  order: 3;
}

#hidethis {
  padding-top: 6px;
}

.icon-icon-filter-unselected-font {
  font-size: 1.5rem;
}
