<div>
    <div class="view-hdr-wrp">
        <jazz-header class="hide-for-mobile"></jazz-header>
    </div>
    <div class="view-container" [class.translate-for-mob]="mobSecState == 2">
        <div class="services-content-wrp">
                <!-- <span  class="reduxC" *ngIf='service.status == "deletion completed"'></span>
                <span  class="reduxS" *ngIf='service.status == "deletion started"'></span> -->
            <router-outlet></router-outlet>
        </div>
    </div>
    
    <mobile-secondary-tab (mobSecClicked)='changeActivity($event)' [tabList]='mobTabData'></mobile-secondary-tab>
</div>

