@import './../../../main-styles';
.access-control-wrap {
  background-color: #fff;
  padding: 2rem 3rem 0 3rem;
  margin-top: 2.5rem;
  box-shadow: 0 2px 4px 0 rgba(180, 180, 211, 0.4);
  border-radius: 3px;
  .each-step-wrap {
    padding: 30px 0 20px 0;
    &.header-sec {
      padding: 0;
      width: 100%;
    }
  }
}

.groups-input {
  display: inline-block;
  width: 40%;
}

.group-status {
  width: 6rem;
  display: inline-block;
  text-align: center;
}

.groups-wrap {
  display: flex;
  margin-bottom: -4px;
  input[type="radio"] {
    margin: .8rem 0 0;
  }
}

.delete-grp {
  position: relative;
  padding: 0 2.5rem;
  span {
    position: absolute;
    bottom: 0;
    bottom: 2.6rem;
    font-size: 1.33rem;
    cursor: pointer;
  }
  &.read-only {
    span {
      //bottom: 1rem;
    }
  }
}

.header-sec {
  padding: 0;
  display: flex;
  h1 {
    display: inline-block;
    font-size: 1.5rem;
    margin: 0;
    padding: .85rem 0 1.25rem 0;
    font-weight: 500;
    width: calc(100% - 10.5rem);
    vertical-align: middle;
  }
}

.no-border {
  border-bottom: none;
}

.access-control-wrap {
  /deep/ btn-jazz-primary button.btn {
    float: right;
    padding: .66rem 1.25rem;
    font-size: 1rem;
    font-weight: 700;
  }
}

.toggle-class {
  opacity: 1;
  transition: opacity linear 0.5s;
}

.toggle-class {
  &.disabled {
    opacity: .3;
    pointer-events: none;
  }
}

.add-group {
  display: inline-block;
  padding-top: .85rem;
  cursor: pointer;
  color: #ed008c;
  font-size: 1.15rem;
  span {
    transform: rotate(45deg) translateY(-3px);
    display: inline-block;
    font-size: .7rem;
    margin-right: .6rem;
  }
}

.access-checkbox.custom-cb {
  margin-bottom: 1rem;
}

[hidden] {
  display: none !important;
}

/*approvers related styles*/

.typeShow.open {
  max-height: 12.5rem;
  overflow-x: hidden;
  overflow-y: scroll;
}

.typeShow {
  z-index: 10;
  position: absolute; // top: 0;
  background: #fff;
  width: 100%;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 2px;
  margin-bottom: 3rem;
  -webkit-transition: max-height linear .2s;
  -moz-transition: max-height linear .2s;
  -o-transition: max-height linear .2s;
  transition: max-height linear .2s;
}

.approvers-dets {
  height: 3rem;
  line-height: 3rem;
  padding: 0 .85rem;
  font-size: 1.25rem;
  &:hover {
    background-color: #ed008c;
    color: #fff;
  }
}

input[readonly] {
  // opacity: .7;
  font-weight: bold;
  color: #a9a9a9;
}

input[type="text"] {
  font-weight: bold;
}

.step-title {
  font-size: 1.15rem;
  padding: 0px 0px 5px 10px;
}

.cb-status-dets {
  font-weight: bold;
  font-size: 1.15rem;
}

.deployment-access.each-step-wrap {
  border-bottom: none;
}

.radio-container label {
  margin-top: 10px;
  padding: 0;
}

.mask-wrp {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #343f4b;
  opacity: 0.9;
  z-index: 1;
  background-image: url("/assets/images/mask-image.png");
  background-repeat: no-repeat;
  background-size: 20rem auto;
  background-position: center;
}

.icon-icon-close {
  color: #ed008c;
}

.manage-wrapper{
  background-color: #ed008c;
  width: inherit;
}

.textForm{
  width: 100%;
}

.radio-button-wrapper{
  padding-top: 6px;
  background-color: #F3F2F3;
  height: 54px;
  border-radius: 0px 8px 8px 0px;
}
.input-wrapper{
  padding: 7px;
  background-color: #F3F2F3;
  border-radius: 8px 0px 0px 8px;
}
.border-wrapper{
  border-radius: 8px 8px 8px 8px;
}
.custom-save-btn-wrap{
  display: flex;
  flex-direction: row-reverse;
  width: 50%;
  align-items: center;
  padding-bottom: 10px
}
.cancel-wrapper{
  margin-right: 20px;
  cursor: pointer;
}
.usertype{
  font-style: italic;
  color: #BAAAB1;
  padding-left: 5px;
}
.step-title-edit{
  font-size: 15px;
}
.access-label{
  
}
.step-title-head{
  padding: 0px 0px 16px 0px;
}