@import './../../../main-styles';
.create-service-wrap {
    background-color: white;
    max-width: 980px;
    width: 100vw;
    padding: 0 3.5rem;
    height: 100%;
    overflow: auto;
    @media(max-width: 853px) {
        padding: 0 1.5rem;
    }
}

.termsConditions {
    padding: 5px 0;
    margin: 0;
    font-size: 1rem;
}

.create-service-wrap .bold-title {
    padding: 1.33rem 0;
}
.service-box-section{
    padding-bottom: 15px;
    min-width: 150px;
    float: none;
    display: inline-block;

    @media(min-width: 992px) {
        padding-bottom: 20px;
        min-width: 167px;
    }
    .service-box:focus{
        outline: none !important;

        border-color:#ed008c;

    }
}
.type-of-platform, .type-of-service{
    padding-bottom: 0;
}
.service-box {
    border-radius: 5px;
    border: solid 1px #cccccc;
    text-align: center;
    padding: 2rem 0;
    cursor: pointer;
    min-height: 120px;
    &.disabled-box {
        cursor: default;
    }
    &.disabled-box:focus{
      border-color: #cccccc !important;
    }
}

.service-box img {
    height: 3.33rem;
    width: 88%;
    max-width: 70px;
}

.service-box p {
    padding-top: 1rem;
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.7px;
    color: #cccccc;
}

.service-box-selected p {
    color: #ed008c;
}

.service-box.service-box-selected {
    border: solid 2px #ed008c !important;
}

.service-box {
    .icon-icon-api,
    .icon-icon-lambda,
    .icon-icon-web,
    .icon-logo-aws,
    .icon-logo-azure,
    .icon-logo-googleCloud,
    .icon-logo-docker{
        font-size: 40px;
        color: #ccc;
    }
    &.service-box-selected {
        .icon-icon-api,
        .icon-icon-lambda,
        .icon-icon-web {
            color: #ed008c;
        }
    }
}
.service-box .icon-logo-aws,
.service-box .icon-logo-azure,
.service-box .icon-logo-googleCloud,
.service-box .icon-logo-docker{
    position: relative;
    span{
        position: absolute;
    }
    span:first-child{
        position: relative;
    }
}
.service-box .icon-logo-azure,
.service-box .icon-logo-googleCloud,
.service-box .icon-logo-docker{
    span:before{
        color: #ccc !important;
    }
}
.service-box {
    .icon-icon-api,
    .icon-icon-function,
    .icon-icon-azure-functions,
    .icon-icon-web,
    .icon-icon-AWS,
    .icon-icon-azure,
    .icon-icon-googlecloud,
    .icon-icon-ccp{
        font-size: 40px;
        color: #ccc;
        span{
            font-size: 40px;
            color: #ccc !important;
        }
    }
    &.service-box-selected {
        .icon-icon-api,
        .icon-icon-function,
        .icon-icon-web {
            color: #ed008c;
        }
        .icon-icon-azure{
            color:#0078d7;
        }
    }
}
.service-box .icon-icon-AWS,
.service-box .icon-icon-azure,
.service-box .icon-icon-googlecloud,
.service-box .icon-icon-ccp{
    position: relative;
    span{
        position: absolute;
    }
    span:first-child{
        position: relative;
    }
}
.service-box .icon-icon-azure,
.service-box .icon-icon-googlecloud,
.service-box .icon-icon-ccp{ 
    span:before{
        color: #ccc !important;
    }
}

/*checkbox related styles*/

.custom-cb {
    position: relative;
    margin-bottom: .85rem;
    display: flex;
}



.custom-cb label {
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: 0;
    background: transparent;
    left: 0;
    border: 1px solid;
}

.custom-cb label:after {
    content: '';
    width: 1.066rem;
    height: .5rem;
    position: absolute;
    top: .75rem;
    left: 1px;
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: left top;
    transform-origin: left top;
}

.custom-cb label:hover::after {
    opacity: 0.3;
}

.custom-cb input[type=checkbox] {
    opacity: 0;
}

.custom-cb input[type=checkbox]:checked + label {
    opacity: 1;
    background: #ed0295;
    border: 1px solid #ed0295;
}

.custom-cb input[type=checkbox]:checked + label:after {
    opacity: 1;
    -webkit-animation: check 0.28s;
    animation: check 0.28s;
}

.cb-status-dets {
    display: inline-block;
    line-height: 1.5rem;
    vertical-align: top;
    font-size: 1rem;
    padding-left: 1rem;
    margin-top: 1px;
    max-width: 92%;
}

@-webkit-keyframes check {
    0% {
        height: 0;
        width: 0;
    }
    40% {
        height: .5rem;
        width: 0;
    }
    50% {
        height: .5rem;
        width: 1.066rem;
    }
}

@keyframes check {
    0% {
        height: 0;
        width: 0;
    }
    40% {
        height: .5rem;
        width: 0;
    }
    50% {
        height: .5rem;
        width: 1.066rem;
    }
}

.input-field-container {
    position: relative;
}

.form-error {
    color: #d0021b;
    margin-left: 1.25rem;
    font-size: 1rem;
}

.zero-padding {
    padding: 0 !important;
    background-color: transparent !important;
}
.arrow_box {
	position: relative;
}
.arrow_box:after {
	bottom: 100%;
	left: 0;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(243, 243, 243, 0);
	border-bottom-color: lightgray;
	border-width: 25px;
	margin-left: -20px;
}

.cron-fields {
    &.row {
        margin-left: 10px;
        margin-right: 10px;
        padding: 0 10px;
    }
    .col-lg-2 {
        padding-left: 5px;
        padding-right: 5px;
    }
    &.arrow_box:after{
        left:50%;
        margin-left: -7px;
    }
}
.rate-field.arrow_box:after{
    left:25%;
    margin-left: -12px;
}
.dynamodb-fields.arrow_box:after{
    left:25%;
    margin-left: -12px;
    margin-bottom: -15px;
}
.kinesis-fields.arrow_box:after{
    left:50%;
    margin-left: -7px;
    margin-bottom: -15px;
}
.s3-fields.arrow_box:after{
    left:75%;
    margin-left: -3px;
    margin-bottom: -15px;
}

.submit-form {
    padding: 3rem 0 7rem 0;
    text-align: center;
    @media(max-width: 853px) {
        position: fixed;
        bottom: 0;
        padding: 2rem 0;
        left: 0;
        right: 0;
        background: #fff;
        box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.28);
    }
    a {
        display: block;
        padding-top: 1.25rem;
        cursor: pointer;
    }
    button.btn-primary {
        border-radius: 30px;
        padding: 7px 16px;
        letter-spacing: .7px;
        background-color: #ed008c;
        border: 1px solid #ed008c;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
        font-size: 16px;
        font-weight: 700;
        &:focus {
            outline: 0px;
        }
        &:hover {
            outline: 0px;
        }
    }
}


/*approvers related styles*/

.typeShow.open {
    max-height: 12.5rem;
    overflow-x: hidden;
    overflow-y: scroll;
}

.typeShow {
    z-index: 10;
    position: absolute;
    top: 0;
    background: #fff;
    width: 100%;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin-bottom: 3rem;
    -webkit-transition: max-height linear .2s;
    -moz-transition: max-height linear .2s;
    -o-transition: max-height linear .2s;
    transition: max-height linear .2s;
}

.approvers-dets {
    height: 2.9rem;
    line-height: 2.9rem;
    padding: 0 .8333rem;
    font-size: 1.25rem;
    &:hover {
        background-color: #ed008c;
        color: #fff;
    }
}

.disable-event {
    pointer-events: none;
    input[type="radio"] + label {
        opacity: 0.3;
    }
    input[type="checkbox"] + label + div {
        color: #ddd;
        border-color: #ddd;
    }
    /deep/input[type="checkbox"] label{
                border-color: #dddd;

    }
}

.learn-more {
    margin-bottom: 0;
    font-size: 1rem;
}

.event-schedule-fields, .aws-event-fields .row{
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    background-color: lightgray;
    margin-left: 15px;
}

.zero-margin.row {
    margin-left: 0;
    margin-right: 0;
}

.event-schedule-radio {
    margin-bottom: .833rem;
}

/deep/ .event-schedule dropdown .dropdown {
    .btn {
        width: 100%;
        height: 3.333rem;
        border: 1px solid #ccc;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        transition: border linear .2s, box-shadow linear .2s;
    }
    .dropdown-menu {
        width: 100%;
    }
}

.sm-input-label {
    margin-bottom: 0;
    font-size: 1rem;
}

.selected-approvers {
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border linear .2s, box-shadow linear .2s;
    height: auto;
    ul {
        padding-left: 0;
        margin-bottom: 0;
    }
    li {
        list-style-type: none;
        border: 1px solid #d9d9d9;
        display: inline-block;
        height: 26px;
        border-radius: 50px;
        margin-top: 6px;
        margin-left: 4px;
        font-size: 12px;
        line-height: 28px;
        height: 28px;
        cursor: pointer;
        padding: 0 28px 0 10px;
        position: relative;
        &:hover {
            border: 1px solid #ed0295;
        }
        img {
            position: absolute;
            width: 10px;
            top: 8px;
            right: 10px;
        }
    }
    input {
        display: inline-block;
        width: auto;
        box-shadow: none;
        border: none;
        margin-bottom: 0;
        margin-top: 0;
        height: 2.75rem;
        &:focus{
            outline: none !important;
        }
    }
}

.approvers {
    .input-field-container {
        .step-title {
            padding-top: 0px;
            img {
                width: 14px;
                margin-top: -3px;
                margin-left: 3px;
            }
        }
    }
}
.step-title span{
    color: #ed0295;
}

.approvers-list-wrap {
    position: relative;
}
.input-wrapper input[type="text"], 
.input-wrapper input[type="number"]{
    margin-bottom: 0;
}
.input-wrapper .input-loader {
    animation-name: rotate;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    height: 2rem;
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(0.7);
    margin: 0.666rem 1rem;
}
.input-wrapper textarea{
    padding: 10px 10px;
    max-width: 100%;
    height: auto;
}

.success-screen {
    text-align: center;
    padding-top: 5.8333rem;
    width: 60%;
    margin: auto;
    @media(max-width: 853px) {
        padding-top: 25vh;
    }
    img{
        width:150px;
    }
    p {
        margin: 0;
        padding: 1.25rem 0;
    }
    .success-text {
        font-weight: 900;
        font-size: 2rem;
        color: #5cae01;
    }
    section {
        padding: 1.25rem 0;
        p {
            font-size: 1.5rem;
            color: #000;
            margin: 0;
            padding: 0;
        }
        a {
            font-size: 1.5rem;
            word-wrap: break-word;
            padding-top: .5rem;
            display: inline;
            cursor: pointer;
        }
        &.footer-btn {
            padding-top: 4.16rem;
            /deep/ .back-btn{
                height:3.5rem;
                width:10rem;
            }
        }
    }
}

.error-screen {
    text-align: center;
    padding-top: 5.8333rem;
    width: 60%;
    margin: auto;
    @media(max-width: 853px) {
        padding-top: 25vh;
    }
    img{
        width:150px;
    }
    p {
        margin: 0;
        padding: 1.25rem 0;
    }
    .error-text {
        font-weight: 900;
        font-size: 2rem;
        color: #d0021b;
    }
    section {
        padding: 1.25rem 0;
        p {
            font-size: 1.5rem;
            color: #000;
            margin: 0;
            padding: 0;
        }
        a {
            font-size: 1.5rem;
            word-wrap: break-word;
            padding-top: 5px;
            display: block;
        }
        &.footer-btn {
            padding-top: 4.16rem;
            a {
                font-size: 1.33rem;
                padding-top: 1.25rem;
            }
            /deep/ .back-btn{
                height:3.5rem;
                width:10rem;
            }
        }
    }
}

.create-service-header {
    position: relative;
    .icon-icon-close {
        position: absolute;
        top: 2rem;
        right: 0;
        width: 1.25rem;
        cursor: pointer;
        color: #ed008c;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.btn[disabled] {
    opacity: .5;
}

.pad-left0 {
    @media(max-width: 992px) {
        padding-left: 0px;
    }
}

.pad-for-mobile {
    @media(max-width: 853px) {
        padding-top: 8vh;
    }
}

.mob-form-pad {
    @media(max-width: 853px) {
        padding-bottom: 7rem;
    }
}

.loader-wrp {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(54, 69, 85, 0.9);
    z-index: 2;
}
.aws-events-fxd-blk {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
}
.aws-events-left-block{
    border: 1px solid #ccc;
    border-right: 0;
    float: left;
    width: 315px;
    padding-right: 0 !important;
    border-radius: 2px 0 0 2px !important;
}
.aws-events-left-block.stream{
    width: 300px;
}
.aws-events-right-block{
    border: 1px solid #ccc;
    border-left: 0;
    float: left;
    width: calc(100% - 315px);
    border-radius: 0 2px 2px 0 !important;
    padding-left: 0 !important;
}
.aws-events-right-block.stream{
    width: calc(100% - 300px);
}
p.learn-more {
    padding: 0 15px;
}
.slct-bx-wrp{
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #ccc;
    height: 40px;
    line-height: 40px;
    background: #fff;
    padding: 0 10px;
    border-radius: 2px;
}

.slct-bx-selected.disabled {
    color: #999;
    cursor: default;
    font-size: 14px;
}
.aws-event-fields .text {
    margin-bottom: 10px;
}
.slct-bx-selected input {
    font-size: 13px !important;
}
.body-fix{
    margin: 0;
    height: 100%;
    overflow: hidden;
}
.body-auto{

}
.requiredInfo{
    padding:20px 0;
    font-weight: bold;
    color: #222222;
    font-size: 12px;
    span{
        color: #ed0295;
    }
}

.pinkfocus
{
    background-color: #ed008c;
    color: #fff;
}
.each-step-wrap{
    /deep/ input[type="radio"] + label{
        margin-left:-15px;
    }
}
.padding-right-0{
    padding-right:0;
}

.disble{
    border-color: #ddd !important;   
    opacity: 0.5 !important; 
}
