<div class="table-container">
    <table class="table-inner-container">
        <thead>
            <tr>
                <th *ngFor="let headers of tableHeader; let i = index " (click)="sortColumn(headers)">
                    {{headers.name}}
                    <div class="arrow-wrap" [ngClass]="{'sort-down': headers._reverse == true, 'sort-up': headers._reverse == false}">
                        <div class="upper-arrow"></div>
                        <div class="lower-arrow"></div>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="filter-row" [class.open]="showFilterHeader">
                <td *ngFor="let headers of tableHeader;let i=index">
                    <dropdown *ngIf="i == 5" [dropdwnContent]="rateData" [selected]="selectedtab" [statusFilter]="statusFilter" (onSelected)="onSelectedDr($event,headers)"></dropdown>
                    <div class="datepicker-wrap" *ngIf="i == 3">
                        <daterange-picker [range]="headers.range" (onChange)="onServiceChange()"></daterange-picker>
                        <span class="icon-icon-calendar2"></span>
                    </div>
                    <div class="input-wrapper" *ngIf="i == 0">
                        <input name="nameSearch" type="text" class="textForm" placeholder="Service name" id="name-search" [(ngModel)]="serviceName" (ngModelChange)="onServiceChange()">
                    </div>
                    <div *ngIf="i == 2" class="domain-input-dropdown">
                        <div class="input-wrapper">
                            <input name="domainSearch" type="text" class="textForm" placeholder="Namespace" id="domain-search" [(ngModel)]="DomainName" (ngModelChange)="onServiceChange()">
                        </div>
                    </div>
                </td>
            </tr>
            <ng-container *ngFor="let service of serviceList">
                <tr (click)="onRowClicked(service)" [ngClass]="{'disable-event': service.status == 'Deleting', 'hide':state!='default'}">
                    <td *ngFor="let headers of tableHeader">
                        <span *ngIf="headers.field != 'health' && headers.field != 'status'">{{service[headers.field]}}</span>
                        <!-- <div *ngIf="headers.field == 'health'" [ngClass]="{'pending-service': service.health <= 1, 'active-service': service.health == 2}" class="status-indicator pending-service"></div> -->
                        <div *ngIf="headers.field == 'status'" [ngClass]="{'pending-service-text': service.health <= 1, 'active-service-text': service.health == 2}">{{service.status}}<span class="for-deleting">...</span></div>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
    <div class="table-notification">
        <div class="loading-row" [class.show]="state=='loading'">
            <div class="loading-circle"></div>
            <div class="loading-text">Loading Data...</div>
        </div>
        <!-- <div class="error-row" [class.show]="state=='error'">
            <div>Error Loading Data!!</div>
        </div> -->
        <div class="empty-row" [class.show]="state=='empty'">
            <div>No Data Available</div>
            <div></div>
        </div>
    </div>
</div>
