.json-viewer-root {
  margin: 0 calc(1.5em);
}

.json-viewer-row {
  padding: 5px 0 5px 5px;
  border-top: 1px solid #ddd;
  &:first-child {
    border-top: none;
  }
  &:last-child {
    padding-bottom: 0;
  }
}

.json-viewer-element {
  position: relative;
  &.primitive {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
}

.json-viewer-list {
  padding-left: 25px;
  overflow: hidden;
  &.collapsed {
    display: none;
  }
}


.json-header {
  display: inline-block;
  color: #ed008c;
  font-weight: 800;
  font-size: 16px;
}

.json-collapsed{
  color: #a7a7a7;
  display: inline-block;

}

.json-value {
  font-size: 14px;
  font-weight: 700;
}

.collapse-arrow {
  font-size: 10px;
  position: absolute;
  top: 3px;
  right: calc(100% + .8em + 5px);
  transition: transform 200ms ease-in-out;
}

.arrow {
  border: solid #ed008c;
  border-width: 0 calc(1em/3) calc(1em/3) 0;
  display: inline-block;
  padding: calc(1em/3);
  &.right {
    transform: rotate(-45deg);
  }
  &.left {
    transform: rotate(135deg)
  }
  &.up {
    transform: rotate(-135deg);
  }
  &.down {
    transform: rotate(45deg);
  }
}

.pointer{
  cursor: pointer;
}
