.row {
  padding: 0 1rem;
}

.eachTag {
  display: inline-block;
  padding: 0.2rem 1rem;
  text-transform: uppercase;
  font-size: 11px;
  border: 1px solid #aaa;
  cursor: pointer; // text-transform:capitalize;
  border-radius: 1.5rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  &:first-child {
    // margin-left: 1.8rem;
  }
  &:hover {
    border: 1px solid #ed008c;
  }
  /deep/.icon-icon-close {
    position: relative !important;
    top: 2px !important;
    font-size: 1rem;
    color: #ed008c;
    margin-left: 1rem;
    &:hover {
      opacity: 0.8;
    }
  }
}

a {
  color: #ed008c;
  cursor: pointer;
}

.clr-all {
  font-size: 12px;
}
