<div class='recent-acts' [class.show-act]='actState==2'>
    <jazz-mob-header [hideBack]='true' class='show-for-mobile' [icon]="'notification'" [headText]="'Activity'" [status]="'none'"></jazz-mob-header>
    <section class='recent-acts-mob'>
        <div>
            <h4 class="section-header">Recent activity</h4>
            <div class="mask-wrap"></div>
            <div class="recent-act-box" *ngFor="let data of inputData">
                <img src="{{data.path}}">
                <p class="activity-header">{{data.title}}</p>
                <p class="activity-details">{{data.details}}</p>
                <p class="activity-time">{{data.time}}</p>
            </div>
        </div>
    </section>
</div>
