@import './../../../main-styles';
@import './../service-detail/service-detail.component.scss';
@import './../../secondary-components/create-service/create-service.component.scss';
.left-item {
  margin-right: 1rem;
  @media (max-width: $screen-sm) {
    margin-right: 0rem;
  }
}

.right-item {
  margin-left: 1rem;
  @media (max-width: $screen-sm) {
    margin-left: 0rem;
  }
}

.det-value-input {
  width: 70%;
  border: none;
  border-bottom: 1px solid #ccc;
  height: 20px !important;
  margin: 0 !important;
  text-overflow: ellipsis;
  padding: 0 !important;
}

.det-value-div {
  // width: 70%;
  // border: none;
  border-bottom: 1px solid #ccc; // height: 20px !important;
  margin: 0;
  text-overflow: ellipsis;
  min-width: 24.2rem;
}

.det-value-div-right {
  min-width: 28.1rem;
}

.selected-approvers {
  border: none;
  box-shadow: none;
  li {
    &:nth-child(1) {
      margin-left: 0px !important;
    }
    background:#ed008c;
    color:white;
    list-style-type: none;
    border: 1px solid #d9d9d9;
    display: inline-block;
    /* height: 26px; */
    border-radius: 50px;
    margin-top: 0px !important;
    margin-left: 4px;
    margin-bottom: 2px;
    font-size: 12px;
    line-height: normal;
    height: auto;
    cursor: pointer;
    padding: 2px 28px 2px 10px;
    position: relative;
    /deep/.icon-icon-close {
      position: absolute;
      width: 10px;
      top: 2px !important;
      right: 10px;
      color: white;
      &:before {
        color: white;
        font-size: 0.8rem
      }
    }
  }
  input {
    height: 2rem;
  }
}

.det-value-input-txtarea {
  width: 70%;
  border: none;
  border: 1px solid #ccc;
  height: 70px;
}

.hideEdit {
  pointer-events: none;
  cursor: not-allowed;
}

.det-value-input-txtarea:focus {
  outline: none;
}

.section-right li:nth-child(2) .det-value {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.stage-wrp {
  border-radius: 3px;
  width: 50%;
  position: relative;
  background: #fff; // margin:1rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
  cursor: pointer;
  @media (max-width: 1056px) {
    width: 48%;
  }
  @media (max-width: $screen-sm) {
    margin-right: 0rem;
    margin-bottom: 2rem;
    width: 100%;
  }
}

.service-overview-wrp {
  display: flex;
  flex-direction: row;
  @media(max-width: $screen-sm) {
    flex-direction: column;
  } // border-radius: 3px;
  // margin: 0;
  // padding: 0 1.6rem;
  // background-color: #ffffff;
  // box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
}

.service-overview {
  margin: 2rem 0;
}

.overview-item {
  width: 33%;
}

.overview-value {
  color: #000000;
}

.overview-label {
  margin-top: 1rem;
  color: #000000;
}

.bottom-right {
  width: 40%;
}

.gradeA {
  background-color: #5cae01;
  border-radius: 50%;
  color: white;
  width: 35px;
  height: 35px;
  font-size: 2.2rem;
}

.gradeC {
  background-color: #F5A623;
  border-radius: 50%;
  color: white;
  width: 35px;
  height: 35px;
  font-size: 2.2rem;
}

.bad-value {
  color: #d0021b;
}

.good-value {
  color: #5dae02;
}

.overview-value span {
  font-size: 1rem;
  margin-top: 1rem;
  margin-left: 0.2rem;
}

.time {
  color: #ed008c;
}

.desc {
  width: 70%;
}

.empty-row {
  padding: 1rem 5px;
  font-weight: 500;
  font-size: 14px;
}

.loading-row {
  position: relative !important;
  background: none;
}

.endp-cover {
  display: inline-flex;
  margin-right: 0.5rem;
  background: #eee;
  border: 1px solid #ccc; // padding: 2px 7px;
  border-radius: 4px;
  div {
    padding: 2px 7px;
  }
  div:first-child {
    border-right: 1px solid #ccc;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
    max-width: 14rem;
  }
  div:nth-child(2) {
    color: #ed008c;
    cursor: pointer;
  }
}

.input-copy {
  opacity: 0;
  position: absolute;
}

/deep/.separator-row {
  margin: 1rem 0 !important;
}

.popupcopy .tooltip-content {
  visibility: hidden;
  width: 185px;
  background-color: #D5D7D9;
  color: #4a4a4a;
  text-align: center;
  border-radius: 6px;
  padding: 8px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 0%;
  margin-left: -75px;
  font-size: 12px;
}

.popupcopy .tooltip-content::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #D5D7D9 transparent transparent transparent;
}

.popupcopy:hover .tooltip-content {
  visibility: visible;
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2s;
}

.api-btn {
  display: flex;
  justify-content: space-between;
}

.popup-endp {
  visibility: hidden;
  position: absolute;
  background: #D5D7D9;
  padding: 3px 7px;
  border-radius: 3px;
  margin-top: 1rem; // &:after{
  //     position: absolute;
  //     top: -64%;
  //     left: 29%;
  //     border-width: 8px;
  //     transform: rotate(180deg);
  //     border-style: solid;
  //     border-color: #D5D7D9 transparent transparent transparent;
  // }
}

.det-value .popup-endp::after {
  content: "";
  position: absolute;
  top: -60%;
  left: 29%;
  border-width: 8px;
  transform: rotate(180deg);
  border-style: solid;
  border-color: #D5D7D9 transparent transparent transparent;
}

.endp-visible {
  visibility: visible;
  transition: 1s all;
}

.endpoint {
  padding-top: 0.5rem;
  span {
    padding-right: 5rem;
    a {
      color: #1495c1;
    }
  }
}

.bottom-10 {
  margin-bottom: 1.5rem !important;
  padding: 1.6rem 1.6rem 0.8rem 1.6rem;
}

.det-wrp {
  display: flex;
}

.endpoint-url {
  width: 70%;
  color: #1495bb !important;
  img {
    width: 25px;
    height: 25px; // background-color: #ed008c;
    border-radius: 50%;
    padding: 3px;
    cursor: pointer;
    margin: 0 5px;
    transform: rotate(-45deg);
  }
}

.det-wrp-bottom {
  padding: 0 !important;
}

.align-slf {
  align-self: center;
}

.caps {
  text-transform: capitalize;
}

#copyapi,
#copyapilinkdev,
#copyapilinkprod {
  opacity: 0;
  position: absolute;
  z-index: -100000;
}

.view-all {
  color: #1495c1;
  cursor: pointer;
}

.copy-arn {
  height: 1.5rem;
  transform: rotate(-45deg);
}

.testApiBtn {
  /deep/ .btnT-radial-in {
    padding: 0.25rem 1rem;
    border: 1px solid #ed008c;
    width: 138px;
    margin: 0;
    margin-left: 20px; // outline: none;
    // /* background-color: #c62770; */
    // color: #c62770;
    // border-color: pink;
    // box-shadow: none;
    // &:hover .tooltip-content{
    //     display: block;
    // }
  }
}

.feedback-overlay {
  position: fixed;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  z-index: 1000;
  text-align: center;
  .separator-row {
    border-bottom: 1px solid #ccc;
    margin-top: 2rem;
  }
  .feedback-wrap {
    min-width: 500px;
    width: 45%;
    max-width: 600px;
    top: 20%;
    margin: 0 auto;
    align-self: center;
    background-color: #fff;
    padding: 2rem;
    font-size: 16px;
    .feedback-hdr {
      font-size: 2rem;
      font-weight: bold;
    }
  }
  .feedback-text-wrap {
    p {
      padding: 1.5rem 0;
    }
    textarea {
      padding: 10px 10px;
      width: 100% !important;
      height: 100px !important;
    }
  }
  .feedback-text-wrap.feedbackRes {
    position: absolute;
    padding: 0 3rem;
    top: 46%;
    left: 0;
    .show {
      &.feedbackResSuccess {
        // margin:4rem 0;
        div {
          // padding-top: 2rem;
        }
      }
      &.feedbackResErr {
        // padding: 4rem 0;
      }
    }
  }
  .feedback-btn-wrap {
    font-size: 13px;
    text-align: right; // position: absolute;
    // right: 0;
    // padding: 2rem;
    // bottom: 0;
    a {
      margin: 5px;
      cursor: pointer;
    }
    .feedback-submit {
      /deep/ button.btn-primary {
        line-height: 3rem;
      }
    }
  }
  /deep/ button.btn-primary:focus,
  button.btn-primary:active {
    background-color: #ed008c !important;
    color: #fff !important;
    border: 1px solid #ed008c !important;
  }
}

.includeError {
  display: inline-block;
  float: left;
}

.custom-cb {
  label {
    border: 1px solid #999;
  }
}

.edit-service-overview-btn {
  a {
    cursor: pointer;
    font-size: 1rem;
    color: #fc2f98;
  }
  /deep/ .btn-edit-overview {
    .btnT-radial-in {
      background: transparent;
      border: 1px solid;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
      padding: 0 1.5rem;
      border-radius: 30px;
      margin: 0.5rem;
      font-size: 1rem;
      line-height: 2;
      &:active,
      &:focus {
        background-color: transparent;
        color: #c62770;
      }
      &:hover {
        // outline: none;
        border: 1px solid #c62770;
        background-color: #c62770;
        color: #fff;
      }
    }
    .btnT-radial-in[disabled] {
      opacity: 0.7;
      cursor: not-allowed;
      box-shadow: none;
    }
  }
}

.edit-service-overview-btn {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 1;
  padding: 0.5rem 1rem;
}

.det-value-input-txtarea {
  width: 70%;
  border: none;
  border: 1px solid #ccc;
  height: 70px;
}

.overview-for-endpoints {
  // display: flex; 
}

.det-Label {
  font-weight: bold;
  display: inline-block;
  margin-top: 0.5rem;
  width: 13rem;
}

.det-Value {
  display: inline-flex;
  margin-top: 0.5rem;
  div {
    padding: 0 1rem;
    border-right: 1px solid grey;
    &:first-child {
      padding-left: 0;
    }
    &:nth-child(3) {
      border: none !important; // margin-right: 1rem;
    }
  }
}

.env-details {
  margin: 0;
  padding: 1.6rem;
}
